@mixin apply-variation( $i ) {
    --sm-current-accent-color: var(--sm-accent-color-#{ $i });
    --sm-current-background-color: var(--sm-color-#{ $i });
    --sm-current-dark-color: var(--sm-dark-color-#{ $i });
    --sm-current-darker-color: var(--sm-darker-color-#{ $i });
}