@mixin badge( $style: default ) {
	border: none;
	padding: .21em .6em 0.23em;

	@if $style == default {
		background-color: var(--sm-current-bg-color);

		border-radius: 0;
	}

	@if $style == highlighted {
		background-color: var(--sm-current-accent-color);
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3));
		background-blend-mode: hue;
		
		color: var(--sm-current-bg-color);
		
		border-radius: 1em;
		border: none;
	}
	
}
