@mixin badge {
	background-color: var(--sm-color-primary);
	background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
	color: var(--sm-light-primary);
	
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	
	border-radius: 1em;
	padding: .25em .9em;
}
