

@mixin apply-font( $name ) {
    $config: map-get( $theme-fonts, $name );

    @if ( map_get( $config, font-size ) ) {
        --font-size: var(--theme-#{$name}-font-size);
        font-size: var(--current-font-size);
    }

    @each $prop, $value in $config {
        @if $prop != font-size {
            --current-#{ $prop }: var(--theme-#{ $name }-#{ $prop });
        }
    }
}
