// Forms General Options

$color-error: #C8164B;

// @todo more semantic for these variables
$color-dark: var(--current-dark-secondary) !default;
$color-white: var(--current-light-primary) !default;

$input-color: var(--current-dark-secondary) !default;
$input-disabled-color: var(--current-dark-secondary) !default;
$input-placeholder-color: var(--curent-dark-primary) !default;
$input-placeholder-opacity: .5 !default;

// Border
$input-border-color: rgba(map_get($theme_colors, dark-primary), 0.3);
$input-focus-border-color: rgba(map_get($theme_colors, color-primary), 0.5);
$input-hover-border-color: rgba(map_get($theme_colors, dark-primary), 0.6);
$input-error-border-color: rgba(map_get($theme_colors, color-primary), 0.5);
$input-disabled-border-color: var(--current-dark-secondary) !default;

$input-border-width: .0625em !default;

$input-border-radius: 0px !default;


// Background Color
$input-background-color: var(--current-light-primary) !default;
$input-disabled-background-color: var(--current-dark-secondary) !default;

// Box Shadow
$input-box-shadow-color: rgba(map_get($theme_colors, dark-primary), 0.3) !default;
$input-focus-box-shadow-color: rgba(map_get($theme_colors, color-primary), 0.5);

// Box
$input-padding: .833em !default;
$input-padding-mobiles: .35em !default;


$placeholder-color: var(--current-dark-secondary) !default;

$label-color: var(--current-dark-secondary) !default;

$legend-color: var(--current-dark-secondary) !default;

$button-color: var(--current-light-primary) !default;
$button-background-color: var(--current-dark-secondary) !default;

$checkbox-color: var(--current-color-primary) !default;
$checkbox-background-color: var(--current-color-primary) !default;
$checkbox-width: 1.25rem !default;
$checkbox-height: 1.25rem !default;
$background-image-checkbox: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="301 20 13 9" enable-background="new 0 0 13 9" xml:space="preserve" width="13px" height="9px"><g><polygon points="313 20 314 21 306 29 301 24 302 23 306 27" x="0" y="0" style="fill:rgb(0,0,0);stroke-width:0"></polygon></g></svg>';

// Spacing
$input-vertical-spacing: var(--theme-spacing-tiny) !default;
$input-horizontal-spacing: var(--theme-spacing-tiny) !default; // Checkboxes and Radios


:root {
  --theme-input-color: #{$input-color};
  --theme-input-placeholder-color: #{$input-placeholder-color};
  --theme-input-placeholder-opacity: #{$input-placeholder-opacity};
  --theme-input-error-color: #{$color-error};
  --theme-input-border-color: #{$input-border-color};
  --theme-input-focus-border-color: #{$input-focus-border-color};
  --theme-input-hover-border-color: #{$input-hover-border-color};
  --theme-input-error-border-color: #{$input-error-border-color};

  --theme-input-border-width: #{$input-border-width};
  --theme-input-border-radius: #{$input-border-radius};
  --theme-input-background-color: var(--current-light-primary);

  --theme-input-box-shadow:   0px 0px 0px 1px rgba(var(--opacity-color), 0.70),
                        0px 0px 0px 1px var(--current-dark-primary);

  --theme-input-focus-box-shadow: 0px 0px 0px 2px rgba(var(--opacity-color), 0.40),
                            0px 0px 0px 2px var(--current-color-primary),
                            0px 0px 27px 5px var(--current-light-primary),
                            0px 0px 10px 0px var(--current-color-primary);

  --theme-input-hover-box-shadow: 0px 0px 0px 1px rgba(var(--opacity-color), 0.30),
                            0px 0px 0px 1px var(--current-dark-primary);

  --theme-input-error-box-shadow: 0px 0px 0px 1px var(--theme-input-error-color);

  --theme-input-padding: #{$input-padding-mobiles};

  @include above(tablet) {
    --theme-input-padding: #{$input-padding};
  }

  --opacity-color: 255, 255, 255;
}

@mixin field {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: var(--theme-input-padding);

  color: var(--theme-input-color);
  border-radius: var(--theme-input-border-radius);
  background-color: var(--theme-input-background-color);
  box-shadow: var(--theme-input-box-shadow);

  border: 0;

  transition: all .2s ease-in-out;

  @include apply-font(field);
  font-family: inherit;
  -webkit-font-smoothing: initial;
  -webkit-appearance: none;

  &:hover {
    --theme-input-box-shadow: var(--theme-input-hover-box-shadow);
  }

  &:focus,
  &:active {
    --theme-input-border-color: var(--theme-input-focus-border-color);
    --theme-input-box-shadow: var(--theme-input-focus-box-shadow);
    outline: 0;
  }

  &[disabled] {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-background-color;
  }

  [class*="invalid"] & {
    --theme-input-box-shadow: var(--theme-input-error-box-shadow);
    --theme-input-color: var(--theme-input-error-color);
    --theme-input-placeholder-color: var(--theme-input-error-color);
    --theme-input-placeholder-opacity: 0;
  }
}


@mixin input {
  @include field;
}

@mixin textarea {
  @include field;

  min-height: 7.5em;
  resize: vertical;
}

@mixin select {
  @include field;

  padding-right: 3.125em;

  background-color: var(--current-light-tertiary);
  background-image: url($caret-svg-path);
  background-position: calc(100% - 17px) center;
  background-repeat: no-repeat;
  background-size: .56em .312em;

  -webkit-appearance: none;
}

@mixin label {
  color: $label-color;
  display: flex;
  align-items: center;
  @include apply-font(field);
  --current-font-weight: bold;
  margin: 0;

  &:not(:first-child) {
    margin-top: $input-vertical-spacing;
  }

  &:not(:last-child) {
    margin-bottom: $input-vertical-spacing;
  }

  cursor: pointer;
}

@mixin checkbox-base {
  position: relative;
  left: 0;

  float: left;
  clear: left;

  box-shadow: var(--theme-input-box-shadow);

  border-radius: $input-border-radius;

  width: $checkbox-width !important;
  height: $checkbox-height !important;
  margin-right: $input-horizontal-spacing;
  //margin-bottom: $input-vertical-spacing;

  background-color: $color-white;
  cursor: pointer;

  -webkit-appearance: none;
}

@mixin checkbox {
  @include checkbox-base;
  border-color: $checkbox-color;
  transition: all .2s ease-in-out;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $checkbox-background-color;
    background-image: url($checkbox-svg-path);
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .1s ease-in-out;
  }

  &:hover {
    --theme-input-box-shadow: var(--theme-input-hover-box-shadow);
  }

  &:focus,
  &:active {
    --theme-input-border-color: var(--theme-input-focus-border-color);
    --theme-input-box-shadow: var(--theme-input-focus-box-shadow);
    outline: 0;
  }

  &:checked {

    box-shadow: 0 0 0 1px var(--current-color-primary);

    &:after {
      opacity: 1;
    }
  }
}

@mixin radio {
  @include checkbox-base;
  border-radius: 50%;
  transition: all .2s ease-in-out;

  -webkit-font-smoothing: initial;
  -webkit-appearance: none;

  &:hover {
    --theme-input-box-shadow: var(--theme-input-hover-box-shadow);
  }

  &:focus,
  &:active {
    --theme-input-border-color: var(--theme-input-focus-border-color);
    --theme-input-box-shadow: var(--theme-input-focus-box-shadow);
    outline: 0;
  }

  &:checked {
    border: .375em solid $checkbox-color;
    box-shadow: 0 0 0 1px var(--current-color-primary);
    outline: 0;
  }
}
