@mixin field {
  height: auto;
  max-width: 100%;
  padding: var(--theme-input-padding);
  border: var(--theme-input-border);

  color: var(--theme-input-color);
  border-radius: var(--theme-input-border-radius);
  background-color: var(--theme-input-background-color);

  @include apply-font(field);
  -webkit-font-smoothing: initial;
  -webkit-appearance: none;

  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    border-color: var(--theme-input-focus-border-color);
  }

  &.disabled,
  &[disabled] {
    border-color: var(--theme-input-disabled-border);
    background-color: var(--theme-input-disabled-background-color);
  }
}

@mixin input {
  @include field;
}

@mixin textarea {
  @include field;
  display: block;
  min-height: 7.5em;
  resize: vertical;
}

@mixin select {
  @include field;

  padding-right: 3.125em;

  background-color: var(--current-light-tertiary);
  background-image: url($caret-svg-path);
  background-position: calc(100% - 1em) center;
  background-repeat: no-repeat;
  background-size: .56em .312em;

  -webkit-appearance: none;
}

@mixin label {
  color: var(--theme-input-label-color);
  font: inherit;
  margin: 0;

  &:not(:first-child) {
    margin-top: var(--theme-input-vertical-spacing);
  }

  &:not(:last-child) {
    margin-bottom: var(--theme-input-vertical-spacing);
  }

  cursor: pointer;
}

@mixin checkbox-base {
  position: relative;
  left: 0;

  float: left;
  clear: left;

  border: var(--theme-input-border);
  border-radius: var(--theme-input-border-radius);

  width: var(--theme-checkbox-width) !important;
  height: var(--theme-checkbox-height) !important;
  margin-right: var(--theme-input-horizontal-spacing);
  margin-bottom: var(--theme-input-vertical-spacing);

  background-color: var(--theme-checkbox-background-color);
  cursor: pointer;

  -webkit-appearance: none;
}

@mixin checkbox {
  @include checkbox-base;

  &:checked {
    border-color: var(--theme-checkbox-border-color);
    background-image: url($checkbox-svg-path);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: 0;
  }
}

@mixin radio {
  @include checkbox-base;
  border-radius: 50%;

  &:checked {
    border: .43em solid var(--theme-checkbox-border-color);
    outline: 0;
  }
}
