@mixin field {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: var(--theme-input-padding);
  margin: 0;

  color: var(--sm-current-fg1-color);
  border-radius: var(--theme-input-border-radius);
  background-color: var(--sm-current-bg-color);
  box-shadow: var(--theme-input-box-shadow);

  border: 0;

  transition: all .2s ease-in-out;

  @include apply-font(input);
  -webkit-font-smoothing: initial;
  -webkit-appearance: none;

  &:hover {
    --theme-input-box-shadow: var(--theme-input-hover-box-shadow);
  }

  &:focus,
  &:active {
    --theme-input-border-color: var(--theme-input-focus-border-color);
    --theme-input-box-shadow: var(--theme-input-focus-box-shadow);
    outline: 0;
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  [class*="invalid"] & {
    --theme-input-box-shadow: var(--theme-input-error-box-shadow);
    --theme-input-color: var(--theme-input-error-color);
    --theme-input-placeholder-color: var(--theme-input-error-color);
    --theme-input-placeholder-opacity: 0;

    &:hover {
      --theme-input-box-shadow: var(--theme-input-error-box-shadow);
    }

    &:focus,
    &:active {
      --theme-input-box-shadow: var(--theme-input-focus-error-box-shadow);
    }
  }
}


@mixin input {
  @include field;
}

@mixin textarea {
  @include field;

  min-height: 7.5em;
  resize: vertical;
}

@mixin select {
  @include field;
  --select-icon-size: 6px;

  @include above(tablet) {
    --select-icon-size: 8px;
  }

  padding-right: 3.125em;

  background-image: linear-gradient(45deg, transparent 50%, var(--sm-current-fg2-color) 50%), linear-gradient(135deg, var(--sm-current-fg2-color) 50%, transparent 50%);
  background-position: calc(100% - var(--theme-input-padding) - var(--select-icon-size)) center, calc(100% - var(--theme-input-padding)) center;
  background-size: var(--select-icon-size) var(--select-icon-size), var(--select-icon-size) var(--select-icon-size);
  background-repeat: no-repeat;

  -webkit-appearance: none;
}

@mixin label {
  color: var(--theme-input-label-color);
  display: flex;
  align-items: center;
  @include apply-font(input);
  --current-font-weight: bold;
  margin: 0;

  &:not(:first-child) {
    margin-top: var(--theme-input-vertical-spacing);
  }

  &:not(:last-child) {
    margin-bottom: var(--theme-input-vertical-spacing);
  }

  cursor: pointer;
}

@mixin checkbox-base {
  position: relative;
  left: 0;

  float: left;
  clear: left;

  box-shadow: var(--theme-input-box-shadow);

  border-radius: var(--theme-input-border-radius);

  width: var(--theme-checkbox-width) !important;
  height: var(--theme-checkbox-height) !important;
  margin-right: var(--theme-input-horizontal-spacing);

  background-color: var(--sm-current-bg-color);
  cursor: pointer;

  -webkit-appearance: none;
  transition: all .3s ease;
}

@mixin checkbox {
  @include checkbox-base;
  border-color: var(--sm-current-accent-color);

  color: var(--sm-current-bg-color);

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sm-current-accent-color);
    background-image: url($checkbox-svg-path);
    background-size: 60% 60%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover {
    --theme-input-box-shadow: var(--theme-input-hover-box-shadow);
  }

  &:focus,
  &:active {
    --theme-input-border-color: var(--theme-input-focus-border-color);
    --theme-input-box-shadow: var(--theme-input-focus-box-shadow);
    outline: 0;
  }

  &:checked {

    box-shadow: 0 0 0 1px var(--sm-current-accent-color);

    &:after {
      opacity: 1;
    }
  }
}

@mixin radio {
  @include checkbox-base;
  border-radius: 50%;
  border: 0 solid var(--sm-current-accent-color);

  -webkit-font-smoothing: initial;
  -webkit-appearance: none;

  &:hover {
    --theme-input-box-shadow: var(--theme-input-hover-box-shadow);
  }

  &:focus,
  &:active {
    --theme-input-border-color: var(--theme-input-focus-border-color);
    --theme-input-box-shadow: var(--theme-input-focus-box-shadow);
    outline: 0;
  }

  &:checked {
    border-width: .375em;
    box-shadow: 0 0 0 1px var(--sm-current-accent-color);
    outline: 0;
  }
}
