$theme-breakpoints: () !default;

@mixin above( $value ) {
    $breakpoint: map-get( $theme-breakpoints, $value );

    @if ( $breakpoint != null ) {
        $value: $breakpoint;
    }

    @if ( unitless( $value ) == false ) {
        @media only screen and (min-width: $value) {
            @content;
        }
    }
}

@mixin below( $value ) {
    $breakpoint: map-get( $theme-breakpoints, $value );

    @if ( $breakpoint != null ) {
        $value: $breakpoint;
    }

    @if ( unitless( $value ) == false ) {
        @media not screen and (min-width: $value) {
            @content;
        }
    }
}

[class*="u-mq"] {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    visibility: hidden;
}

@each $name, $value in $theme-breakpoints {
    .u-mq-below-#{$name} {
        @include above($name) {
            display: none;
        }
    }

    .u-mq-above-#{$name} {
        @include below($name) {
            display: none;
        }
    }
}

