@mixin quote {
    @include apply-font(heading-3);
}

@mixin quote-decorated {

    &:before {
        content: "";
        display: block;
        height: 0.1em;
        background-color: var(--sm-current-accent-color);
        margin-bottom: var(--theme-spacing);
        max-width: 5em;
    }
}

@mixin quote__cite {
    margin-top: var(--theme-spacing);
    @include apply-font(body);
    font-style: normal;
}