@function align-selector( $align, $editor: false ) {
    @if $editor != false {
        @return unquote( "[data-align=#{ $align }]" );
    } @else {
        @return unquote( ".align#{ $align }" )
    }
}

@mixin wrapper-sides-spacing( $editor: false ) {
    padding-left: var(--theme-wrapper-sides-spacing);
    padding-right: var(--theme-wrapper-sides-spacing);

    $full: align-selector( full, $editor );

    > #{ $full } {
        margin-left: calc( -1 * var(--theme-wrapper-sides-spacing) );
        margin-right: calc( -1 * var(--theme-wrapper-sides-spacing) );

        &.stop-right {
            margin-right: 0;
        }

        &.stop-left {
            margin-left: 0;
        }

        &.stop-left.stop-right {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@mixin wrapper {
    @include wrapper-sides-spacing;
}
