.wp-block-group {
    padding-top: var(--theme-spacing-fluid-large);
    padding-bottom: var(--theme-spacing-fluid-large);

    // pentru orice eventualitate
    &.has-background,
    &[class*="is-style"] {

    }

	// No background 
	// Set "large" spacing 
	&:not([class*="is-style"]) {
		padding-top: 0;
		padding-bottom: 0;

		margin-bottom: var(--element-spacing);
	}
}