$enable-search-block-styles:            true !default;

@if $enable-search-block-styles == true {

	.wp-block-search {
		
		&__inside-wrapper {
			display: flex;
		}
		
		&:not(.wp-block-search__icon-button) {
			
			.wp-block-search__button {
				
				min-width: max-content !important;
				
				&:after {
					content: none;
				}
			}
		}
		
		&__button {
			
			position: relative;
			
			@include specific(2) {
				--theme-button-background-color: var(--sm-current-accent-color);
				--theme-button-border-color: var(--sm-current-accent-color);
				--theme-button-text-color: var(--sm-current-bg-color);
				--theme-button-hover-border-color: var(--sm-current-accent-color);
				--theme-button-hover-text-color: var(--sm-current-accent-color);
			}
			
			&:after {
				content: '';
				position: absolute;
				left: .8em;
				top: 50%;
				transform: translateY(-50%);
				
				display: block;
				width: 1.2em;
				height: 1.2em;
				
				border: 0;
				padding: 0;
				
				mask: url($icon-search-path) no-repeat 50% 50%;
				mask-size: cover;
				-webkit-mask: url($icon-search-path) no-repeat 50% 50%;
				-webkit-mask-size: cover;
				
				background-color: var(--theme-button-text-color);
				transition: background-color .15s $ease;
			}
			
			&:hover:after {
				background-color: var(--theme-button-hover-text-color);
			}
			
			svg {
				display: none;
			}
		}
		
		&__button-outside {
			
			.wp-block-search__button {
				margin-left: 10px;
			}
		}
		
		&__no-button {
			
			.wp-block-search__inside-wrapper {
				
				position: relative;
				
				&:before {
					content: '';
					position: absolute;
					left: .8em;
					top: 50%;
					transform: translateY(-50%);
					
					display: block;
					width: 1.2em;
					height: 1.2em;
					
					border: 0;
					padding: 0;
					
					mask: url($icon-search-path) no-repeat 50% 50%;
					mask-size: cover;
					-webkit-mask: url($icon-search-path) no-repeat 50% 50%;
					-webkit-mask-size: cover;
					
					background-color: var(--sm-current-accent-color);
					transition: opacity 0.5 $ease;
				}
				
				&:hover:before {
					opacity: 0.75;
				}
				
				.wp-block-search__input {
					padding-left: calc(var(--theme-input-padding) + 1.75em);
				}
			}
		}
	}
}
