$enable-search-block-styles:            true !default;

/*------------------------------------*\
  #BLOCK - Search
\*------------------------------------*/

@if $enable-search-block-styles == true {

	.wp-block-search {
		
		/**
		 * WRAPPER
		 * Use CSS grid to display the search input field and submit button on the same row
		 */
		&__inside-wrapper {
			display: grid;
			grid-template-columns: 1fr auto;

			.wp-block-search__input {
				grid-row: 1 / span 1;
				grid-column: 1 / span 1;
			}

			.wp-block-search__button {
				grid-row: 1 / span 1;	
				grid-column: 2 / span 1;

				// margin: 4px;
			}
		}
		
		/**
		 * INPUT
		 * 
		 * 1) The search input field inherits most of the standard field styles.
		 * 2) On mobile devices, the search input should follow the button
		 * 	  height and not the other way around, so the clickable area  
		 * 	  remains larger for both input and button.
		 * 3) Reset the default padding value (for mobile devices) to be the same 
		 * 	  as on the desktop.
		 * 	  
		 */
		
		input[type="search"] {
			--theme-input-padding: var(--theme-input-padding-above-tablet);
		}
		
		/**
		 * BUTTON
		 */
		&__button {		
			position: relative;
			
			@include specific(2) {
				--theme-button-background-color: var(--sm-current-accent-color);
				--theme-button-border-color: var(--sm-current-accent-color);
				--theme-button-text-color: var(--sm-current-bg-color);
				--theme-button-hover-border-color: var(--sm-current-accent-color);
				--theme-button-hover-text-color: var(--sm-current-accent-color);
			}
			
			&:after {
				content: '';
				position: absolute;
				left: .8em;
				top: 50%;
				transform: translateY(-50%);
				
				display: block;
				width: 1.2em;
				height: 1.2em;
				
				border: 0;
				padding: 0;
				
				mask: url($icon-search-path) no-repeat 50% 50%;
				mask-size: cover;
				-webkit-mask: url($icon-search-path) no-repeat 50% 50%;
				-webkit-mask-size: cover;
				
				background-color: var(--theme-button-text-color);
				transition: background-color .15s $ease;
			}
			
			&:hover:after {
				background-color: var(--theme-button-hover-text-color);
			}
			
			svg {
				display: none;
			}
		}		



		/**
		 * BUTTON POSITION: Outside search field
		 */
		&__button-outside {
			.wp-block-search__inside-wrapper {
				column-gap: 10px;
			}
		}

		/**
		 * BUTTON POSITION: Inside search field
		 * Place the button inside the input field and add some spacing around it
		 */
		&__button-inside {
			position: relative;

			.wp-block-search__input {
				grid-column: 1 / span 2;
			}

			.wp-block-search__button {	
				margin: 4px;
			}
		}



		/**
		 * BUTTON STYLE: Button without icon
		 */
		&:not(.wp-block-search__icon-button) {
			.wp-block-search__button {	
				min-width: max-content;
				
				&:after {
					content: none;
				}
			}
		}

		/**
		 * BUTTON STYLE: No button
		 * When there is no button, display the search icon as a hint.
		 */
		&__no-button {
			.wp-block-search__inside-wrapper {	
				position: relative;
				
				&:before {
					content: '';
					position: absolute;
					left: .8em;
					top: 50%;
					transform: translateY(-50%);
					
					display: block;
					width: 1.2em;
					height: 1.2em;
					
					border: 0;
					padding: 0;
					
					mask: url($icon-search-path) no-repeat 50% 50%;
					mask-size: cover;
					-webkit-mask: url($icon-search-path) no-repeat 50% 50%;
					-webkit-mask-size: cover;
					
					background-color: var(--sm-current-accent-color);
					transition: opacity 0.5 $ease;
				}
				
				&:hover:before {
					opacity: 0.75;
				}
				
				.wp-block-search__input {
					padding-left: calc(var(--theme-input-padding) + 1.75em);
				}
			}
		}
	}
}
