.c-comments-toggle__label {
    @include button;
    @include button-fill;

    display: block;
    text-align: center;

    // overwrite margin set on label:not(:last-child)
    &[class] {
        margin-bottom: 0;
    }
}

.c-comments-toggle__checkbox {
    display: none;

    &:not(:checked) + .c-comments-toggle__label ~ * {
        display: none;
    }
}
