.comments-area {
    @include space-children-y( var(--theme-spacing-large) );

    clear: both;

    &:not(:first-child) {
        margin-top: var(--theme-spacing-fluid-large);
    }
}

.comments-area__wrap {
    overflow: hidden;

    &[class] {
        margin-top: 0;
    }
}

.comments-area__content {
    padding-top: var(--theme-content-spacing);

    @include space-children-y( var(--theme-spacing-large) );
}

.article-comments {
    padding-left: var(--theme-wrapper-sides-spacing);
    padding-right: var(--theme-wrapper-sides-spacing);
}
