@include specific(3) {

    .wc-block-grid {
        --column-gap: var(--theme-spacing-normal);
        --row-gap: var(--theme-spacing-normal);
        clear: both;

        @include below(tablet) {
            overflow-x: hidden;
        }

        &.has-aligned-buttons {
            .wc-block-grid__product {
                display: flex;
                flex-direction: column;
            }
        }

        &.has-1-columns {

            .wc-block-grid__products {
                display: block;
            }

            .wc-block-grid__product {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        @include above(lap) {
            @for $i from 2 to 9 {
                &.has-#{$i}-columns .wc-block-grid__product {
                    flex: 1 0 calc(#{ 100% / $i });
                    max-width: 100% / $i;
                }
            }
        }

        @include above(tablet) {
            .wc-block-grid__product {
                flex: 1 0 50%;
                max-width: 50%;
            }
        }
    }

    .wc-block-grid__product-image img {
        display: block;
    }

    .wc-block-grid__products {
        list-style: none;

        padding: 0;
        margin: 0 calc(-1 * var(--column-gap)) 0 0;


        @include above(tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            margin-top: 0;
        }
    }

    .wc-block-grid__product {
        position: relative;

        width: auto;
        margin: 0 0 var(--row-gap) 0;
        padding: 0 var(--column-gap) 0 0;
        border: 0;

        float: none;
        clear: both;

        font-size: inherit;
        text-align: left;

        .add_to_cart_button:not(.loading):after {
            content: "+";
            padding-left: .5em;
            right: 0;
        }
    }

    .wc-block-grid__product-onsale {
        position: absolute;
        top: var(--theme-spacing-smallest);
        left: var(--theme-spacing-smallest);
        z-index: 10;

        margin: 0;
        @include badge();
        @include apply-font(meta, true);

        --font-size-modifier: 0.9
    }

    .wc-block-grid__product-title {
        margin-top: var(--theme-spacing-smallest);
        margin-bottom: 0;
        color: var(--sm-current-fg2-color);
        
        @include apply-font(heading-4);

        font-family: var(--current-font-family);
        font-weight: var(--current-font-weight);
        font-size: var(--final-font-size);
        line-height: var(--current-line-height);
    }

    .wc-block-grid__product-link {
        --current-aspect-ratio: 1;

        position: relative;
        display: block;
        text-decoration: none;

        &,
        &:before,
        .wc-block-grid__product-image {
            padding-top: calc(100% / var(--current-aspect-ratio));
        }

        &:before,
        .wc-block-grid__product-image {
            position: absolute;
            top: 0;
            left: 0;

            display: block;
            width: 100%;
        }

        .wc-block-grid__product-image img {
            @include image-cover;
        }

        &:before {
            content: "";
            background-color: var(--theme-light-tertiary);
        }
    }

    .wc-block-grid__product-add-to-cart {
        text-align: center;

        .add_to_cart_button[class] {
            display: block;
            width: 100%;
        }
    }

    .wc-block-grid__product > :not(:last-child) {
        margin-bottom: var(--theme-spacing-smallest);
    }

    .wc-block-grid__product-price {
        color: var(--theme-dark-primary);

        @include apply-font(meta);

        del {
            opacity: .5;
        }

        ins {
            text-decoration: none;
        }
    }

    .wc-block-grid__product-image img {
        width: 100%;
    }

    .wc-block-grid__product-rating {

        .star-rating {
            overflow: hidden;
            position: relative;
            width: 5.3em;
            height: 1.618em;
            line-height: 1.618;
            font-size: 1em;
            font-family: star; /* stylelint-disable-line */
            font-weight: 400;
            display: inline-block;
            margin: 0 auto;
            text-align: left;

            &::before {
                content: "\53\53\53\53\53";
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
                opacity: .5;
                color: var(--sm-current-accent-color);
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding-top: 1.5em;
                overflow: hidden;
            }

            span::before {
                content: "\53\53\53\53\53";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                color: var(--sm-current-accent-color);
            }
        }
    }

    @media (pointer: fine) {

        .wp-block-button.wc-block-grid__product-add-to-cart {
            transform: translateY(-10px);
            opacity: 0;
        }

        .wc-block-grid__product:hover {

            .wc-block-grid__product-add-to-cart {
                transform: translateY(0);
                opacity: 1;
            }

            .wc-block-grid__product-link,
            .wc-block-grid__product-price,
            .wc-block-grid__product-rating,
            .wc-block-grid__product-onsale {
                transform: translateY(-10px);
                transition: transform .25s $easeOutQuad;
            }
        }
    }

    .wc-block-grid__product-link,
    .wc-block-grid__product-price,
    .wc-block-grid__product-rating,
    .wc-block-grid__product-onsale {
        transition: transform .25s $easeOutQuad;
    }

    .wc-block-grid__product-add-to-cart {
        transition: all .25s $easeOutQuad;
        transition-property: opacity, transform;

        .added_to_cart {
            display: none;
        }
    }
}
