$wp-colors: (
    sm-color-primary: var(--theme-sm-color-1),
    sm-color-secondary: var(--theme-sm-color-2),
    sm-color-tertiary: var(--theme-sm-color-3),
    sm-dark-primary: var(--theme-sm-dark-1),
    sm-dark-secondary: var(--theme-sm-dark-2),
    sm-dark-tertiary: var(--theme-sm-dark-3),
    sm-light-primary: var(--theme-sm-light-1),
    sm-light-secondary: var(--theme-sm-light-2),
    sm-light-tertiary: var(--theme-sm-light-3),
);

/* Color Helper Classes */
.has-background {
    padding: 1em 1.25em;
}

@each $name, $color in $wp-colors {

    .has-#{$name}-background-color {
        background-color: $color;

        @include specific(3) {

            &.wp-block-button__link {

                &.is-style-primary {
                    @include button-fill;
                }

                &.is-style-secondary {
                    @include button-fill-reverse;
                }

                background-color: transparent !important;
                --theme-button-background-color: #{$color};
                --theme-button-hover-background-color: transparent;
            }
        }
    }

    .has-#{$name}-color {
        color: $color;

        @include specific(3) {
            &.wp-block-button__link {
                color: var(--current-button-text-color) !important;
                --theme-button-text-color: #{$color};
                --theme-button-hover-text-color: #{$color};
                --theme-button-border-color: #{$color};
                --theme-button-hover-border-color: #{$color};
            }
        }
    }
}

/* Alignment Helper Classes */
@each $alignment in left, center, right {

    .has-text-align-#{$alignment} {
        text-align: $alignment;
    }
}
