$wp-colors: (
    pale-pink: #f78da7,
    vivid-red: #cf2e2e,
    luminous-vivid-orange: #ff6900,
    luminous-vivid-amber: #fcb900,
    light-green-cyan: #7bdcb5,
    vivid-green-cyan: #00d084,
    pale-cyan-blue: #8ed1fc,
    vivid-cyan-blue: #0693e3,
    vivid-purple: #9b51e0,
    very-light-gray: #eee,
    cyan-bluish-gray: #abb8c3,
    very-dark-gray: #313131,

    nova-blue: #203AB6,
    nova-yellow: #FFE42E,
    nova-almost-black: #000043,
    nova-darkest-blue: #272743,
    nova-white: #FFFFFF,
    nova-gray: #EEF1F2,
);

/* Color Helper Classes */
.has-background {
    padding: 1em 1.25em;
}

@each $name, $color in $wp-colors {

    .has-#{$name}-background-color {
        background-color: $color;
    }

    .has-#{$name}-color {
        color: $color;
    }
}

/* Alignment Helper Classes */
@each $alignment in left, center, right {

    .has-text-align-#{$alignment} {
        text-align: $alignment;
    }
}
