$is-style-divider-selector: '[data-connection-style="is-style-divider"]' !default;
$is-style-timeline-selector: '[data-connection-style="is-style-timeline"]' !default;
$is-style-no-connection-selector: '[data-connection-style="is-style-no-connection"]' !default;

$is-list-no-marker-selector: '[data-list-style="list-no-marker"]' !default;
$is-list-bullet-selector: '[data-list-style="list-bullet-style"]' !default;
$is-list-checkmark-selector: '[data-list-style="list-checkmark-style"]' !default;

.block-editor-block-list__layout[class][class] {
	
	@import 'common';
}
