.is-style-divider {
	
	li {
		--element-spacing: var(--theme-spacing-fluid-default);
		
		&:not(:last-child) {
			border-bottom: var(--separator-weight) solid var(--current-light-secondary);
			padding-bottom: var(--element-spacing);
		}
	}
	
}

// This will be applied only on uls
// with bullet style.
.is-style-timeline {

	position: relative;
	
	// We want to overwrite
	// default list styling, by using :before.
	
	list-style-type: none;
	
	&:not(.list-checkmark-style) {
		
		> li:not(:last-child) {
			
			// Add a left border on every list element,
			// except the last child.
			&:after {
				content: '';
				position: absolute;
				width: var(--separator-weight);
				height: calc(100% + var(--element-spacing));
				left: calc(-1 * var(--list-padding) + var(--separator-weight) + var(--separator-weight) * 0.5);
				top: 0.55em;
				background-color: var(--current-light-secondary);
			}
		}
	}
}

.entry-content {
	@import 'common';
}

