$is-style-divider-selector: '.is-style-divider' !default;
$is-style-timeline-selector: '.is-style-timeline' !default;
$is-style-no-connection-selector: '.is-style-no-connection' !default;

$is-list-no-marker-selector: '.list-no-marker' !default;
$is-list-bullet-selector: '.list-bullet-style' !default;
$is-list-checkmark-selector: '.list-checkmark-style' !default;


@import 'common';

