:root {
  --icons-size-multiplier: 1.3;
}

.wp-block[data-type="novablocks/logo"] {

  a {
    color: var(--sm-current-fg2-color);
  }

  .site-title,
  .site-description {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.c-logo__inverted {
  display: none;
}

.site-header > div:first-child {
  padding-left: var(--theme-header-sides-spacing);
  padding-right: var(--theme-header-sides-spacing);
}

.site-header {
  
  .site-logo {
    
    img {
      display: block;
      max-width: 100%;
      width: auto;
      height: var(--theme-header-logo-height);
      object-fit: contain;
    }
  }
}
