@import "mixins";
@import "mobile";
@import "menu-toggle";

.novablocks-header--main:not(.novablocks-header--sticky) {

    @include above(lap) {
        position: absolute !important;
        top: 0 !important;
    }

    @include below(lap) {
        margin-top: 0 !important;
    }
}

.novablocks-header:not(.novablocks-header--ready) {
    opacity: 0;
}

.novablocks-header.novablocks-header--transparent:not(.novablocks-header--sticky) {
    --header-background-opacity: 0;
}

.novablocks-header--sticky:not(.novablocks-header--main) {

    @include above(lap) {
        margin-top: 0 !important;
    }
}

.novablocks-header--sticky.novablocks-header--main {
    position: fixed !important;
    top: 0 !important;
}

.novablocks-header__buttons-menu {
    position: absolute;
    top: 0;
    right: 0;

    .menu {
        display: flex;
        align-items: center;
    }

    @include above( lap ) {
        display: none;
    }
}

.menu-item-label {
    @include badge;
    vertical-align: middle;
    margin-left: 0.5em;
}
