@import "mixins";
@import "mobile";
@import "menu-toggle";

.novablocks-header--main:not(.novablocks-header--sticky) {

    @include above(lap) {
        position: absolute !important;
        top: 0 !important;
    }

    @include below(lap) {
        margin-top: 0 !important;
    }
}

.novablocks-header:not(.novablocks-header--ready) {
    opacity: 0;
    --header-background-opacity: 0;
}

// hide all header and header-row backgrounds when header is transparent
.novablocks-header.novablocks-header--transparent:not(.novablocks-header--sticky) {

    @include above(lap) {
        --header-background-opacity: 0;
    }
}

.novablocks-header--mobile {
    
    &.novablocks-header--transparent {
        
        &:before {
            --header-background-opacity: 0;
        }
    }
    
    &:not(.novablocks-header--transparent) {
        --header-background-opacity: 0.95;
    }
}


.novablocks-header--sticky:not(.novablocks-header--main) {

    @include above(lap) {
        margin-top: 0 !important;
    }
}

.novablocks-header--sticky.novablocks-header--main {
    position: fixed !important;
    top: 0 !important;

    @include above(lap) {
        &:before {
            --header-background-opacity: 0;
        }
    }
}

.novablocks-header__buttons-menu {
    position: absolute;
    top: 0;
    right: 0;

    .menu {
        display: flex;
        align-items: center;
    }

    @include above( lap ) {
        
        &[class] {
            display: none;
        }
    }
}

.menu-item-label {
    @include badge;
    font-size: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    
    vertical-align: middle;
    margin-left: var(--navigation-item-sub-elements-spacing);
}
