/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

// Style the Navigation block as a List block
// without any marker and tightened space

// FRONTEND block HTML structure
// nav.wp-block-navigation
// 	ul.wp-block-navigation__container
// 		li.wp-block-navigation-item + .wp-block-navigation-submenu
// 			a.wp-block-navigation-item__content
// 				span.wp-block-navigation-item__label
// 		form.wp-block-search

// EDITOR block HTML structure
// nav.wp-block-navigation
// 	div.wp-block-navigation__container
// 		div.wp-block-navigation-item
// 			a.wp-block-navigation-item__content

$nav-block: 'nav.wp-block-navigation' !default;
$nav-ul-container: 'ul' !default;
$nav-list-item: 'li' !default;



// Available variables (usually) changed within the Editor.
// Use the below settings as defaults.
#{$nav-block} {
	--layout-direction: column;
	--layout-justification-setting: space-between;
	--layout-wrap: nowrap;
	--layout-justify: space-between;
	--layout-align: flex-start;
}

#{$nav-block} {
	#{$nav-ul-container} {
		flex-basis: 100%;
		width: 100%;

		display: flex;
		flex-direction: var(--layout-direction);
		justify-content: var(--layout-justification-setting);
		flex-wrap: var(--layout-wrap);
		align-items: var(--layout-align);

		gap: 0.5em;

		padding-left: 0;
		@include space-children-y( 0 );

		list-style: none;

		#{$nav-list-item} {

		}
	}

	a {
		&:not(:hover) {
			// Hide default link decoration for 
			// links inside Navigation block
			text-decoration-color: transparent;
		}
	}
}			