/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

// Style the Navigation block as the main Header navigation
// 
// @todo: merge the Navigation block styles with the Nova Blocks styling from 
// 		 /src/scss/blocks/nova-blocks/navigation/_style.scss

$nav-block: '.wp-block-navigation' !default;
$nav-ul-container: 'ul.wp-block-navigation__container' !default;
$nav-list-item: 'li' !default;


#{$nav-block} {
	@include apply-font(navigation);

	#{$nav-ul-container} {
		gap: var(--nb-navigation-item-spacing); // Use the Customizer "Navigation Link Spacing" option
	}

	&.is-vertical {
		#{$nav-ul-container} {
			gap: 0.5em;
		}
	}

	a:hover {
		color: var(--sm-current-accent-color);	
	}
}			