@charset "UTF-8";
/* Button CSS Custom Properties */
:root {
  --nova-button-background-color: var(--theme-sm-dark-1);
  --nova-button-color: var(--theme-sm-light-1);
  --nova-button-border-color: transparent;
  --nova-button-hover-background-color: var(--theme-sm-color-1);
  --nova-button-hover-color: var(--theme-sm-light-1);
  --nova-button-hover-border-color: transparent;
  --nova-button-border-width: 2px;
  --nova-button-border-radius: 999em;
  --nova-button-y-padding: calc( 2 * var(--nova-spacing-unit) );
  --nova-button-x-padding: calc( 4 * var(--nova-spacing-unit) );
  --nova-button-padding: var(--nova-button-y-padding) var(--nova-button-x-padding); }

/* Cite CSS Custom Properties */
:root {
  --nova-cite-font-family: var(--nova-headings-font-family);
  --nova-cite-font-size: 13px;
  --nova-cite-line-height: 1.23077;
  --nova-cite-font-weight: 700;
  --nova-cite-color: var(--nova-color-1); }

:root {
  --theme-minimum-font-size: 16px; }
  @media only screen and (min-width: 1200px) {
    :root {
      --theme-minimum-font-size: 1.33333vw; } }

/* Global CSS Custom Properties */
:root {
  --nova-content-width-normal: calc(40 * var(--theme-body-font-size));
  --nova-content-width-wide: calc(50vw + var(--nova-content-width-normal) / 2 - var(--nova-wrapper-side-spacing));
  --nova-spacing-unit: 8px;
  --nova-wrapper-side-spacing: 24px;
  --nova-x-spacing: calc( 7 * var(--nova-spacing-unit) );
  --nova-y-spacing: calc( 7 * var(--nova-spacing-unit) );
  --theme-sm-color-1: #DDAB5D;
  --theme-sm-color-2: #39497C;
  --theme-sm-color-3: #B12C4A;
  --theme-sm-dark-1: #252525;
  --theme-sm-dark-2: #484B59;
  --theme-sm-dark-3: #212B49;
  --theme-sm-light-1: #FFFFFF;
  --theme-sm-light-2: #CCCCCC;
  --theme-sm-light-3: #EEEEEE;
  --theme-body-font-family: Cabin, sans-serif;
  --theme-headings-font-family: Source Sans Pro, sans-serif;
  --theme-headings-alt-font-family: Herr Von Muellerhoff, cursive;
  --theme-body-font-size: 16px;
  --theme-content-font-size: 18px;
  --nova-element-spacing: var(--nova-element-spacing-normal);
  --nova-element-spacing-normal: calc( 0.5 * var(--theme-body-font-size) );
  --nova-element-spacing-large: calc( 2.5 * var(--theme-body-font-size) ); }
  @media only screen and (min-width: 1024px) {
    :root {
      --nova-wrapper-side-spacing: 48px; } }

ul.wp-block-archives-list[class] {
  list-style: none;
  padding-left: 0; }
  ul.wp-block-archives-list[class] ul {
    padding-left: 0;
    list-style: none;
    counter-reset: submenu; }
    ul.wp-block-archives-list[class] ul a:before {
      content: "– " counters(submenu, "– ", none);
      counter-increment: submenu; }
  ul.wp-block-archives-list[class] a {
    text-decoration: none; }

/* Audio Block */
.wp-block-audio audio {
  width: 100%; }

/* Button Block */
.wp-block-button.is-style-squared {
  --nova-button-border-radius: 0; }

.wp-block-button.is-style-outline {
  --nova-button-background-color: transparent;
  --nova-button-color: currentColor;
  --nova-button-border-color: currentColor;
  --nova-button-hover-background-color: transparent;
  --nova-button-hover-color: currentColor;
  --nova-button-hover-border-color: currentColor; }

.wp-block-button.alignleft {
  text-align: left; }

.wp-block-button.aligncenter {
  text-align: center; }

.wp-block-button.alignright {
  text-align: right; }

.wp-block-button__link {
  display: inline-block;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: var(--nova-button-padding);
  border: var(--nova-button-border-width) solid var(--nova-button-border-color);
  border-radius: var(--nova-button-border-radius); }
  .wp-block-button__link:not(.has-background) {
    background-color: var(--nova-button-background-color); }
    .wp-block-button__link:not(.has-background):hover {
      background-color: var(--nova-button-hover-background-color); }
  .wp-block-button__link:not(.has-text-color) {
    color: var(--nova-button-color); }
    .wp-block-button__link:not(.has-text-color):hover {
      color: var(--nova-button-hover-color); }

ul.wp-block-categories__list[class] {
  list-style: none;
  padding-left: 0; }
  ul.wp-block-categories__list[class] ul {
    padding-left: 0;
    list-style: none;
    counter-reset: submenu; }
    ul.wp-block-categories__list[class] ul a:before {
      content: "– " counters(submenu, "– ", none);
      counter-increment: submenu; }
  ul.wp-block-categories__list[class] a {
    text-decoration: none; }

/* Columns Blocks */
.wp-block-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  --theme-column-spacing: var(--nova-element-spacing);
  grid-gap: var(--theme-column-spacing); }

.wp-block-column > :not(:first-child) {
  margin-top: var(--nova-element-spacing); }

/* Cover Block */
.wp-block-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  min-height: 430px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-size: cover; }
  .wp-block-cover a {
    color: inherit; }
  .wp-block-cover.has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: inherit;
    opacity: 0.5; }
  .wp-block-cover.has-background-dim-10:before {
    opacity: 0.1; }
  .wp-block-cover.has-background-dim-20:before {
    opacity: 0.2; }
  .wp-block-cover.has-background-dim-30:before {
    opacity: 0.3; }
  .wp-block-cover.has-background-dim-40:before {
    opacity: 0.4; }
  .wp-block-cover.has-background-dim-50:before {
    opacity: 0.5; }
  .wp-block-cover.has-background-dim-60:before {
    opacity: 0.6; }
  .wp-block-cover.has-background-dim-70:before {
    opacity: 0.7; }
  .wp-block-cover.has-background-dim-80:before {
    opacity: 0.8; }
  .wp-block-cover.has-background-dim-90:before {
    opacity: 0.9; }
  .wp-block-cover.has-background-dim-100:before {
    opacity: 1; }
  .wp-block-cover.has-parallax {
    background-attachment: fixed; }

.wp-block-cover-text {
  color: inherit; }

.wp-block-cover > * {
  position: relative;
  z-index: 300; }

.wp-block-cover__video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100; }

.wp-block-cover .block-editor-block-list__block {
  color: inherit; }

/* Embed Blocks */
.wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper {
  position: relative; }
  .wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper:before {
    content: "";
    display: block; }
  .wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
  padding-top: 75%; }

.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  padding-top: 56.25%; }

/* Gallery Block */
:root {
  --block-grid-spacing: 20px; }

.wp-block-gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .wp-block-gallery.columns-2 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 1 * var(--block-grid-spacing))/2); }
    .wp-block-gallery.columns-2 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-2 > *:nth-child(-n + 2) {
      margin-top: 0; }
    .wp-block-gallery.columns-2 > *:nth-child(2n) {
      margin-right: 0; }
  .wp-block-gallery.columns-3 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 2 * var(--block-grid-spacing))/3); }
    .wp-block-gallery.columns-3 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-3 > *:nth-child(-n + 3) {
      margin-top: 0; }
    .wp-block-gallery.columns-3 > *:nth-child(3n) {
      margin-right: 0; }
  .wp-block-gallery.columns-4 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 3 * var(--block-grid-spacing))/4); }
    .wp-block-gallery.columns-4 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-4 > *:nth-child(-n + 4) {
      margin-top: 0; }
    .wp-block-gallery.columns-4 > *:nth-child(4n) {
      margin-right: 0; }
  .wp-block-gallery.columns-5 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 4 * var(--block-grid-spacing))/5); }
    .wp-block-gallery.columns-5 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-5 > *:nth-child(-n + 5) {
      margin-top: 0; }
    .wp-block-gallery.columns-5 > *:nth-child(5n) {
      margin-right: 0; }
  .wp-block-gallery.columns-6 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 5 * var(--block-grid-spacing))/6); }
    .wp-block-gallery.columns-6 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-6 > *:nth-child(-n + 6) {
      margin-top: 0; }
    .wp-block-gallery.columns-6 > *:nth-child(6n) {
      margin-right: 0; }
  .wp-block-gallery.columns-7 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 6 * var(--block-grid-spacing))/7); }
    .wp-block-gallery.columns-7 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-7 > *:nth-child(-n + 7) {
      margin-top: 0; }
    .wp-block-gallery.columns-7 > *:nth-child(7n) {
      margin-right: 0; }
  .wp-block-gallery.columns-8 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 7 * var(--block-grid-spacing))/8); }
    .wp-block-gallery.columns-8 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-8 > *:nth-child(-n + 8) {
      margin-top: 0; }
    .wp-block-gallery.columns-8 > *:nth-child(8n) {
      margin-right: 0; }
  .wp-block-gallery.columns-9 > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 8 * var(--block-grid-spacing))/9); }
    .wp-block-gallery.columns-9 > *:last-child {
      margin-right: 0; }
    .wp-block-gallery.columns-9 > *:nth-child(-n + 9) {
      margin-top: 0; }
    .wp-block-gallery.columns-9 > *:nth-child(9n) {
      margin-right: 0; }
  .wp-block-gallery img {
    display: block; }
  .wp-block-gallery figure {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%; }
  .wp-block-gallery figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.5em 0.75em;
    overflow: hidden;
    color: var(--nova-light-1);
    white-space: nowrap;
    transform: translateZ(0); }
    .wp-block-gallery figcaption:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      z-index: -1;
      background: var(--nova-dark-2); }
  .wp-block-gallery.is-cropped img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*

.wp-block-latest-comments.has-avatars .avatar {
	margin-right: 10px;
}

.wp-block-latest-comments__comment-excerpt p {
	font-size: 14px;
	margin: 5px 0 20px;
	padding-top: 0;
}

.wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment {
	min-height: 36px;
}
 */
/* Latest Comments Block */
.wp-block-latest-comments {
  list-style: none; }
  .wp-block-latest-comments > :not(:first-child) {
    margin-top: var(--nova-element-spacing); }

.wp-block-latest-comments__comment {
  display: flex;
  align-items: flex-start; }

.wp-block-latest-comments__comment-meta a {
  text-decoration: none; }

.wp-block-latest-comments__comment-date {
  display: block; }

.wp-block-latest-comments__comment-author {
  font-weight: 700; }

.wp-block-latest-comments__comment-avatar {
  display: block;
  flex: 0 0 auto;
  width: var(--nova-comment-avatar-width);
  height: var(--nova-comment-avatar-width);
  margin-right: var(--nova-comment-avatar-spacing);
  object-fit: cover; }

/* Latest Posts Block */
.wp-block-latest-posts[class] {
  padding-left: 0; }

.wp-block-latest-posts__list.is-grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .wp-block-latest-posts__list.is-grid > * {
    flex: 0 1 auto;
    margin-right: var(--block-grid-spacing);
    margin-top: var(--block-grid-spacing);
    width: calc((100% - 1 * var(--block-grid-spacing))/2); }
    .wp-block-latest-posts__list.is-grid > *:last-child {
      margin-right: 0; }
    .wp-block-latest-posts__list.is-grid > *:nth-child(-n + 2) {
      margin-top: 0; }
    .wp-block-latest-posts__list.is-grid > *:nth-child(2n) {
      margin-right: 0; }
  .wp-block-latest-posts__list.is-grid > li {
    position: relative;
    display: block;
    padding: 2em;
    text-align: center;
    background: #EEE; }
  .wp-block-latest-posts__list.is-grid a {
    display: block;
    text-decoration: none; }
    .wp-block-latest-posts__list.is-grid a:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/* Media Block */
.wp-block-media-text {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "media-text-media media-text-content";
  grid-template-columns: 50% auto; }
  .wp-block-media-text.has-media-on-the-right {
    grid-template-areas: "media-text-content media-text-media";
    grid-template-columns: auto 50%; }

.wp-block-media-text.is-vertically-aligned-top {
  align-items: start; }

.wp-block-media-text.is-vertically-aligned-center {
  align-items: center; }

.wp-block-media-text.is-vertically-aligned-bottom {
  align-items: end; }

.wp-block-media-text .wp-block-media-text__media {
  grid-area: media-text-media;
  margin: 0; }

.wp-block-media-text .wp-block-media-text__content {
  word-break: break-word;
  grid-area: media-text-content;
  padding: 0 8% 0 8%; }

.wp-block-media-text > figure > img,
.wp-block-media-text > figure > video {
  max-width: unset;
  width: 100%;
  vertical-align: middle; }

.wp-block-media-text.is-image-fill figure {
  height: 100%;
  min-height: 250px;
  background-size: cover; }

.wp-block-media-text.is-image-fill figure > img {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*
    * Here we here not able to use a mobile first CSS approach.
    * Custom widths are set using inline styles, and on mobile,
    * we need 100% width, so we use important to overwrite the inline style.
    * If the style were set on mobile first, on desktop styles,
    * we would have no way of setting the style again to the inline style.
    */
@media (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
    grid-template-areas: "media-text-media" "media-text-content"; }
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
    grid-template-areas: "media-text-content" "media-text-media"; } }

/* Pullquote Block */
.wp-block-pullquote__citation {
  font-family: var(--nova-cite-font-family);
  font-size: var(--nova-cite-font-size);
  line-height: var(--nova-cite-line-height);
  font-weight: var(--nova-cite-font-weight);
  color: var(--nova-cite-color); }

/* Table Block */
:root {
  --theme-button-font-family: var(--theme-body-font-family);
  --theme-button-line-height: 1;
  --theme-button-font-weight: 700;
  --theme-button-letter-spacing: 0.1em;
  --theme-button-text-transform: uppercase;
  --theme-button-font-size-diff: 0px;
  --theme-button-font-size: calc( var(--theme-minimum-font-size) + var(--theme-button-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-button-font-size-diff: calc(0px + 2 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-button-font-size-diff: -2px; } }

.editor-styles-wrapper .wp-block-button {
  --nova-button-padding: 0.55em 0.75em 0.55em 0.85em;
  --nova-button-border-radius: 0.2em; }

.editor-styles-wrapper .wp-block-button:not(.is-style-text) .wp-block-button__link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }
  .editor-styles-wrapper .wp-block-button:not(.is-style-text) .wp-block-button__link:not(.has-background) {
    background-color: var(--nova-button-background-color); }
    .editor-styles-wrapper .wp-block-button:not(.is-style-text) .wp-block-button__link:not(.has-background):hover {
      background-color: var(--nova-button-hover-background-color); }
  .editor-styles-wrapper .wp-block-button:not(.is-style-text) .wp-block-button__link:not(.has-text-color) {
    color: var(--nova-button-color); }
    .editor-styles-wrapper .wp-block-button:not(.is-style-text) .wp-block-button__link:not(.has-text-color):hover {
      color: var(--nova-button-hover-color); }

.editor-styles-wrapper .wp-block-button.is-style-primary {
  --nova-button-background-color: var(--theme-sm-color-1);
  --nova-button-hover-background-color: var(--theme-sm-dark-1); }

.editor-styles-wrapper .wp-block-button.is-style-text {
  --nova-button-color: var(--theme-sm-color-1);
  --nova-button-background-color: transparent;
  --nova-button-hover-color: var(--theme-sm-color-1);
  --nova-button-hover-background-color: transparent;
  --nova-button-border-radius: 0; }
  .editor-styles-wrapper .wp-block-button.is-style-text .wp-block-button__link {
    padding: 0 !important;
    background: none !important;
    border-width: 0;
    border-bottom: 0.1em solid; }

.editor-styles-wrapper .nova-hero .wp-block-button.is-style-default,
.editor-styles-wrapper .nova-hero .wp-block-button:not([class*="is-style"]) {
  --nova-button-background-color: var(--theme-sm-light-1);
  --nova-button-color: var(--theme-sm-dark-1);
  --nova-button-hover-background-color: var(--theme-sm-color-1);
  --nova-button-hover-color: var(--theme-sm-dark-1); }

.editor-styles-wrapper .nova-hero .wp-block-button.is-style-primary {
  --nova-button-background-color: var(--theme-sm-color-1);
  --nova-button-color: var(--theme-sm-dark-1);
  --nova-button-hover-background-color: var(--theme-sm-light-1);
  --nova-button-hover-color: var(--theme-sm-dark-1); }

.editor-styles-wrapper .c-headline__primary,
.editor-styles-wrapper .c-headline__secondary {
  display: block; }

.editor-styles-wrapper .c-headline__secondary + .c-headline__primary,
.editor-styles-wrapper .c-headline > .editor-rich-text + .editor-rich-text {
  margin-top: -0.65em; }

.editor-styles-wrapper .c-headline__secondary,
.editor-styles-wrapper .c-headline > .editor-rich-text:first-child {
  position: relative;
  z-index: 10; }

.editor-styles-wrapper .c-headline__secondary {
  font-family: var(--theme-headings-alt-font-family);
  font-weight: 400;
  text-transform: none;
  color: var(--theme-sm-color-1);
  font-size: 2.127em;
  letter-spacing: normal; }
  .editor-styles-wrapper .c-headline__secondary::first-letter {
    font-size: 1.22em;
    line-height: 0.81967;
    letter-spacing: -0.07em; }

.editor-styles-wrapper .wp-block-button__link, .editor-styles-wrapper .wp-block-button:not(.is-style-text) .wp-block-button__link {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-button-font-family);
  --current-font-size: var(--theme-button-font-size);
  --current-line-height: var(--theme-button-line-height);
  --current-font-weight: var(--theme-button-font-weight);
  --current-letter-spacing: var(--theme-button-letter-spacing);
  --current-text-transform: var(--theme-button-text-transform); }

.editor-styles-wrapper figure > :not(:first-child) {
  margin-top: calc( var(--nova-element-spacing) / 4); }

.editor-styles-wrapper figcaption {
  font-size: var(--current-font-size);
  --current-font-size: var(--theme-small-font-size); }

.editor-styles-wrapper pre,
.editor-styles-wrapper code {
  border: 1px solid;
  border-radius: 0.2em;
  background: var(--nova-light-2); }

.editor-styles-wrapper pre {
  padding: 1em; }

.editor-styles-wrapper code {
  padding: 0.1em; }

.editor-styles-wrapper pre code {
  background: transparent; }

.editor-styles-wrapper cite {
  font-size: var(--current-font-size);
  --current-font-size: var(--theme-normal-font-size); }

.editor-styles-wrapper .wp-block-cover-text {
  font-size: var(--current-font-size);
  --current-font-size: var(--theme-medium-font-size); }

:root {
  --theme-body-font-size-diff: 0px;
  --theme-body-font-size: calc( var(--theme-minimum-font-size) + var(--theme-body-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-body-font-size-diff: calc(0px + 2 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-body-font-size-diff: 2px; } }

:root {
  --theme-display-font-family: var(--theme-headings-font-family);
  --theme-display-line-height: 1;
  --theme-display-font-weight: 900;
  --theme-display-letter-spacing: 0.1em;
  --theme-display-text-transform: uppercase;
  --theme-display-font-size-diff: 0px;
  --theme-display-font-size: calc( var(--theme-minimum-font-size) + var(--theme-display-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-display-font-size-diff: calc(0px + 44 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-display-font-size-diff: 44px; } }

:root {
  --theme-heading-1-font-family: var(--theme-headings-font-family);
  --theme-heading-1-line-height: 1;
  --theme-heading-1-font-weight: 900;
  --theme-heading-1-letter-spacing: 0.1em;
  --theme-heading-1-text-transform: uppercase;
  --theme-heading-1-font-size-diff: 0px;
  --theme-heading-1-font-size: calc( var(--theme-minimum-font-size) + var(--theme-heading-1-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-heading-1-font-size-diff: calc(0px + 31 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-heading-1-font-size-diff: 31px; } }

:root {
  --theme-heading-2-font-family: var(--theme-headings-font-family);
  --theme-heading-2-line-height: 1.13;
  --theme-heading-2-font-weight: 600;
  --theme-heading-2-letter-spacing: 0.1em;
  --theme-heading-2-text-transform: uppercase;
  --theme-heading-2-font-size-diff: 0px;
  --theme-heading-2-font-size: calc( var(--theme-minimum-font-size) + var(--theme-heading-2-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-heading-2-font-size-diff: calc(0px + 16 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-heading-2-font-size-diff: 16px; } }

:root {
  --theme-heading-3-font-family: var(--theme-headings-font-family);
  --theme-heading-3-line-height: 1.5;
  --theme-heading-3-font-weight: 600;
  --theme-heading-3-letter-spacing: 0.1em;
  --theme-heading-3-text-transform: uppercase;
  --theme-heading-3-font-size-diff: 0px;
  --theme-heading-3-font-size: calc( var(--theme-minimum-font-size) + var(--theme-heading-3-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-heading-3-font-size-diff: calc(0px + 8 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-heading-3-font-size-diff: 8px; } }

:root {
  --theme-heading-4-font-family: var(--theme-headings-font-family);
  --theme-heading-4-line-height: 1.5;
  --theme-heading-4-font-weight: 600;
  --theme-heading-4-letter-spacing: 0.1em;
  --theme-heading-4-text-transform: uppercase;
  --theme-heading-4-font-size-diff: 0px;
  --theme-heading-4-font-size: calc( var(--theme-minimum-font-size) + var(--theme-heading-4-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-heading-4-font-size-diff: calc(0px + 3 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-heading-4-font-size-diff: 3px; } }

:root {
  --theme-heading-5-font-family: var(--theme-headings-font-family);
  --theme-heading-5-line-height: 1.5;
  --theme-heading-5-font-weight: 600;
  --theme-heading-5-letter-spacing: 0.32em;
  --theme-heading-5-text-transform: uppercase;
  --theme-heading-5-font-size-diff: 0px;
  --theme-heading-5-font-size: calc( var(--theme-minimum-font-size) + var(--theme-heading-5-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-heading-5-font-size-diff: calc(0px + 2 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-heading-5-font-size-diff: 2px; } }

:root {
  --theme-intro-font-family: var(--theme-headings-font-family);
  --theme-intro-font-size-diff: 0px;
  --theme-intro-font-size: calc( var(--theme-minimum-font-size) + var(--theme-intro-font-size-diff) ); }
  @media screen and (min-width: 0px) {
    :root {
      --theme-intro-font-size-diff: calc(0px + 10 * ((100vw - 0px) / 1200)); } }
  @media screen and (min-width: 1200px) {
    :root {
      --theme-intro-font-size-diff: 10px; } }

.editor-styles-wrapper[class] h1 {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-heading-1-font-family);
  --current-font-size: var(--theme-heading-1-font-size);
  --current-line-height: var(--theme-heading-1-line-height);
  --current-font-weight: var(--theme-heading-1-font-weight);
  --current-letter-spacing: var(--theme-heading-1-letter-spacing);
  --current-text-transform: var(--theme-heading-1-text-transform);
  color: var(--theme-sm-dark-1); }

.editor-styles-wrapper[class] h2 {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-heading-2-font-family);
  --current-font-size: var(--theme-heading-2-font-size);
  --current-line-height: var(--theme-heading-2-line-height);
  --current-font-weight: var(--theme-heading-2-font-weight);
  --current-letter-spacing: var(--theme-heading-2-letter-spacing);
  --current-text-transform: var(--theme-heading-2-text-transform);
  color: var(--theme-sm-dark-1); }

.editor-styles-wrapper[class] h3 {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-heading-3-font-family);
  --current-font-size: var(--theme-heading-3-font-size);
  --current-line-height: var(--theme-heading-3-line-height);
  --current-font-weight: var(--theme-heading-3-font-weight);
  --current-letter-spacing: var(--theme-heading-3-letter-spacing);
  --current-text-transform: var(--theme-heading-3-text-transform);
  color: var(--theme-sm-dark-1); }

.editor-styles-wrapper[class] h4 {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-heading-4-font-family);
  --current-font-size: var(--theme-heading-4-font-size);
  --current-line-height: var(--theme-heading-4-line-height);
  --current-font-weight: var(--theme-heading-4-font-weight);
  --current-letter-spacing: var(--theme-heading-4-letter-spacing);
  --current-text-transform: var(--theme-heading-4-text-transform);
  color: var(--theme-sm-dark-1); }

.editor-styles-wrapper[class] h5,
.editor-styles-wrapper[class] h6 {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-heading-5-font-family);
  --current-font-size: var(--theme-heading-5-font-size);
  --current-line-height: var(--theme-heading-5-line-height);
  --current-font-weight: var(--theme-heading-5-font-weight);
  --current-letter-spacing: var(--theme-heading-5-letter-spacing);
  --current-text-transform: var(--theme-heading-5-text-transform);
  color: var(--theme-sm-dark-1); }

.editor-styles-wrapper[class] h1:not(:first-child), .editor-styles-wrapper[class] h2:not(:first-child), .editor-styles-wrapper[class] h3:not(:first-child), .editor-styles-wrapper[class] h4:not(:first-child), .editor-styles-wrapper[class] h5:not(:first-child), .editor-styles-wrapper[class] h6:not(:first-child) {
  margin-top: 1em; }

.editor-styles-wrapper[class] h1:not(:last-child), .editor-styles-wrapper[class] h2:not(:last-child), .editor-styles-wrapper[class] h3:not(:last-child), .editor-styles-wrapper[class] h4:not(:last-child), .editor-styles-wrapper[class] h5:not(:last-child), .editor-styles-wrapper[class] h6:not(:last-child) {
  margin-bottom: 0.25em; }

.editor-styles-wrapper[class] .entry-title {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-heading-1-font-family);
  --current-font-size: var(--theme-heading-1-font-size);
  --current-line-height: var(--theme-heading-1-line-height);
  --current-font-weight: var(--theme-heading-1-font-weight);
  --current-letter-spacing: var(--theme-heading-1-letter-spacing);
  --current-text-transform: var(--theme-heading-1-text-transform); }

.editor-styles-wrapper[class] h1.entry-title {
  font-family: var(--current-font-family);
  font-size: var(--current-font-size);
  line-height: var(--current-line-height);
  font-weight: var(--current-font-weight);
  letter-spacing: var(--current-letter-spacing);
  text-transform: var(--current-text-transform);
  --current-font-family: var(--theme-display-font-family);
  --current-font-size: var(--theme-display-font-size);
  --current-line-height: var(--theme-display-line-height);
  --current-font-weight: var(--theme-display-font-weight);
  --current-letter-spacing: var(--theme-display-letter-spacing);
  --current-text-transform: var(--theme-display-text-transform); }

/* Layout */
.editor-block-list__layout > :not([data-align="wide"]):not([data-align="full"]),
[class*="__inner-container"] > :not([data-align="wide"]):not([data-align="full"]) {
  max-width: var(--nova-content-width-normal); }

.editor-block-list__layout > [data-align="wide"],
[class*="__inner-container"] > [data-align="wide"] {
  max-width: var(--nova-content-width-wide); }

.editor-block-list__layout > [data-align="full"],
[class*="__inner-container"] > [data-align="full"] {
  max-width: none; }

/* Typography */
.editor-styles-wrapper {
  /* Media */
  /* Iframes */
  /* Preformatted */
  /* Links */
  /* Headings */
  /* Tables */ }
  .editor-styles-wrapper[class] {
    color: var(--theme-sm-dark-2);
    background-color: var(--theme-sm-light-1);
    font-family: var(--theme-body-font-family);
    font-size: var(--theme-content-font-size);
    line-height: 1.5; }
  .editor-styles-wrapper img,
  .editor-styles-wrapper video {
    max-width: 100%;
    height: auto; }
  .editor-styles-wrapper figure {
    margin: 0; }
  .editor-styles-wrapper iframe {
    width: 100%;
    max-width: 100%;
    margin: 0; }
  .editor-styles-wrapper pre {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word; }
  .editor-styles-wrapper a {
    color: var(--nova-color-1); }
  .editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 {
    margin: 0; }
  .editor-styles-wrapper table {
    width: 100%;
    border-collapse: collapse; }
  .editor-styles-wrapper td, .editor-styles-wrapper th {
    border: 1px solid;
    padding: 0.5em; }
  .editor-styles-wrapper .block-library-list {
    /* Lists */
    /* Nested unordered lists */
    /* Nested ordered lists */ }
    .editor-styles-wrapper .block-library-list ul, .editor-styles-wrapper .block-library-list ol {
      margin: 0;
      padding: 0; }
    .editor-styles-wrapper .block-library-list ul, .editor-styles-wrapper .block-library-list ol {
      list-style-position: inside; }
    .editor-styles-wrapper .block-library-list li > ul,
    .editor-styles-wrapper .block-library-list li > ol {
      padding-left: var(--nova-element-spacing); }
    .editor-styles-wrapper .block-library-list ul {
      list-style-type: disc; }
    .editor-styles-wrapper .block-library-list ul ul {
      list-style-type: circle; }
    .editor-styles-wrapper .block-library-list ul ul ul {
      list-style-type: square; }
    .editor-styles-wrapper .block-library-list ol {
      list-style-type: decimal; }
    .editor-styles-wrapper .block-library-list ol ol {
      list-style-type: lower-alpha; }
  .editor-styles-wrapper .entry-content > .alignleft,
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit {
    margin-right: 2em;
    float: left; }
  .editor-styles-wrapper .entry-content > .alignright,
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit {
    margin-left: 2em;
    float: right; }
  .editor-styles-wrapper .entry-content > .alignleft[class][class],
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit[class][class],
  .editor-styles-wrapper .entry-content > .alignright[class][class],
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit[class][class] {
    max-width: 40%; }
  .editor-styles-wrapper .entry-content > .alignleft:not(:first-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit:not(:first-child),
  .editor-styles-wrapper .entry-content > .alignright:not(:first-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit:not(:first-child),
  .editor-styles-wrapper .entry-content > .aligncenter:not(:first-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=center] .block-editor-block-list__block-edit:not(:first-child),
  .editor-styles-wrapper .entry-content > .alignnone:not(:first-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=none] .block-editor-block-list__block-edit:not(:first-child) {
    margin-top: 2em; }
  .editor-styles-wrapper .entry-content > .alignleft:not(:last-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit:not(:last-child),
  .editor-styles-wrapper .entry-content > .alignright:not(:last-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit:not(:last-child),
  .editor-styles-wrapper .entry-content > .aligncenter:not(:last-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=center] .block-editor-block-list__block-edit:not(:last-child),
  .editor-styles-wrapper .entry-content > .alignnone:not(:last-child),
  .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=none] .block-editor-block-list__block-edit:not(:last-child) {
    margin-bottom: 2em; }
  .editor-styles-wrapper blockquote {
    margin: 0; }

.editor-styles-wrapper[class] {
  /* Color Helper Classes */
  /* Font Size Helper Classes */
  /* Alignment Helper Classes */ }
  .editor-styles-wrapper[class] .has-background {
    padding: 1em 1.25em; }
  .editor-styles-wrapper[class] .has-pale-pink-background-color {
    background-color: #f78da7; }
  .editor-styles-wrapper[class] .has-pale-pink-color {
    color: #f78da7; }
  .editor-styles-wrapper[class] .has-vivid-red-background-color {
    background-color: #cf2e2e; }
  .editor-styles-wrapper[class] .has-vivid-red-color {
    color: #cf2e2e; }
  .editor-styles-wrapper[class] .has-luminous-vivid-orange-background-color {
    background-color: #ff6900; }
  .editor-styles-wrapper[class] .has-luminous-vivid-orange-color {
    color: #ff6900; }
  .editor-styles-wrapper[class] .has-luminous-vivid-amber-background-color {
    background-color: #fcb900; }
  .editor-styles-wrapper[class] .has-luminous-vivid-amber-color {
    color: #fcb900; }
  .editor-styles-wrapper[class] .has-light-green-cyan-background-color {
    background-color: #7bdcb5; }
  .editor-styles-wrapper[class] .has-light-green-cyan-color {
    color: #7bdcb5; }
  .editor-styles-wrapper[class] .has-vivid-green-cyan-background-color {
    background-color: #00d084; }
  .editor-styles-wrapper[class] .has-vivid-green-cyan-color {
    color: #00d084; }
  .editor-styles-wrapper[class] .has-pale-cyan-blue-background-color {
    background-color: #8ed1fc; }
  .editor-styles-wrapper[class] .has-pale-cyan-blue-color {
    color: #8ed1fc; }
  .editor-styles-wrapper[class] .has-vivid-cyan-blue-background-color {
    background-color: #0693e3; }
  .editor-styles-wrapper[class] .has-vivid-cyan-blue-color {
    color: #0693e3; }
  .editor-styles-wrapper[class] .has-vivid-purple-background-color {
    background-color: #9b51e0; }
  .editor-styles-wrapper[class] .has-vivid-purple-color {
    color: #9b51e0; }
  .editor-styles-wrapper[class] .has-very-light-gray-background-color {
    background-color: #eee; }
  .editor-styles-wrapper[class] .has-very-light-gray-color {
    color: #eee; }
  .editor-styles-wrapper[class] .has-cyan-bluish-gray-background-color {
    background-color: #abb8c3; }
  .editor-styles-wrapper[class] .has-cyan-bluish-gray-color {
    color: #abb8c3; }
  .editor-styles-wrapper[class] .has-very-dark-gray-background-color {
    background-color: #313131; }
  .editor-styles-wrapper[class] .has-very-dark-gray-color {
    color: #313131; }
  .editor-styles-wrapper[class] .has-nova-blue-background-color {
    background-color: #203AB6; }
  .editor-styles-wrapper[class] .has-nova-blue-color {
    color: #203AB6; }
  .editor-styles-wrapper[class] .has-nova-yellow-background-color {
    background-color: #FFE42E; }
  .editor-styles-wrapper[class] .has-nova-yellow-color {
    color: #FFE42E; }
  .editor-styles-wrapper[class] .has-nova-almost-black-background-color {
    background-color: #000043; }
  .editor-styles-wrapper[class] .has-nova-almost-black-color {
    color: #000043; }
  .editor-styles-wrapper[class] .has-nova-darkest-blue-background-color {
    background-color: #272743; }
  .editor-styles-wrapper[class] .has-nova-darkest-blue-color {
    color: #272743; }
  .editor-styles-wrapper[class] .has-nova-white-background-color {
    background-color: #FFFFFF; }
  .editor-styles-wrapper[class] .has-nova-white-color {
    color: #FFFFFF; }
  .editor-styles-wrapper[class] .has-nova-gray-background-color {
    background-color: #EEF1F2; }
  .editor-styles-wrapper[class] .has-nova-gray-color {
    color: #EEF1F2; }
  .editor-styles-wrapper[class] .has-tiny-font-size {
    font-size: var(--current-font-size);
    --current-font-size: var(--theme-tiny-font-size); }
    :root {
      --theme-tiny-font-size-diff: 0px;
      --theme-tiny-font-size: calc( var(--theme-minimum-font-size) + var(--theme-tiny-font-size-diff) ); }
      @media screen and (min-width: 0px) {
        :root {
          --theme-tiny-font-size-diff: calc(0px + 3 * ((100vw - 0px) / 1200)); } }
      @media screen and (min-width: 1200px) {
        :root {
          --theme-tiny-font-size-diff: -3px; } }
  .editor-styles-wrapper[class] .has-small-font-size {
    font-size: var(--current-font-size);
    --current-font-size: var(--theme-small-font-size); }
    :root {
      --theme-small-font-size-diff: 0px;
      --theme-small-font-size: calc( var(--theme-minimum-font-size) + var(--theme-small-font-size-diff) ); }
      @media screen and (min-width: 0px) {
        :root {
          --theme-small-font-size-diff: calc(0px + 0 * ((100vw - 0px) / 1200)); } }
      @media screen and (min-width: 1200px) {
        :root {
          --theme-small-font-size-diff: 0px; } }
  .editor-styles-wrapper[class] .has-normal-font-size {
    font-size: var(--current-font-size);
    --current-font-size: var(--theme-normal-font-size); }
    :root {
      --theme-normal-font-size-diff: 0px;
      --theme-normal-font-size: calc( var(--theme-minimum-font-size) + var(--theme-normal-font-size-diff) ); }
      @media screen and (min-width: 0px) {
        :root {
          --theme-normal-font-size-diff: calc(0px + 6 * ((100vw - 0px) / 1200)); } }
      @media screen and (min-width: 1200px) {
        :root {
          --theme-normal-font-size-diff: 6px; } }
  .editor-styles-wrapper[class] .has-medium-font-size {
    font-size: var(--current-font-size);
    --current-font-size: var(--theme-medium-font-size); }
    :root {
      --theme-medium-font-size-diff: 0px;
      --theme-medium-font-size: calc( var(--theme-minimum-font-size) + var(--theme-medium-font-size-diff) ); }
      @media screen and (min-width: 0px) {
        :root {
          --theme-medium-font-size-diff: calc(0px + 13 * ((100vw - 0px) / 1200)); } }
      @media screen and (min-width: 1200px) {
        :root {
          --theme-medium-font-size-diff: 13px; } }
  .editor-styles-wrapper[class] .has-large-font-size {
    font-size: var(--current-font-size);
    --current-font-size: var(--theme-large-font-size); }
    :root {
      --theme-large-font-size-diff: 0px;
      --theme-large-font-size: calc( var(--theme-minimum-font-size) + var(--theme-large-font-size-diff) ); }
      @media screen and (min-width: 0px) {
        :root {
          --theme-large-font-size-diff: calc(0px + 29 * ((100vw - 0px) / 1200)); } }
      @media screen and (min-width: 1200px) {
        :root {
          --theme-large-font-size-diff: 29px; } }
  .editor-styles-wrapper[class] .has-huge-font-size {
    font-size: var(--current-font-size);
    --current-font-size: var(--theme-huge-font-size); }
    :root {
      --theme-huge-font-size-diff: 0px;
      --theme-huge-font-size: calc( var(--theme-minimum-font-size) + var(--theme-huge-font-size-diff) ); }
      @media screen and (min-width: 0px) {
        :root {
          --theme-huge-font-size-diff: calc(0px + 63 * ((100vw - 0px) / 1200)); } }
      @media screen and (min-width: 1200px) {
        :root {
          --theme-huge-font-size-diff: 63px; } }
  .editor-styles-wrapper[class] .has-text-align-left {
    text-align: left; }
  .editor-styles-wrapper[class] .has-text-align-center {
    text-align: center; }
  .editor-styles-wrapper[class] .has-text-align-right {
    text-align: right; }

/* Post Title Block */
.editor-post-title__block {
  max-width: var(--nova-content-width-normal); }
  .editor-post-title__block .editor-post-title__input {
    font-family: var(--current-font-family);
    font-size: var(--current-font-size);
    line-height: var(--current-line-height);
    font-weight: var(--current-font-weight);
    letter-spacing: var(--current-letter-spacing);
    text-transform: var(--current-text-transform);
    --current-font-family: var(--theme-heading-1-font-family);
    --current-font-size: var(--theme-heading-1-font-size);
    --current-line-height: var(--theme-heading-1-line-height);
    --current-font-weight: var(--theme-heading-1-font-weight);
    --current-letter-spacing: var(--theme-heading-1-letter-spacing);
    --current-text-transform: var(--theme-heading-1-text-transform);
    text-align: center; }
