.is-dark {
  @include variation(dark, current, theme);

  // << highlighted >> blocks that have alternate style set, are usually white text on colored background
  // and they should stay that way even for the dark theme
  .is-style-alternate .novablocks-block.block-is-highlighted {
    @include variation(default, current, theme);
  }
}

.scheme-switcher__wrapper {
  @include above(lap) {
    display: none;
  }

  @include below(lap) {
    .menu-item {
      margin-left: 1em;
    }
  }
}

.is-dark {

  .site-header--mobile,
  .c-menu-toggle {
    color: var(--sm-light-primary);
  }

  .c-logo__inverted {
    opacity: 1;
  }

  .site-header--mobile {

    .c-logo__inverted {
      opacity: 1;
    }

    .c-logo__default {
      opacity: 0;
    }
  }

  .novablocks-opentable {
    &.novablocks-opentable__standard[class] {
      .ot-powered-by {
        -webkit-filter: unset;
        mix-blend-mode: unset;
      }
    }

    &.novablocks-opentable__wide[class] {
      .ot-powered-by {
        -webkit-filter: invert(1) saturate(0);
        mix-blend-mode: lighten;
      }
    }
  }

  @include below(lap) {

    .c-logo__default {
      opacity: 0;
    }

    .site-header-mobile--scrolled  {

      .site-header--mobile {

        .c-logo__default {
          opacity: 0;
        }

        .c-logo__inverted {
          opacity: 1;
        }
      }
    }
  }
}
