.is-color-scheme-switcher-button {
	display: flex;
	align-items: center;
	
	&:not(.no-icon) {
		--switcher-icon-width: calc( var(--icons-size-multiplier) * var(--final-font-size) );
		
		a {
			padding-left: calc(var(--switcher-icon-width) + 6px) !important;
			
			&:after {
				content: '';
				position: absolute;
				width: var(--switcher-icon-width);
				height: var(--switcher-icon-width);
				
				left: 0;
				top: 50%;
				background-color: currentColor;
				
				mask: url($icon-dark-mode-path) no-repeat 50% 50%;
				mask-size: contain;
				-webkit-mask: url($icon-dark-mode-path) no-repeat 50% 50%;
				-webkit-mask-size: contain;
				
				transition: transform .25s $easeInOutCubic;
			}
			
			&:before {
				width: calc(100% - var(--switcher-icon-width)) !important;
			}
		}
		
		&:not(.icon-only) a:after {
			transform: translateY(-50%);
			
			.is-dark & {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
	
	.is-dark &.icon-only a:after {
		transform: translate(-50%, -50%) rotate(180deg);
	}
	
	&.icon-only {
		
		a {
			text-indent: -999999px;
			height: 100%;
			
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				min-height: 45px;
				min-width: 45px;
				transform: translate(-50%, -50%);
			}
			
			&:after {
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	
	a {
		color: currentColor;
		text-decoration: none;
	}
}
