.is-dark {
  @include variation(darker, current, theme);
}

.color-scheme-switcher-button {
  display: flex;
  align-items: center;

  a {
    position: relative;
    text-indent: -9999px;
    width: 1.2em;
    height: 1.2em;
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px currentColor;
    border-radius: 1em;

    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    transform: rotate(-45deg);

    transition: transform .25s $easeInOutCubic;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 0;
      background-color: currentColor;

      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
  }

  .is-dark & {
    a {
      transform: rotate(135deg);
    }
  }
}

.scheme-switcher__wrapper {
  @include above(lap) {
    display: none;
  }
}

// Adjust logo based on Dark Mode

@include below(lap) {
  .is-dark {

    .c-logo__default {
      opacity: 0;
    }

    .site-header-mobile--scrolled  {

      .site-header--mobile {

        .c-logo__default {
          opacity: 0;
        }

        .c-logo__inverted {
          opacity: 1;
        }
      }
    }
  }
}

.is-dark {

  .site-header--mobile,
  .c-menu-toggle {
    color: var(--sm-light-primary);
  }

  .c-logo__inverted {
    opacity: 1;
  }

  .site-header--mobile {

    .c-logo__inverted {
      opacity: 1;
    }

    .c-logo__default {
      opacity: 0;
    }
  }

  .novablocks-opentable {
    &.novablocks-opentable__standard[class] {
      .ot-powered-by {
        -webkit-filter: unset;
        mix-blend-mode: unset;
      }
    }

    &.novablocks-opentable__wide[class] {
      .ot-powered-by {
        -webkit-filter: invert(1) saturate(0);
        mix-blend-mode: lighten;
      }
    }
  }

  @include below(lap) {

    .c-logo__default {
      opacity: 0;
    }

    .site-header-mobile--scrolled  {

      .site-header--mobile {

        .c-logo__default {
          opacity: 0;
        }

        .c-logo__inverted {
          opacity: 1;
        }
      }
    }
  }
}
