.content-area {
    @include apply-font(content);
}

.entry-content {
    @include clearfix;
    overflow-wrap: break-word;
}

//.entry-content,
//[class*="__inner-container"] {
//    @include wrapper;
//}

[class*="__inner-container"] {
    
    [class*='align-pull'] & {
        padding-left: 0;
        padding-right: 0;
    }
}
