.content-area {
    @include apply-font(content);
}

.entry-content {
    @include clearfix;
    overflow-wrap: break-word;
}

.entry-content,
[class*="__inner-container"] {
    @include wrapper;
}

.entry-content,
.wp-block-column,
[class*="__inner-container"] {
    @include space-children-y( var(--theme-spacing-small) );
}

.wp-block-column,
[class*="__inner-container"] {

    > :not(:first-child) {
        --element-spacing: var(--theme-spacing);
    }
}

.novablocks-collection > .wp-block-group__inner-container {

    > :not(.novablocks-collection__cards) {
        --element-spacing: var(--theme-spacing);
    }
}

// Larger spacing for specific blocks
.wp-block-group,
.nova-food-menu,
.novablocks-hero,
.novablocks-slideshow {
    --element-spacing: var(--theme-spacing-fluid-large);

    + :not(:first-child) {
        margin-top: var(--element-spacing);
    }
}
