.entry-header {
    @include wrapper;

    //padding-top: var(--theme-spacing-fluid-xl);
    padding-bottom: var(--theme-spacing-fluid-xl);
    text-align: center;

    --novablocks-element-spacing-multiplier: 0.5;
}

.entry-title {
    word-break: break-word;
}
