:root {
    --form-inline-gap: 10px;
}

@mixin flex-row {
    display: flex;
    gap: var(--form-inline-gap);

    > *:last-child {
        flex-shrink: 0;
        margin-top: 0;
    }
}


/*------------------------------------*\
  #HELPER CLASS - .form-inline
\*------------------------------------*/

/**
 * Apply the .form-inline class to a wrapper to align all its direct 
 * children in a single horizontal row.
 *
 * <form class="form-inline">  
 *      <input> 
 *      ...
 *      <input type="submit">  
 * </form>
 */

.form-inline {
    @include flex-row;
}

