.entry-header .header-dropcap[class] {
	position: absolute;
	top: -0.2em;
	left: -.25em;
	margin-top: 0 !important;
	z-index: -1;

	font-size: 23em;
	line-height: 1;
	pointer-events: none;

    background-color: transparent;
    color: var(--sm-current-bg-color);
	
	@include below(lap) {
		// top: 0;
		// left: auto;
		// right: -0.2em;
		margin-top: var(--theme-spacing-fluid-larger) !important;
		font-size: 19em;
	}
}
