.user-dark-mode {
  @include variation(dark);
}

.user-light-mode {
  @include variation(default);
}

.is-lights-button {
  display: flex;
  align-items: center;

  a {
    position: relative;
    text-indent: -9999px;
    width: 1em;
    height: 1em;
    background-color: var(--current-dark-primary);
    border: 2px solid currentColor;
    border-radius: 1em;

    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    transition: transform .25s $easeInOutCubic;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 0;
      background-color: var(--current-light-primary);

      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
  }

  .user-light-mode & {
    a {
      transform: rotate(-45deg);
    }
  }

  .user-dark-mode & {
    a {
      transform: rotate(135deg);
    }
  }
}

// Adjust logo based on Lights Mode

@include below(lap) {
  .user-dark-mode {

    .c-logo__default {
      opacity: 0;
    }

    .site-header-mobile--scrolled  {

      .site-header--mobile {

        .c-logo__default {
          opacity: 0;
        }

        .c-logo__inverted {
          opacity: 1;
        }
      }
    }
  }
}
