.navigation[class] {

    &:not(first-child) {
        margin-top: var(--theme-spacing-fluid-normal);
    }

    &:not(last-child) {
        margin-bottom: var(--theme-spacing-larger);
    }

    .novablocks-media--blog + & {
        margin-top: var(--theme-spacing-normal);
    }
}

.pagination {

    .nav-links {
        @include nav-links;
    }
}

.article-navigation {
    margin-top: var(--theme-spacing-large);
    
    padding-left: var(--theme-wrapper-sides-spacing);
    padding-right: var(--theme-wrapper-sides-spacing);
    
    &:not(last-child) {
        margin-bottom: var(--theme-spacing-large);
    }
}
