a.page-numbers,
span.page-numbers {

    color: var(--sm-current-fg1-color);

    &[class][class] {
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;

        &.current {
            background-color: var(--sm-current-fg1-color);
            color: var(--sm-current-bg-color);
        }

        &:not(.current):hover {
            color: var(--sm-current-fg2-color);
        }
    }

    &.next[class],
    &.prev[class] {
        width: auto;
    }

    &:not(.prev):not(.next) {
        display: none;

        @include above(lap) {
            display: flex;
        }
    }
}
