.blog {

  // Span Post Navigation
  // between WS and WE
  .navigation {
    --block-content-start: ws !important;
    --block-content-end: we !important;
  }
}

.post-navigation__post-title {
  @include apply-font(heading-4);
}

.post-navigation__link-label {
  @include apply-font(button);
}

@include above(lap) {

  .post-navigation__link-label {

    &:after {
      content: '';
      @include button-text-arrow;
      transform: translate(0, -50%) scale(-1, 1);
      transition: var(--theme-transition);
      transition-property: opacity;

      .post-navigation__link:hover & {
        opacity: 0;
      }
    }
  }
}
