.promo-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;

    width: 100%;
    
    @include specific(2) {
        @include below(lap) {
            position: relative;
            top: 0;
        }
    }

    @include wp-offset(top, 0, true);

    .novablocks-announcement-bar.is-hidden {
        display: block;
    }

    .novablocks-announcement-bar__wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0,-50%);

        padding-left: var(--theme-header-sides-spacing);
        padding-right: var(--theme-header-sides-spacing);
    }
}

.novablocks-announcement-bar__close {
    @include below(lap) {
        display: none;
    }
}
