.c-search-overlay {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100vw;

  transform: translateY(-100vh);

  padding-left: var(--theme-header-sides-spacing);
  padding-right: var(--theme-header-sides-spacing);

  background-color: var(--current-color-primary);
  color: var(--current-light-primary);


  z-index: 1200; // Bigger than Announcement Bar

  transition: transform .3s $easeInOut;

  --theme-button-padding: .6em 1.7em;
  --theme-input-search-focus-overlay-shadow: inset 0px 0px 0px 2px rgba(var(--opacity-color), 1);
  --theme-search-input-focus: var(--theme-input-search-focus-overlay-shadow),
  var(--theme-input-focus-colored-shadow),
  var(--theme-input-focus-shadow);
  --theme-input-box-shadow: var(--theme-search-input-focus);
  --theme-input-focus-box-shadow: var(--theme-search-input-focus);
  --theme-input-hover-box-shadow: var(--theme-search-input-focus);


  @include wp-offset();

  .search-overlay--open & {
    transform: translateY(0);

    &__form {
      opacity: 1;
      transition: opacity .1s $easeInOut .125s;
    }

    &__suggestions {
      opacity: 1;
      transition: opacity .1s $easeInOut .15s;
    }
  }

  &__content {
    position: relative;

    padding-top: 6.8em;
    max-width: 62.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__form {
    display: flex;
    align-items: center;

    opacity: 0;
    transition: opacity .1s $easeInOut .05s;
  }

  &__suggestions {
    margin-top: 5.5em;

    opacity: 0;
    transition: opacity .1s $easeInOut 0s;

    max-width: 65%;

    @include apply-font(body);
    --font-size: 23;

    .menu {
      display: flex;
      flex-wrap: wrap;
      margin-left: -.5em;

      margin-top: 1em;

      li {

        --current-line-height: 1.3;

        margin-left: .5em;
        margin-bottom: .5em;

        padding: 0;

        box-shadow: var(--theme-search-input-focus);

        transition: all .15s $easeInOut;

        &:hover {
          background-color: var(--current-dark-primary);
          border-color: var(--current-dark-primary);
        }

        a {
          padding: var(--theme-button-padding);
        }
      }
    }
  }

  .search-field {
    border: 0;
    padding: 0 .8em;

    font-weight: bold;

    background-color: transparent;
    color: var(--current-light-primary);

    --font-size: 23;

  }

  .search-form {
    margin-top: 0;

    width: 100%;
  }

  .search-submit {
    margin-left: 0;
    --theme-button-background-color: var(--current-light-primary);
    --theme-button-border-color: var(--current-light-primary);
    --theme-button-text-color: var(--current-color-primary);

    --theme-button-hover-background-color: var(--current-color-primary);
    --theme-button-hover-border-color: var(--current-light-primary);
    --theme-button-hover-text-color: var(--current-light-primary);

    --font-size: 23;

    max-width: 100%;

    @include placeholder() {
      color: var(--sm-dark-primary);
    }
  }

  .c-search-overlay__cancel {
    background-color: transparent !important;
    border: 0 !important;

    --font-size: 23 !important;

    &:hover {
      color: currentColor !important;
      opacity: .8;
    }
  }
}

.search-overlay--open {
  overflow: hidden;
}

.menu-item {

  @include above(lap) {
    &:not(.no-icon) {
      a[href='#rosa2_search'] {
        --search-icon-width: 25px;

        padding-left: calc(var(--search-icon-width) + 8px) !important;
        //
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          margin-right: 8px;
          transform: translateY(-50%);

          display: block;
          width: var(--search-icon-width);
          height: var(--search-icon-width);

          border: 0;
          padding: 0;

          mask: url($icon-search-path ) no-repeat 50% 50%;
          mask-size: cover;
          -webkit-mask: url($icon-search-path ) no-repeat 50% 50%;
          -webkit-mask-size: cover;

          background-color: currentColor;
        }

        &:before {
          width: calc(100% - var(--search-icon-width) - 8px) !important;
        }
      }
    }

    &.icon-only {
      a[href='#rosa2_search'] {
        text-indent: -9999px;
      }
    }
  }
}
