.search-form {
  position: relative;

  display: flex;
  width: 100%;

  margin-top: 1.5em;

  &:focus,
  &:focus-within {

    .search-icon {
      opacity: 0.75;
    }
  }

  &[class] {

    > label {
      flex: 1;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .search-submit {
    max-width: 200px;
    margin-left: .5em;
  }

  @include above(lap) {

    .search-icon {
      content: '';
      position: absolute;
      left: .8em;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: 1.2em;
      height: 1.2em;

      border: 0;
      padding: 0;

      mask: url($icon-search-path) no-repeat 50% 50%;
      mask-size: cover;
      -webkit-mask: url($icon-search-path) no-repeat 50% 50%;
      -webkit-mask-size: cover;

      background-color: var(--sm-current-fg1-color);
      transition: opacity .15s $ease;
    }
  }

  .search-submit {
    max-width: 100%;
    margin-left: 0;

    --font-size: 23;
  }

  .search-field {
    border: 0;
    padding: 0 .8em;

    background-color: transparent;
    color: var(--sm-current-fg1-color);

    --font-size: 23;
    font-weight: bold;

    @include above(lap) {
      padding: 0 .8em 0 1.8em;
    }

    @include placeholder() {
      color: var(--sm-current-fg1-color);
    }
  }
}
