.search-form {
  position: relative;

  display: flex;
  width: 100%;

  margin-top: 1.5em;

  &:focus,
  &:focus-within {
    .search-icon {
      opacity: 1;
    }
  }

  &[class] {
    > label {
      flex: 1;
      margin-bottom: 0;
      margin-top: 0;
    }

    .search-field {
      height: 100%;
    }
  }

  .search-submit {
    max-width: 200px;
    margin-left: .5em;
  }

  @include above(lap) {
    .search-icon {
      content: '';
      position: absolute;
      left: .8em;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: 1.2em;
      height: 1.2em;

      border: 0;
      padding: 0;

      mask: url($icon-search-path) no-repeat 50% 50%;
      mask-size: cover;
      -webkit-mask: url($icon-search-path) no-repeat 50% 50%;
      -webkit-mask-size: cover;

      background-color: var(--sm-light-primary);
      opacity: .5;
      transition: opacity .15s $ease;
    }
  }

  .search-submit {
    margin-left: 0;
    --theme-button-background-color: var(--sm-light-primary);
    --theme-button-border-color: var(--sm-light-primary);
    --theme-button-text-color: var(--current-color-primary);

    --theme-button-hover-background-color: var(--current-color-primary);
    --theme-button-hover-border-color: var(--sm-light-primary);
    --theme-button-hover-text-color: var(--sm-light-primary);

    --font-size: 23;

    max-width: 100%;

    @include placeholder() {
      color: var(--sm-dark-primary);
    }
  }

  .search-field {
    border: 0;
    padding: 0 .8em;

    font-weight: bold;

    background-color: transparent;
    color: var(--sm-light-primary);

    --font-size: 23;

    @include above(lap) {
      padding: 0 .8em 0 1.8em;
    }
  }

  .error404 &,
  .search-no-results & {
    .search-submit {
      --theme-button-background-color: var(--sm-color-primary);
      --theme-button-border-color: var(--sm-color-primary);
      --theme-button-text-color: var(--sm-light-primary);

      --theme-button-hover-background-color: transparent;
      --theme-button-hover-border-color: var(--sm-color-primary);
      --theme-button-hover-text-color: var(--sm-color-primary);
    }

    .search-field {
      color: var(--current-dark-primary);
    }

    .search-icon {
      background-color: var(--current-dark-primary);
    }
  }
}
