.c-search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999; // bigger than c-bully

  width: 100%;
  
  padding: 1em var(--theme-wrapper-sides-spacing);

  --theme-button-padding: .6em 1.7em;
  --theme-input-search-focus-overlay-shadow: inset 0px 0px 0px 2px currentColor;
  --theme-search-input-focus:
      var(--theme-input-search-focus-overlay-shadow),
      var(--theme-input-focus-colored-shadow),
      var(--theme-input-focus-shadow);
  --theme-input-box-shadow: var(--theme-search-input-focus);
  --theme-input-focus-box-shadow: var(--theme-search-input-focus);
  --theme-input-hover-box-shadow: var(--theme-search-input-focus);

  @include above(lap) {
    transform: translateY(-100%);
    transition: transform .45s $easeInCubic .1s;
  }

  @include below(lap) {
    transform: translateX(-100%);
    transition: transform .3s ease-out;

    --theme-button-padding: .25em 1em;
  }
  
  input[type="submit"],
  input[type="button"] {
    --theme-button-background-color: var(--sm-fg2-color-2);
    --theme-button-border-color: var(--sm-fg2-color-2);
    --theme-button-hover-text-color: var(--sm-fg2-color-2);
    --theme-button-hover-border-color: var(--sm-fg2-color-2);
  }

  &__form {
    transition: opacity .1s $easeOut .025s;
  }

  &__suggestions {
    transition: opacity .1s $easeOut 0s;
  }

  @include wp-offset();

  .has-search-overlay & {

    transition: transform .45s $easeOutCubic;

    @include above(lap) {
      transform: translateY(0);
    }

    @include below(lap) {
      transform: translateX(0);
    }

    &__form {
      opacity: 1;
      transition: opacity .1s $easeIn .2s;
    }

    &__suggestions {
      opacity: 1;
      transition: opacity .1s $easeIn .225s;
    }
  }

  &__content {
    position: relative;
    padding-top: 4.8em;
    max-width: 62.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include above(lap) {
      padding-top: 6.8em;
    }
  }

  &__form {
    display: flex;
    align-items: center;

    opacity: 0;

    @include below(lap) {
      flex-direction: column;
      align-items: flex-start;

      .c-search-overlay__cancel {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  &__suggestions {
    margin-top: 3em;

    opacity: 0;
    transition: opacity .1s $easeInOut 0s;

    @include above(lap) {
      margin-top: 5.5em;
      max-width: 65%;
    }

    @include apply-font(body);
    --font-size: 21;
    --current-font-weight: bold;

    .menu {
      display: flex;
      flex-wrap: wrap;
      
      margin-left: -.5em;
      margin-top: 1em;
      
      padding-left: 0;

      li {
        --current-line-height: 1.3;

        margin-left: .5em;
        margin-bottom: .5em;
        margin-top: 0;

        padding: var(--theme-button-padding);

        border: 2px solid currentColor;

        @include button-base;
        @include button-fill-reverse;

        --theme-button-background-color: var(--sm-fg2-color-1);
    
          a {

          padding: 0;
          text-decoration: none;

          transition: color .3s ease;
        }

        &:hover a {
          color: var(--sm-current-bg-color);
        }
      }
    }
  }

  .search-form {
    margin-top: 0;
    overflow: hidden;
  }

  .c-search-overlay__cancel {
    cursor: pointer;

    display: flex;
    align-items: center;

    padding: var(--theme-button-padding);

    @include apply-font(button);
    --font-size: 21;

    &:hover {
      color: currentColor !important;
      opacity: .8;
    }

    &:after {
      content: 'Cancel';
    }
    
    @include below(lap) {
      position: absolute;

      top: 0;
      left: 0;


      font-weight: 500;

      padding: 0;

      &:before {
        content: '';
  
        display: inline-block;
        
        width: 1em;
        height: 1em;
  
        mask: url($arrow-down-svg-path) no-repeat 50% 50%;
        mask-size: contain;
        mask-position: center;
        -webkit-mask: url($arrow-down-svg-path) no-repeat 50% 50%;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
  
        transform: rotate(90deg);
  
        background-color: currentColor;

        margin-right: 3px;
      }

      &:after {
        content: 'Back';
      }
    }
  }
}

.has-search-overlay {
  overflow: hidden;
}
