.search-form {
  position: relative;

  display: flex;
  width: 100%;

  margin-top: 1.5em;

  --search-icon-width: 1.2em;

  &:focus,
  &:focus-within {

    .search-icon {
      opacity: 0.75;
    }
  }

  &[class] {

    > label {
      flex: 1;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .search-submit {
    max-width: 200px;
    margin-left: .5em;
  }

  @include above(lap) {

    .search-icon {
      content: '';
      position: absolute;
      left: var(--theme-input-padding);
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: var(--search-icon-width);
      height: var(--search-icon-width);

      border: 0;
      padding: 0;

      mask: url($icon-search-path) no-repeat 50% 50%;
      mask-size: cover;
      -webkit-mask: url($icon-search-path) no-repeat 50% 50%;
      -webkit-mask-size: cover;

      background-color: var(--sm-current-fg1-color);
      transition: opacity .15s $ease;
    }
  }

  .search-submit {
    max-width: 100%;
    margin-left: 0;

    --font-size: 23;
  }

  .search-field {
    border: 0;
    height: 100%;

    background-color: transparent;
    color: var(--sm-current-bg-color);

    @include above(lap) {
      padding-left: calc(var(--search-icon-width) + var(--theme-input-padding) + 0.6em);
    }
  }

    background-color: transparent;
    color: var(--sm-current-fg1-color);

    --font-size: 23;
    font-weight: bold;

    @include above(lap) {
      padding: 0 .8em 0 1.8em;
    }

    @include placeholder() {
      color: var(--sm-current-fg1-color);
    }

    .search-icon {
      background-color: var(--sm-color-primary);
    }
  }
}

.novablocks-sidebar {

  .search-submit {

    @include above(lap) {
      display: none;
    }

    --theme-button-text-color: var(--sm-current-bg-color);
    --theme-button-background-color: var(--sm-current-accent-color);
    --theme-button-border-color: var(--sm-current-accent-color);
    --theme-button-hover-text-color: var(--sm-current-accent-color);
    --theme-button-hover-background-color: transparent;
    --theme-button-hover-border-color: var(--sm-current-accent-color);
  }

  .search-field {
    color: var(--sm-current-fg1-color)
  }

  .search-icon {
    background-color: var(--sm-current-accent-color);
  }
}
