.c-search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999; // bigger than c-bully

  width: 100%;
  padding: 1em var(--theme-wrapper-sides-spacing);


  @include above(lap) {
    transform: translateY(-100%);
    transition: transform .45s $ease 0.4s;
  }

  @include below(lap) {
    transform: translateX(-100%);
    transition: transform .3s $ease;

    --theme-button-padding: .25em 1em;
  }

  // Change the input and button color from "accent" to "foreground1"
  --theme-input-focus-color: var(--sm-current-fg1-color);

  .wp-block-search {
    &__button {
      @include specific(2) {
        --theme-button-background-color: var(--sm-current-fg1-color);
        --theme-button-border-color: var(--sm-current-fg1-color);
        --theme-button-text-color: var(--sm-current-bg-color);
        --theme-button-hover-border-color: var(--sm-current-fg1-color);
        --theme-button-hover-text-color: var(--sm-current-fg1-color); 
      }
    }
  }
  

  input[type="submit"],
  input[type="button"] {
    // --theme-button-background-color: var(--sm-fg2-color-2);
    // --theme-button-border-color: var(--sm-fg2-color-2);
    // --theme-button-hover-text-color: var(--sm-fg2-color-2);
    // --theme-button-hover-border-color: var(--sm-fg2-color-2);
  }

  &__form {
    transition: opacity .3s $ease .025s;
  }

  &__suggestions {
    transition: opacity .3s $ease 0s;
  }

  @include wp-offset();

  .admin-bar & {

    @media screen and (max-width: 600px) {
      top: 0;
    }
  }

  .has-search-overlay & {

    transition: transform .45s $ease 0s;

    @include above(lap) {
      transform: translateY(0);
    }

    @include below(lap) {
      transform: translateX(0);
    }

    &__form {
      opacity: 1;
      transition: opacity .3s $ease .3s;
    }

    &__description {
      opacity: 0.75;
      transition: opacity .3s $ease .4s;
    }

    &__suggestions {
      opacity: 1;
      transition: opacity .3s $ease .6s;
    }

  }

  &__content {
    position: relative;
    padding-top: 4.8em;
    max-width: 62.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include above(lap) {
      padding-top: 6.8em;
    }
  }

  &__form {
    display: flex;
    align-items: center;

    opacity: 0;

    @include below(lap) {
      flex-direction: column;
      align-items: flex-start;

      .c-search-overlay__cancel {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  &__suggestions {
    --sugestions-items-spacing: var(--theme-spacing-smaller);
    
    margin-top: 3em;

    opacity: 0;
    transition: opacity .1s $easeInOut 0s;


    @include above(lap) {
      margin-top: 5.5em;
      max-width: 75%;
    }

    @include apply-font(body);
    --font-size: 23;
    --current-font-weight: bold;

    .menu {
      display: flex;
      flex-wrap: wrap;
      
      margin-left: calc(var(--sugestions-items-spacing) * -1);
      margin-top: var(--sugestions-items-spacing);
      
      padding-left: 0;

      li {
        --current-line-height: 1.3;

        margin-left: var(--sugestions-items-spacing);
        margin-bottom: var(--sugestions-items-spacing);
        margin-top: 0;

        padding: var(--theme-button-padding);

        border: var(--theme-button-border-width) var(--theme-button-border-style) currentColor;
        border-radius: var(--theme-button-border-radius);

        @include button-base;
        @include button-fill-reverse;

        --theme-button-background-color: var(--sm-current-fg1-color);
    
          a {

          padding: 0;
          text-decoration: none;

          transition: color .3s ease;
        }

        &:hover a {
          color: var(--sm-current-bg-color);
        }
      }
    }
  }

  .search-form {
    // overflow: hidden;
  }

  .c-search-overlay__cancel {
    cursor: pointer;

    display: flex;
    align-items: center;

    padding: var(--theme-button-padding);

    @include apply-font(button);
    --font-size: 23;

    &:hover {
      color: currentColor !important;
      opacity: .8;
    }

    &:after {
      content: 'Cancel';
    }
    
    @include below(lap) {
      position: absolute;

      top: 0;
      left: 0;


      font-weight: 500;

      padding: 0;

      &:before {
        content: '';
  
        display: inline-block;
        
        width: 1em;
        height: 1em;
  
        mask: url($arrow-down-svg-path) no-repeat 50% 50%;
        mask-size: contain;
        mask-position: center;
        -webkit-mask: url($arrow-down-svg-path) no-repeat 50% 50%;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
  
        transform: rotate(90deg);
  
        background-color: currentColor;

        margin-right: 3px;
      }

      &:after {
        content: 'Back';
      }
    }
  }
  
  &__description {
    margin-top: var(--theme-spacing-smaller);
    opacity: 0;
    
    &,
    * {
      // font-size: 0.7rem;
    }
    
    @include below(lap) {
      .hide-on-mobile {
        display: none;
      }
    }
  }
}

.has-search-overlay {
  overflow: hidden;
}
