:root {
    --current-header-logo-height: var(--theme-mobile-header-logo-height);

    @include above(tablet) {
        --current-header-logo-height: var(--theme-header-logo-height);
    }
}

.site-logo {

    img {
        height: var(--current-header-logo-height)
    }
}

.site-title {
    @include apply-font(heading-4);
    --current-font-size: calc( var(--current-header-logo-height) * 1.8 );
    --current-line-height: 1;
}
