.site-footer--fallback {
    padding-top: var(--theme-spacing-medium);
    padding-bottom: var(--theme-spacing-medium);

    background-color: var(--sm-current-bg-color);
    color: var(--sm-current-fg1-color);

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.site-footer > .site-footer__inner-container > div:last-child {
    margin-top: 0;
}

.site-footer {
    
    .wp-block-group.is-style-default {
        padding-top: var(--wp-block-group-padding);
        padding-bottom: var(--wp-block-group-padding);
    }
    
    .wp-block-group .wp-block-group__inner-container {
        @include above(lap) {
            --display-mode: grid;
        }
    }
}

.site-footer__inner-container {
    
    > .wp-block-group {
        --nb-emphasis-top-spacing: 1;
        --nb-emphasis-bottom-spacing: 1;
    }
}
