.wp-block,
.entry-content > *,
.wp-block-column > *,
[class*="__inner-container"] > * {
    --element-spacing: calc( var(--block-top-spacing, 1) * var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) );
    margin-top: var(--element-spacing);
    margin-bottom: calc( var(--block-bottom-spacing, 1) * var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) );
}

.novablocks-media,
.novablocks-hero,
.novablocks-slideshow,
.novablocks-map.alignfull,
.novablocks-collection {

    & + &[class] {
        --novablocks-element-spacing-multiplier: 0;
    }
}

.novablocks-media--blog[class][class][class] {

    --block-top-spacing: 2;

    &:last-child {
        --block-bottom-spacing: 1;
    }
}

.wp-block-column,
[class*="__inner-container"] {

    > :not(:first-child) {
        --novablocks-element-spacing-multiplier: 0.5;
    }
}

.novablocks-collection > .wp-block-group__inner-container {

    > :not(.novablocks-collection__cards) {
        --novablocks-element-spacing-multiplier: 0.5;
    }
}
