.novablocks-media--blog {

    @include specific(3) {
        --block-top-spacing: 1;
        --block-bottom-spacing: 1;
        --novablocks-element-spacing-multiplier: 0.5;

        &:first-child {
            --block-top-spacing: 0;
        }

        @include below(lap) {
            --block-bottom-spacing: 0;
        }
    }
}
