@import "colors";
@import "typography";
@import "layout";
@import "spacing";
@import "header";

:root {
    --theme-transition-duration: #{$theme-transition-duration};
    --theme-transition-easing: #{$theme-transition-easing};
    --theme-transition: all var(--theme-transition-duration) var(--theme-transition-easing);

    --theme-customify-fluid-unit: calc( var(--theme-spacing-fluid) / var(--theme-body-font-size) );
    --theme-customify-fluid-font-size: calc( 1em / var(--theme-body-font-size) );
}
