
// ATTENTION!
// This file shouldn't be modified. Proceed with caution!

:root {
    --theme-content-width-wide-initial: 38; // em
    --theme-content-width-normal: calc(var(--theme-content-width-normal-initial) * var(--theme-content-final-font-size));

    --theme-content-width-wide-initial: 65; // em
    --theme-content-width-wide: calc(var(--theme-content-width-wide-initial) * var(--theme-content-final-font-size));

    --theme-wrapper-sides-spacing: var(--theme-spacing-fluid-medium);
}