// ------ #BUTTONS BLOCK
.wp-block-button {

    display: flex;

    &:not(.is-style-text) .wp-block-button__link {
        @include button-base;
        @include button-background;
        @include button-color;
        @include apply-font(button);
    }

    &:not([class*="is-style"]) .wp-block-button__link {
        &:not(.has-background) {
            @include button-fill;
        }
    }

    &.is-style-primary .wp-block-button__link[class] {
        @include button-fill;
    }

    &.is-style-secondary .wp-block-button__link[class] {
        @include button-fill-reverse;
    }

    &.is-style-text {

        .wp-block-button__link {
            @include button-reset;
            @include button-text;

            --theme-button-text-color: var(--sm-current-accent-color);
            --theme-button-hover-text-color: var(--sm-current-accent-color);
        }
    }
}

.wp-block-button__link {
    // Always center the text inside the button, including when using Custom Width 
    // settings and the link container is larger than the text itself.
    text-align: center; 

    @include button-transition;
    @include button-base;
    @include button-box;
    @include apply-font(button);
    @include button-color;

    @include specific(3) {

        @each $name, $color in $sm-color-classnames {

            &.has-#{$name}-background-color {
                background-color: transparent !important;
                --theme-button-background-color: #{$color};
                --theme-button-border-color: #{$color};
                --theme-button-hover-background-color: transparent;
                --theme-button-hover-border-color: #{$color};
                --theme-button-hover-text-color: #{$color};
            }

            &.has-#{$name}-color {
                color: var(--current-button-text-color) !important;
                --theme-button-hover-text-color: var(--theme-button-background-color);
                --theme-button-text-color: #{$color};
            }
        }
    }
}

.button--small {
    @include button-small;
}

.button--large {
    @include button-large;
}

.button--huge {
    @include button-huge;
}

