@mixin separator-line {

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: var(--separator-line-thickness);
        background: currentColor;
    }
}

.c-separator {
    --separator-line-thickness: 3px;
    --separator-arrow-width: calc(var(--separator-line-thickness) * 2);

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 1;
}

.c-separator__symbol {
    padding-left: 1em;
    padding-right: 1em;
    opacity: 0.5;

    svg {
        width: auto;
        height: auto;
    }

    .novablocks-hero & {
        opacity: 1;
    }
}

.c-separator__line {
    flex-grow: 1;
    @include separator-line;
}

.c-separator__arrow {
    height: var(--separator-line-thickness);
    border: var(--separator-arrow-width) solid transparent;
}

.c-separator__arrow--left {
    border-left-color: currentColor;
    border-right: 0;
    margin-right: -2px;
}

.c-separator__arrow--right {
    border-right-color: currentColor;
    border-left: 0;
    margin-left: -2px;
}





/* Separator Block */
.wp-block-separator {
    opacity: 1; // Overwrite the 0.4 default from core

    &.is-style-simple {

        .c-separator {
            @include separator-line;
        }

        .c-separator__arrow,
        .c-separator__symbol,
        .c-separator__line {
            display: none;
        }
    }

    &.is-style-decorative,
    &:not([class*="is-style"]) {

        .c-separator__arrow,
        .c-separator__line {
            display: none;
        }
    }

    &.is-style-blank {
        .c-separator {
            display: none;
        }

        // The BLANK separator has no other purpose than spacing nearby elements 
        // whether they are placed before and after it. 
        // Those blocks should merge together when the separator has the spacing set to zero.
        // 
        // Remove the top spacing of the element next to a Blank separator
        // and use the separator option for spacing
        & + *:is(:not(.something)) {
            --nb-block-top-spacing: 0 !important;
        }

    }
}
