.has-image-on-the-right .novablocks-media__layout {
    flex-direction: row-reverse;
}

.novablocks-media__content {
    max-width: 100%;
    @include apply-font(body);
    flex-basis: calc(50% - var(--novablocks-media-spacing));

    @media only screen and (min-width: 40em) {
        min-width: 28em;
    }
}

.novablocks-media__aside {
    flex-basis: calc(50% + var(--novablocks-media-spacing));

    @include above(tablet) {
        &[class] {
            order: -1;
        }
    }

    @include below(tablet) {
        min-height: 300px;
    }

}

.block-is-moderate {
    --novablocks-media-background-color: var(--theme-sm-light-3);
}

.novablocks-media {
    --element-spacing: var(--theme-spacing-large);
    --novablocks-media-content-padding: var(--theme-spacing-fluid-large);
    --novablocks-media-spacing: var(--theme-spacing-fluid-normal);
}

.novablocks-media__content {
    @include below(tablet) {
        margin-bottom: var(--element-spacing);
    }
}
