.novablocks-media__content {
    max-width: 100%;
    @include apply-font(body);
    flex-basis: calc(50% - var(--novablocks-media-spacing));
}

.novablocks-media__aside {
    flex-basis: calc(50% + var(--novablocks-media-spacing));

    .novablocks-media:not(.novablocks-media--no-thumbnail) & {
        min-height: 15em;
    }

    .novablocks-media__image {

        svg {
            @include image-cover;
            object-fit: contain;
        }
    }

    @include above(tablet) {

        .has-image-on-the-left & {
            order: -1;
        }
    }
}

.block-is-moderate {
    --novablocks-media-background-color: var(--current-light-tertiary);
}

.novablocks-media {
    --novablocks-media-content-padding: var(--theme-spacing-fluid-large);
    --novablocks-media-spacing: var(--theme-spacing-fluid-medium);
}

.novablocks-media--blog[class] {

    .novablocks-media__content {
        margin-bottom: 0;
    }

    .novablocks-media__aside {
        order: 0;
    }

    &.has-image-on-the-left {
        .novablocks-media__layout {
            flex-direction: row-reverse;
        }
    }
}

@include below(tablet) {

    .novablocks-media__content {
        flex-basis: 100%;
    }

    .novablocks-media {
        --novablocks-media-background-color: transparent;
    }

    .novablocks-media__inner-container {
        --novablocks-media-content-padding: 0;
        --novablocks-media-content-background-color: transparent;
        --novablocks-media-text-color: var(--theme-dark-primary);
        box-shadow: none;
    }
}
