@at-root {

    :root {
        --novablocks-spacing: var(--theme-spacing-fluid-medium);
        --novablocks-block-content-padding: var(--theme-spacing-fluid-large);
    }
}

//.block-is-moderate + .block-is-moderate,
//.block-is-highlighted + .block-is-highlighted {
//    padding-top: var(--theme-spacing-fluid-small);
//}

.novablocks-media__content {
    @include apply-font(body);
}

.novablocks-media__aside {

    .novablocks-media:not(.novablocks-media--no-thumbnail) & {
        min-height: 15em;
    }

    .novablocks-media__image {

        svg {
            @include image-cover;
            object-fit: contain;
        }
    }
}

.block-is-moderate {
    --novablocks-block-background-color: var(--current-light-tertiary);
}

.novablocks-media--blog[class] {

    .novablocks-media__content {
        margin-bottom: 0;
    }

    .novablocks-media__aside {
        order: 0;
    }

    &.has-image-on-the-left {
        .novablocks-media__layout {
            flex-direction: row-reverse;
        }
    }
}

@include below(tablet) {

    .novablocks-media__content {
        flex-basis: 100%;
    }

    .novablocks-block {
        --novablocks-block-background-color: transparent;
    }

    .novablocks-block__content {
        --novablocks-block-content-padding: 0;
        --novablocks-block-content-background-color: transparent;
        --novablocks-block-text-color: var(--theme-dark-primary);
        box-shadow: none;
    }
}
