$enable-nova-blocks-styles:             true !default;

@if $enable-nova-blocks-styles == true {
    /* Nova Blocks */
    .novablocks-media__inner-container {
        --theme-wrapper-side-spacing: var(--novablocks-media-content-padding);
    }

    .block-is-moderate + .block-is-moderate,
    .block-is-highlighted + .block-is-highlighted {
        padding-top: 0;
    }
}
