$enable-columns-block-styles:           true !default;

@if $enable-columns-block-styles == true {

    /* Columns Blocks */
    .wp-block-columns {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        --theme-column-spacing: var(--theme-spacing-normal);
        grid-gap: var(--theme-column-spacing);

        &.alignfull {
            --theme-wrapper-side-spacing: 0;
        }
    }

    .wp-block-column {
        @include space-children-y(var(--theme-spacing-normal));
    }
}
