$enable-columns-block-styles: true !default;

@if $enable-columns-block-styles == true {

    /* Columns Blocks */
    .wp-block-columns {
        display: flex;

        @media not screen and (min-width: 782px) {
            flex-wrap: wrap
        }

        // spacing for first level of rows
        &:not(:first-child),
        & + * {
            --element-spacing: var(--theme-spacing-fluid-large);
        }

        // spacing for deeper levels of rows
        & &:not(:first-child),
        & & + * {
            --element-spacing: var(--theme-spacing-fluid-normal);
        }

        .block-editor-inner-blocks {
            width: 100%;
        }
    }

    .wp-block-column {
        flex: 0 1 100%;
        min-width: 0;
        word-break: break-word;
        overflow-wrap: break-word;

        --column-spacing: calc(var(--theme-spacing-fluid-normal) + var(--theme-spacing-fluid-tiny));

        &:not(:last-child) {
            margin-bottom: var(--column-spacing);
        }

        @media only screen and (min-width: 600px) {
            flex-basis: calc(50% - var(--column-spacing) / 2);

            &:nth-child(2n) {
                margin-left: var(--column-spacing);
            }

            // when there's an odd number of columns remove the margin only for the last one
            &:last-child:nth-child(2n+1),
            // when there's an event number of columns remove the from the last two
            &:nth-last-child(2):nth-child(2n+1),
            &:nth-last-child(2):nth-child(2n+1) + & {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 782px) {

            @include specific(2) {
                margin-bottom: 0;
            }

            &:not(:first-child) {
                margin-left: var(--column-spacing);
            }
        }
    }


    .wp-block-columns {

        &.are-vertically-aligned-top {
            align-items: flex-start
        }

        &.are-vertically-aligned-center {
            align-items: center
        }

        &.are-vertically-aligned-bottom {
            align-items: flex-end
        }
    }

    .wp-block-column {

        &.is-vertically-aligned-top {
            align-self: flex-start
        }

        &.is-vertically-aligned-center {
            align-self: center
        }

        &.is-vertically-aligned-bottom {
            align-self: flex-end
        }
    }
}
