.wp-block-columns {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );

    --theme-column-spacing: var(--nova-element-spacing);
    grid-gap: var(--theme-column-spacing);
}

.wp-block-column {
    @include space-children-y(var(--nova-element-spacing));
}