@media only screen and (min-width: 1000px) {
  .c-menu-toggle__checkbox,
  .c-menu-toggle {
    display: none; } }

.c-menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
  font-size: 1rem; }

.c-menu-toggle__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1em var(--novablocks-wrapper-sides-spacing, 0);
  cursor: pointer; }

.c-menu-toggle__checkbox {
  display: none; }

.c-menu-toggle__label {
  margin-right: 0.5em; }

.c-menu-toggle__icon {
  position: relative;
  display: block;
  width: 1em; }

.c-menu-toggle__slice {
  display: block;
  width: 21px;
  height: 2px;
  background: currentColor; }

.c-menu-toggle__slice--top,
.c-menu-toggle__slice--bottom {
  position: absolute;
  top: 0;
  right: 0; }

.c-menu-toggle__slice--middle {
  width: 16px; }

.c-menu-toggle__slice--top {
  -webkit-transform: translate3d(0, -7px, 0);
          transform: translate3d(0, -7px, 0); }

.c-menu-toggle__slice--bottom {
  -webkit-transform: translate3d(0, 7px, 0);
          transform: translate3d(0, 7px, 0); }

.c-reading-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  height: 3px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .c-reading-progress[class] {
    background-color: transparent; }

.c-reading-progress::-webkit-progress-bar {
  background-color: transparent; }

.c-reading-progress::-webkit-progress-value {
  background-color: currentColor; }

.c-reading-progress::-moz-progress-bar {
  background-color: currentColor; }

.c-reading-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.35s -webkit-transform ease;
  transition: 0.35s -webkit-transform ease;
  transition: 0.35s transform ease;
  transition: 0.35s transform ease, 0.35s -webkit-transform ease;
  will-change: transform;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
  padding-right: 32px;
  padding-left: 32px; }
  .c-reading-bar[class] {
    background: none; }
  .site-header--reading .c-reading-bar {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: auto; }
  @media not screen and (min-width: 1024px) {
    .c-reading-bar {
      display: none; } }

.novablocks-header-row .wp-block[class][class][class][class][class][class] {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transition-property: all;
  transition-property: all; }

.site-header--next .c-reading-bar,
.site-header--reading .c-reading-bar {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto; }

.site-header--next .novablocks-header-row__inner-container > .wp-block,
.site-header--reading .novablocks-header-row__inner-container > .wp-block {
  -webkit-transform: translateY(calc(100% + 50px));
          transform: translateY(calc(100% + 50px));
  pointer-events: none; }

[class*="c-reading-bar__wrapper-title"] {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.site-header--next .c-reading-bar__wrapper-title--current {
  opacity: 0; }

.site-header--next .c-reading-bar__wrapper-title--next {
  opacity: 1; }

.c-reading-bar__wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.c-reading-bar__wrapper-title--next {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
  opacity: 0;
  pointer-events: none; }
  .c-reading-bar__wrapper-title--next .post-title__post-name {
    text-decoration: none;
    color: currentColor; }
    .c-reading-bar__wrapper-title--next .post-title__post-name:hover {
      text-decoration: underline; }

.c-reading-bar[class][class][class][class] .wp-block-button__link {
  padding: 0;
  background-color: transparent;
  color: inherit;
  border: 0; }
  .c-reading-bar[class][class][class][class] .wp-block-button__link span {
    padding: 0;
    margin: 0; }
  .c-reading-bar[class][class][class][class] .wp-block-button__link svg {
    display: none; }
  .c-reading-bar[class][class][class][class] .wp-block-button__link:before {
    background-color: transparent; }

.c-reading-bar[class][class][class][class] .wp-block-buttons {
  margin-top: 0; }

.c-reading-bar .post-title__label[class] {
  margin-bottom: 0; }

.c-reading-bar .post-title__post-name {
  margin-right: 5px; }

.site-header--next .c-reading-bar__wrapper-title--next {
  z-index: 10;
  pointer-events: auto; }

:root {
  --icons-size-multiplier: 1.3;
  --icons-horizontal-spacing-reducer: 2; }

.novablocks-header[class] {
  position: absolute;
  width: 100%; }

.novablocks-header--sticky[class] {
  --header-background-opacity: 0.95;
  position: fixed;
  top: 0; }

.novablocks-header--mobile {
  display: none; }
  .novablocks-header--mobile.novablocks-header--scrolled {
    color: var(--novablocks-fg2-color); }

.novablocks-header--secondary {
  width: 100%;
  z-index: 1100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in; }
  .novablocks-header--secondary.is-visible {
    opacity: 1;
    pointer-events: auto; }
  .novablocks-header--secondary:after {
    opacity: 0.1; }
  .novablocks-header--secondary:hover > .novablocks-header__inner-container:not(:only-child):last-child {
    opacity: 1;
    pointer-events: auto; }
  .novablocks-header--secondary:not(.primary-menu--is-visible) > .novablocks-header__inner-container:not(:only-child):last-child {
    display: none; }
  .novablocks-header--secondary > .novablocks-header__inner-container:not(:only-child):last-child {
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.1s ease 0.1s, -webkit-transform 0.2s ease 0s;
    transition: opacity 0.1s ease 0.1s, -webkit-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s, opacity 0.1s ease 0.1s;
    transition: transform 0.2s ease 0s, opacity 0.1s ease 0.1s, -webkit-transform 0.2s ease 0s; }
  @media not screen and (min-width: 1024px) {
    .novablocks-header--secondary {
      display: none !important; } }

@media only screen and (min-width: 1024px) {
  .novablocks-header--main {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: var(--theme-transition);
    transition: var(--theme-transition);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    will-change: transform; }
  .novablocks-header__inner-container {
    width: 100%; }
  .novablocks-header__content > .novablocks-navigation > .menu,
  .novablocks-header__content > .novablocks-navigation > .menu > ul {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit; } }

@media not screen and (min-width: 1024px) {
  .novablocks-header--main.novablocks-header-background:before {
    position: fixed; }
  .novablocks-header {
    display: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999; }
    .c-menu-toggle__checkbox ~ .novablocks-header {
      display: block; }
    .c-menu-toggle__checkbox:not(:checked) ~ .novablocks-header {
      -webkit-transform: translateX(100%);
              transform: translateX(100%); }
  .novablocks-header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    [class*="__inner-container"] > .novablocks-header__content {
      max-width: none; }
    .novablocks-header__content .site-branding {
      padding: 1em;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }

@media not screen and (min-width: 1024px) {
  .novablocks-header,
  .c-menu-toggle__slice {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .c-menu-toggle__checkbox:checked ~ .c-menu-toggle .c-menu-toggle__slice--top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .c-menu-toggle__checkbox:checked ~ .c-menu-toggle .c-menu-toggle__slice--middle {
    opacity: 0; }
  .c-menu-toggle__checkbox:checked ~ .c-menu-toggle .c-menu-toggle__slice--bottom {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

.novablocks-header-background {
  position: relative;
  background: none !important; }
  .novablocks-header-background:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--novablocks-bg-color);
    opacity: var(--header-background-opacity, 1);
    -webkit-transition: var(--novablocks-transition);
    transition: var(--novablocks-transition);
    -webkit-transition-property: opacity;
    transition-property: opacity; }

.novablocks-header-shadow {
  --header-shadow-opacity: 0; }
  .novablocks-header-shadow.novablocks-header--sticky, .novablocks-header-shadow.novablocks-header--mobile[style*='fixed'] {
    --header-shadow-opacity: 0.1; }
  .novablocks-header-shadow:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: var(--shadow-color, #000000) 0 var(--shadow-y-offset, 0.0625em) var(--shadow-blur, 0.125em);
            box-shadow: var(--shadow-color, #000000) 0 var(--shadow-y-offset, 0.0625em) var(--shadow-blur, 0.125em);
    opacity: var(--header-shadow-opacity, 0);
    pointer-events: none;
    -webkit-transition: var(--novablocks-transition);
    transition: var(--novablocks-transition);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    z-index: -1; }
