/* Alignment Helper Classes */
@each $alignment in left, center, right {

    .has-text-align-#{$alignment} {
        text-align: $alignment;
    }
}

@each $alignment in left, right, center, none {

    [class*="wp-block"].align#{$alignment},
    [class*="wp-block"] > .align#{$alignment},
    .editor-styles-wrapper [data-align=#{$alignment}] [data-block] {

        &:not(:first-child) {
            margin-top: var(--element-spacing);
        }

        &:not(:last-child) {
            margin-bottom: var(--element-spacing);
        }
    }
}

@each $alignment in left, right {

    [class*="wp-block"].align#{$alignment},
    [class*="wp-block"] > .align#{$alignment} {
        float: #{$alignment};
        margin-#{$alignment}: 0;
    }

    [class*="wp-block"] > .align#{$alignment} {
        margin-bottom: var(--element-spacing);
    }

    [class*="wp-block"].align#{$alignment},
    [class*="wp-block"] > .align#{$alignment},
    .editor-block-list__block[data-align=#{$alignment}],
    .block-editor-block-list__block[data-align=#{$alignment}] {

        .editor-block-list__block-edit {
            max-width: 40%;
        }

        &[data-align] .block-editor-rich-text p {
            font: inherit;
        }
    }
}

[class*="wp-block"] {
    clear: both;
}

//[class*="wp-block"].alignright,
//[class*="wp-block"] > .alignright,
//.editor-block-list__block[data-align=right] .editor-block-list__block-edit,
//.block-editor-block-list__block[data-align=right] .editor-block-list__block-edit {
//    margin-left: var(--element-spacing);
//}
//
//[class*="wp-block"].alignleft,
//[class*="wp-block"] > .alignleft,
//.editor-block-list__block[data-align=left] .editor-block-list__block-edit,
//.block-editor-block-list__block[data-align=left] .editor-block-list__block-edit {
//    margin-right: var(--element-spacing);
//}

[class*="wp-block"].aligncenter,
[class*="wp-block"] > .aligncenter,
.editor-block-list__block[data-align=center] .editor-block-list__block-edit,
.block-editor-block-list__block[data-align=center] .editor-block-list__block-edit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
