/*--------------------------------------------*\
  #HELPER CLASS - .has-background-dim-[1-2]
\*--------------------------------------------*/
.has-background:not([class*="wp-block-button"]) {
    padding: var(--theme-spacing-fluid) var(--theme-spacing-fluid-small);
}

.has-background-dim {
    background-color: var(--sm-current-fg2-color, #000);

    &:before {
        content: "";
        @include cover;
        background-color: inherit;
        opacity: 0.5;
        pointer-events: none;
        z-index: 1;
    }
}

@for $i from 1 through 10 {
    .has-background-dim-#{$i * 10}:before {
        opacity: $i*0.1;
    }
}

@each $name, $color in $sm-color-classnames {

    .has-#{$name}-background-color {
        background-color: $color;
    }
}
