@include above(desktop) {
	
	.u-collection-title-sideways[class][class] {
		
		.nb-collection__title {
			position: absolute;
			bottom: 100%;
			right: calc(100% + var(--theme-spacing-smaller));
			
			width: auto !important;
			margin: 0 !important;

			white-space: nowrap;

			transform-origin: 100% 100%;
			transform: rotate(-90deg);

			@include apply-font(navigation);
			// @include apply-font-properties();
		}

		.nb-collection__header:not(.nb-collection__header--has-description) + .nb-collection__body {
			--nb-block-top-spacing: 0;
		}
	}
}