@include above(desktop) {
	
	.u-collection-title-sideways {
		
		.novablocks-collection__title {
			
			--current-font-weight: 400;
			
			position: absolute;
			bottom: 100%;
			right: 100%;
			
			width: auto !important;
			margin-right: calc(var(--novablocks-spacing) * 0.33);
			font-size: 1rem;
			transform-origin: 100% 100%;
			transform: rotate(-90deg);
			white-space: nowrap;
		}
		
		.nb-collection__layout[class][class] {
			--nb-block-top-spacing: 0;
		}
		
		.novablocks-sidebar {
			
			.novablocks-collection__title {
				right: calc(100% + var(--nb-wrapper-sides-spacing));
			}
		}
	}
}
