body {
    &.archive:not(.woocommerce-page),
    &.blog,
    &.search:not(.search-no-results) {
        background-color: var(--sm-current-bg-color);

        .novablocks-media__inner-container {
            text-align: center;
        }
    }
}

.blog,
.archive,
.search {
    .entry-content .wp-block-group .wp-block-group__inner-container {
        
        @include above(lap) {
            --display-mode: grid;
        }
    }
    
    .entry-header {
        padding-top: var(--theme-spacing-fluid-xl);
        padding-bottom: var(--theme-spacing-fluid-xl);
    }
    
    .wp-block {
        width: 100%;
    }
    
    .entry-content {
        
        @include below(lap) {
            --display-mode: block;
        }
    }
}
