body {

    &.blog,
    &.archive:not(.woocommerce-page),
    &.search:not(.search-no-results) {
        background-color: var(--sm-current-bg-color);

        .novablocks-media__inner-container {
            text-align: center;
        }
    }
}

.blog,
.archive,
.search {

    .entry-content .wp-block-group .wp-block-group__inner-container {
        
        @include above(lap) {
            --display-mode: grid;
        }
    }
    
    .wp-block {
        width: 100%;
    }
    
    .entry-content {
        
        @include below(lap) {
            --display-mode: block;
        }
    }
}
