/*------------------------------------*\
  #BLOCK PATTERNS SHOWCASE PAGES
\*------------------------------------*/

// For Block Patterns pages add the 
// `.block-patterns` CSS class to the body tag. 
body.block-patterns {
    background: #F5F5F5;
    background: var(--sm-bg-color-2);
}

// Use a Group block with `.showcase-block-title` CSS class
// to mark the title and description for the following Block Pattern
.showcase-block-title {
    position: relative;

    * {
        font-weight: 400 !important;
        font-family: system-font-sans-serif-clear, "SF Pro Display", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif !important; 
    }

    @include above(tablet) {
        .wp-block-group__inner-container > * {
            margin-left: 7.5%;
        }

        &:before {
            content: " ";
            position: absolute;
            top: 20px;
            left: 0px;
            width: 30px;
            height: 0px;
            border-top: 2px solid var(--sm-current-fg1-color);
            border-left: 2px solid var(--sm-current-fg1-color);
        }
    }
}


// The next block after the title is considered a Block Pattern
.showcase-block-title:not([class*="block-editor"]) {

    & + div {
        @include above(tablet) {
            box-shadow: 0 0 0 1px #E5E6E8;
            border-radius: 8px;
            overflow: hidden;
            
            // Resize the block to have a better overview
            transform-origin: 50% 0%;
            transform: scale(0.8);
            transition: all .4s ease;

            // Reset block spacing
            --nb-emphasis-top-spacing: 1 !important;
            --nb-emphasis-bottom-spacing: 1 !important;

            &:hover {
                transform: scale(1);
                border-radius: 0px;
            }
        }
    }

    // Multipled blocks grouped inside a Sidecar block
    & + div.nb-sidecar {
        @include above(tablet) {

            // Add a background for Sidecar 
            background: var(--sm-current-bg-color, var(--nb-bg-color));
        }
    }
}