.error404,
.search-no-results {

  .content-area {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: var(--theme-spacing-fluid-larger);
    padding-bottom: var(--theme-spacing-fluid-larger);

    text-align: center;
  }
}
