.single {

    &.single-post {
        background: var(--sm-current-bg-color);
    }

    .site-content {
        background-color: var(--sm-current-bg-color);
        
        @include below(lap) {
            
            padding-top: 0;
    
            .entry-header {
                padding-top: var(--theme-spacing-fluid-large);
            }
        }
    }
}

.single,
.page {

    .hentry {
        @include space-children-y( var(--theme-spacing-large) );
    }

    .entry-header > * {
        @include avoid-fout-opacity;
    }

    .entry-header {
        --element-spacing: var(--theme-spacing-fluid-xsmall);
        @include space-children-y( var(--theme-spacing-fluid-xsmall) );

        .entry-thumbnail {
            padding-top: var(--theme-spacing-fluid-large);
        }
    }

    .entry-thumbnail__wrapper {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .entry-thumbnail__container {
        background-color: var(--sm-current-bg-color);

        width: 100%;
    }
}

@include above(lap) {

    .single {

        .novablocks-header:not(.novablocks-header--scrolled) {
            background-color: transparent;

            &:after {
                opacity: 0;
            }
        }
    }
}

.post-password-form {
    input[type='submit'] {
        width: 100%;
        margin-top: var(--theme-spacing-small);
    }
}

.article-navigation {
    margin-bottom: 3em;
}

.entry-thumbnail {
    z-index: 2;

    img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        transform: none;
    }
}

.article-header {

    .entry-header {
        transform: translateZ(0);

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        background: none;

        &:before {
            content: '';

            position: absolute;
            top: calc(-1 * var(--theme-spacing-fluid-large));
            right: -100vw;
            bottom: 0;
            left: -100vw;
            z-index: -1;

            display: block;

            background-color: var(--sm-current-bg-color);
            pointer-events: none;
            
            @include below(lap) {
                left: calc(-1 * var(--theme-wrapper-sides-spacing));
                right: calc(-1 * var(--theme-wrapper-sides-spacing));
            }
        }

        padding-bottom: calc( 0.5 * var(--theme-spacing-fluid-large) );

        body.single .site-main .has-post-thumbnail & {

            &:before {
                bottom: calc(-2 * var(--theme-spacing-fluid-large));
            }
        }

        + .entry-thumbnail {
            position: relative;
            z-index: 10;

            margin-top: calc( 0.5 * var(--theme-spacing-fluid-small) );
        }

        .cat-links {
            --current-font-weight: 700;

            a {
                color: var(--sm-current-accent-color);
                text-decoration: none;
            }
        }

        .entry-title {
            --current-font-weight: 800;
            --current-line-height: 1.2;
        }
    }

    a {
        display: inline-block;

        &:not(.c-button__link) {

            position: relative;

            &:before {
                content: '';

                position: absolute;
                bottom: 0;

                width: 100%;
                height: 3px;

                background: currentColor;

                transform: scale3d(0, 1, 1);
                transform-origin: right;

                transition: var(--theme-transition);
                transition-property: transform;

                will-change: transform;
                -webkit-backface-visibility: hidden;
            }

            &:hover:before {
                transform: scale3d(1, 1, 1);
                transform-origin: left;
            }
        }
    }

    .cat-links,
    .entry-excerpt {
        @include apply-font(lead);
    }
}
