.novablocks-block__content {
  @include apply-font(body);
}

.novablocks-card {
  .block-is-highlighted:not(.content-is-highlighted) &,
  .content-is-highlighted:not(.block-is-highlighted) & {
    .wp-block-button:not(.is-style-text) {
      .wp-block-button__link {
        --theme-button-text-color: var(--current-dark-primary);
        --theme-button-background-color: var(--current-light-primary);
        --theme-button-border-color: var(--current-light-primary);
        --theme-button-hover-text-color: var(--current-light-primary);
        --theme-button-hover-background-color: transparent;
        --theme-button-hover-border-color: var(--current-light-primary);
      }
    }

    a {
      color: inherit;
      text-decoration-color: inherit;
    }
  }
}
