.novablocks-card {
  @include apply-font(body);

  .block-is-highlighted:not(.content-is-highlighted) &,
  .content-is-highlighted:not(.block-is-highlighted) & {
    .wp-block-button:not(.is-style-text) {
      .wp-block-button__link {
        @include button-inverted;
      }
    }

    a:not(.wp-block-button__link) {
      color: inherit;
      text-decoration-color: inherit;
    }
  }
}

// remove padding added on all inner containers
.novablocks-card__inner-container[class] {
  padding-left: 0;
  padding-right: 0;
}
