.woocommerce-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-left: -1.5em;
  list-style: none;

  > * {
    margin-left: 1.5em;
  }


 a {
   color: var(--current-dark-primary);
   padding-bottom: .5em;
   padding-top: .5em;

   text-decoration: none;

   border-bottom: .1em solid transparent;

   &.active {
     color: var(--current-color-primary);
     border-bottom: .1em solid currentColor;
   }

   &:hover {
     color: var(--current-color-primary);
     border-bottom: .1em solid currentColor;
   }
 }

  li {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.woocommerce-categories[class] {
  line-height: 1;
}

.woocommerce-products-header {
  padding-top: var(--theme-spacing-normal);
  padding-bottom: var(--theme-spacing-normal);
}

.woocommerce-products-header__title {
  text-align: center;
  margin-bottom: var(--theme-spacing-small);
}

.woocommerce-ordering select {
  padding-top: var(--theme-spacing-tiny);
  padding-bottom:  var(--theme-spacing-tiny);

  color: var(--theme-dark-primary);

  border: 0;
  border-bottom: .1875em solid currentColor;
  border-radius: 0;

  line-height: 1.3;

  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(assets/images/arrow-down.svg) calc(100% - 15px) center no-repeat;
  background-size: 17px 9px;
}

.woocommerce {
  @include specific(2) {
    button:not(.single_add_to_cart_button):not(:disabled),
    .button:not(.single_add_to_cart_button):not(:disabled),
    #respond .comment-form #submit {
      @include button;
      @include button-fill-reverse;
    }

    .add_to_cart_button.ajax_add_to_cart,
    .checkout-button,
    #place_order,
    .woocommerce-mini-cart__buttons .checkout,
    .wc-proceed-to-checkout .wc-forward,
    .grouped_form .single_add_to_cart_button {
      @include button;
      @include button-fill;
    }
  }

  &.archive {
    background: var(--current-light-primary);
  }
}
