// page numbers
@mixin pagination {
  position: relative;

  &:before,
  &:after {
    content: '';

    position: absolute;
    top: 50%;
    z-index: 100;

    color: inherit;
    transition-property: transform;
  }

  // The stick
  &:before {
    width: .75em;
    height: .0625em;

    background-color: currentColor;
  }

  // The arrow
  &:after {
    display: block;
    width: .45em;
    height: .45em;

    border: .1em solid transparent;
  }
}

@mixin pagination--left {
  padding-left: 1.55em;

  &:before {
    left: 0;
  }

  &:after {
    left: 0;
    border-top-color: currentColor;
    border-left-color: currentColor;
    transform: translate(0, calc(0.5px - 50%)) rotate(-45deg);
  }
}

@mixin pagination--right {
  padding-right: 1.55em;

  &:before {
    right: 0;
  }

  &:after {
    right: 0;
    border-top-color: currentColor;
    border-right-color: currentColor;
    transform: translate(0, calc(0.5px - 50%)) rotate(45deg);
  }
}

.woocommerce-pagination,
.nav-links {
  display: flex;
  justify-content: center;

  margin-top: var(--theme-spacing-huge);
  margin-bottom: var(--theme-spacing-normal);
  margin-left: calc(var(--theme-spacing-tiny) * -1);

  > .page-numbers {
    text-decoration: none;
    margin-left: var(--theme-spacing-tiny);
  }

  > .prev {
    @include pagination;
    @include pagination--left;
  }

  > .next {
    @include pagination;
    @include pagination--right;
  }

  > .prev,
  > .current:last-child {
    margin-right: auto;
  }

  > .next,
  > .current:first-child {
    margin-left: auto;
  }
}

a.page-numbers,
span.page-numbers {

  color: var(--theme-sm-dark-2);

  &[class][class] {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    &.current {
      background-color: var(--theme-sm-dark-2);
      color: var(--theme-sm-light-1);
    }

    &:not(.current):hover {
      color: var(--theme-sm-dark-1);
    }
  }

  &.next[class],
  &.prev[class] {
    width: auto;
  }
}
