.wc-block-grid {
  --column-gap: var(--theme-spacing-small);
  --row-gap: var(--theme-spacing-small);

 .woocommerce & {
   margin-right: calc(var(--column-gap) * -1);
 }

  &.has-aligned-buttons {
    .wc-block-grid__product {
      display: flex;
      flex-direction: column;
    }
  }
  &.has-1-columns {

    .wc-block-grid__products {
      display: block;
    }

    .wc-block-grid__product {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .wc-block-grid__product[class] {
    flex: 1;
    max-width: 100%;
  }

  @include above(lap) {
    @for $i from 2 to 9 {
      &.has-#{$i}-columns .wc-block-grid__product {
        flex: 1 0 calc(#{ 100% / $i });
        max-width: 100% / $i;
      }
    }
  }

  @include above(tablet) {
    .wc-block-grid__product {
      flex: 1 0 50%;
      max-width: 50%;
    }
  }
}

.wc-block-grid__products {

  @include above(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;

  li {
    margin-top: 0;
  }
}

.wc-block-grid__product {
  padding: 0 var(--column-gap) 0 0;
  margin: 0 0 var(--row-gap) 0;
  float: none;
  width: auto;
  position: relative;

  text-align: left;

  clear: both;

  .add_to_cart_button:not(.loading):after {
    content: "+";
    padding-left: .5em;
    right: 0;
  }

}

.wc-block-grid__product-link {
  display: block;
  text-decoration: none;

  @supports (--css: variables) {
    --current-aspect-ratio: 1;
    position: relative;

    &,
    &:before {
      padding-top: calc(100% / var(--current-aspect-ratio));
    }

    &:before,
    .wc-block-grid__product-image {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
    }

    &:before {
      content: "";
      background-color: var(--theme-light-tertiary);
    }
  }
}

.wc-block-grid__product-image img {
  display: block;
}

.woocommerce-loop-product__link {
  display: block;
  text-decoration: none;

  .wc-block-grid__product-onsale {
    @include specific(2) {
      transform: none;
    }
  }
}

.wc-block-grid__product-add-to-cart {
  text-align: center;

  .add_to_cart_button {
    width: 100%;
  }
}

.wc-block-grid__product-onsale {
  position: absolute;

  top: var(--theme-spacing-tiny);
  left: var(--theme-spacing-tiny);
  padding: .3em 1.1em;
  background-color: var(--current-color-primary);
  
  color: var(--theme-light-primary);
  text-align: center;

  z-index: 10;
}

.wc-block-grid__product > :not(:last-child) {
  margin-bottom: var(--theme-spacing-tiny);
}

.wc-block-grid__product-price {
  color: var(--theme-dark-primary);

  del {
    opacity: .5;
  }

  ins {
    text-decoration: none;
  }
}

.wc-block-grid__product-image img {
  width: 100%;
}

.wc-block-grid__product-title,
.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
  @include apply-font(heading-4);
  color: var(--current-dark-primary);
  margin-top: var(--theme-spacing-tiny);
}

.wc-block-grid__product-rating {

  .star-rating {
    overflow: hidden;
    position: relative;
    width: 5.3em;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    font-family: star; /* stylelint-disable-line */
    font-weight: 400;
    display: inline-block;
    margin: 0 auto;
    text-align: left;

    &::before {
      content: "\53\53\53\53\53";
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      opacity: .5;
      color: currentColor;
    }

    span {
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      padding-top: 1.5em;
    }

    span::before {
      content: "\53\53\53\53\53";
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      color: currentColor;
    }
  }
}


.wp-block-button.wc-block-grid__product-add-to-cart {
  transform: translateY(-10px);
  opacity: 0;
}

.wc-block-grid__product:hover {
  .wc-block-grid__product-add-to-cart {
    transform: translateY(0);
    opacity: 1;
  }

  .wc-block-grid__product-link,
  .wc-block-grid__product-price,
  .wc-block-grid__product-rating,
  .wc-block-grid__product-onsale {
    transform: translateY(-10px);
    transition: transform .25s $easeOutQuad;
  }
}

.wc-block-grid__product-link,
.wc-block-grid__product-price,
.wc-block-grid__product-rating,
.wc-block-grid__product-onsale {
  transition: transform .25s $easeOutQuad;
}

.wc-block-grid__product-add-to-cart {
  transition: opacity .25s $easeOutQuad,
              transform .25s $easeOutQuad;

  @include specific(4) {
    .added_to_cart {
      display: none;
    }
  }
}

.woocommerce img,
.woocommerce-page img {
  width: 100%
}

.product-category {
 &:hover {
   img {
     transform: translateY(-10px);
   }

   .woocommerce-loop-category__title {
     transform: translateY(10px);
   }
 }

  img,
  .woocommerce-loop-category__title {
    transition: transform .25s $easeOutQuad;
  }
}
