@import "archive";
@import "product";
@import "cart";
@import "single-product";
@import "page-numbers";
@import "checkout";


/*
 * Blocks
 */

@import "blocks/product-featured";
@import "blocks/category-featured";

.woocommerce ul.products li.product .price {
  color: var(--theme-sm-color-1);
  font-size: var(--current-font-size);
}

.woocommerce {
  --theme-content-width-normal: var(--theme-content-width-wide);
}
