// Status: 
// - [ ] Editor: Check the alignments in Editor and why break-align classes are not present

$enable-gallery-block-styles: true !default;

@if $enable-gallery-block-styles == true {

  :is(.wp-block-gallery, .blocks-gallery-grid) {
    width: 100%;

    :is(.blocks-gallery-image, .blocks-gallery-item) {

      figure {
        flex-direction: column;
      }

      figcaption {
        @include caption;

        position: static;
        padding: calc(0.125 * var(--nb-spacing)) 0 0 0;
        background: none;
        color: var(--sm-current-fg1-color);
        text-align: inherit;
      }
    }
  }
}
