// Status: 
// - [ ] Editor: Check the alignments in Editor and why break-align classes are not present

$enable-gallery-block-styles:           true !default;
$gallery-selector: '.wp-block-gallery' !default;

@if $enable-gallery-block-styles == true {
    
    #{$gallery-selector} {
        &.has-nested-images figcaption, figcaption {
            @include caption;
        }
    
        &.alignfull,
        > .alignfull {
        
            figcaption {
                padding-left: var(--theme-wrapper-sides-spacing);
                padding-right: var(--theme-wrapper-sides-spacing);
            }
        }
    }
}
