.site-header {
    display: none;
    overflow-y: auto;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;

    background: var(--sm-dark-1);
    color: var(--sm-light-1);

    .c-menu-toggle__checkbox ~ & {
        display: block;
    }

    .c-menu-toggle__checkbox:not(:checked) ~ & {
        transform: translateX(-100%);
    }

    .site-branding,
    .menu-item--cart {
        display: none;
    }
}

.site-header__content {
    display: flex;
    flex-direction: column;

    .site-branding {
        padding: 1em;
        order: -1;
    }
}

.site-header--mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1em;

    .menu-item--cart {
        display: flex;

        position: absolute;
        top: 50%;
        right: 1em;

        transform: translateY(-50%);

        a {
            color: currentColor;
        }
    }
}


