$site-header-transition-speed: .3s !default;

@media only screen and (min-width: 1000px) {

    .site-header {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        @include wp-offset(top, 0, true);

        display: flex;
        align-items: center;
        min-height: calc( var(--theme-header-height) * var(--theme-customify-unit) );

        padding-top: 1em;
        padding-bottom: 1em;

        transition: var(--theme-transition);
        transition-property: opacity, color, background-color;
        will-change: transform;
    }

    .site-header__inner-container {
        width: 100%;
    }

    // used pseudo element to create site header border on its bottom
    // in order to use currentColor and opacity for easier theming
    // and avoiding altering its height
    .site-header:after {
        content: "";
        display: block;
        @include cover;
        box-shadow: #000 0 0.0625em 0.125em;
        opacity: 0.1;
        pointer-events: none;
        transition: --theme-transition;
        transition-property: opacity;
    }
}

@mixin remove-page-padding-top {
    #page {
        padding-top: 0 !important;
    }
}

// Fixed site header styles
@media only screen and (min-width: 1000px) {

    .site-header--fixed {
        position: fixed;
    }

    .site-header:not(.site-header--ready) {
        opacity: 0;
    }

    .has-site-header-fixed .site-header:not(.site-header--ready) {
        position: absolute;
    }
}

.has-site-header-fixed {
    @include remove-page-padding-top;
}

// Inversed site header styles
body.has-site-header-transparent  {

    &.has-site-header-inversed {

        @media only screen and (min-width: 1000px) {
            .site-header--fixed:not(.site-header--normal) {
                color: var(--sm-light-primary);
            }
        }

    }

    &:not(.has-site-header-inversed) {

        @media only screen and (min-width: 1000px) {
            &.has-site-header-fixed {

                .site-header:not(.site-header--scrolled) {
                    color: var(--sm-light-primary);

                    &:after {
                        opacity: 0;
                    }
                }
            }

            &:not(.has-site-header-fixed) .site-header,
            &.has-site-header-fixed .site-header--scrolled {
                background-color: var(--current-light-primary);
            }
        }

        &.has-site-header-fixed {

            @media not screen and (min-width: 1000px) {
                .site-header--mobile:not(.site-header--scrolled),
                .c-menu-toggle {
                    color: var(--sm-light-primary);
                }
            }
        }
    }
}

body.has-site-header-transparent:not(.has-site-header-fixed) {

    @media only screen and (min-width: 1000px) {
        .site-header {
            position: absolute;
            color: var(--sm-light-primary);
            background-color: transparent;
        }
    }
}

body:not(.has-site-header-transparent) {

    @media only screen and (min-width: 1000px) {
        .site-header {
            background-color: var(--sm-light-primary);
        }
    }
}
