$enable-site-header-fixed: true !default;
$enable-site-header-transparent: true !default;
$enable-site-header-inversed: false !default;

$site-header-fixed-body-class: has-fixed-site-header !default;
$site-header-transition-speed: .15s;

@media only screen and (min-width: 1000px) {

    .site-header {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        @include wp-offset(top, 0, true);

        padding-top: 1em;
        padding-bottom: 1em;

        transition: all $site-header-transition-speed ease-out;
        transition-property: opacity, color, background-color;
        will-change: transform;
    }

    // used pseudo element to create site header border on its bottom
    // in order to use currentColor and opacity for easier theming
    // and avoiding altering its height
    .site-header:after {
        content: "";
        display: block;
        @include cover;
        box-shadow: currentColor 0 1px 2px;
        opacity: 0.1;
        pointer-events: none;
        transition: opacity $site-header-transition-speed ease-out;
    }
}

@mixin remove-page-padding-top {
    #page {
        padding-top: 0 !important;
    }
}

// Fixed site header styles
@if $enable-site-header-fixed {

    @media only screen and (min-width: 1000px) {

        .site-header--fixed {
            position: fixed;
        }

        .site-header:not(.site-header--ready) {
            opacity: 0;
        }

        .#{$site-header-fixed-body-class} .site-header:not(.site-header--ready) {
            position: absolute;
        }
    }

    @media only screen and (max-width: 1000px) {
        @include remove-page-padding-top;
    }

    .#{$site-header-fixed-body-class} {
        @include remove-page-padding-top;
    }

} @else {
    @include remove-page-padding-top;
}

// Inversed site header styles
@media only screen and (min-width: 1000px) {

    @if $enable-site-header-transparent == true and
        $enable-site-header-fixed == true {

        @if $enable-site-header-inversed == true {

            .site-header--fixed:not(.site-header--normal) {
                color: var(--theme-sm-light-1);
            }

        } @else {

            .#{$site-header-fixed-body-class} .site-header:not(.site-header--scrolled) {
                color: var(--theme-sm-light-1);

                &:after {
                    opacity: 0;
                }
            }

            body:not(.#{$site-header-fixed-body-class}) .site-header,
            .#{$site-header-fixed-body-class} .site-header--scrolled {
                background-color: var(--theme-sm-light-1);
            }
        }
    }

    @if $enable-site-header-transparent == true and
        $enable-site-header-fixed == false {

        body.#{$site-header-fixed-body-class} {

            .site-header {
                position: absolute;
                color: var(--theme-sm-light-1);
                background-color: transparent;
            }
        }
    }

    @if $enable-site-header-transparent == false {

        .site-header {
            background-color: var(--theme-sm-light-1);
        }
    }

    @if $enable-site-header-transparent == false and
        $enable-site-header-fixed == true {
    }

    @if $enable-site-header-transparent == false and
        $enable-site-header-fixed == false {
        // nothing
    }
}