:root {
  --theme-notification-succes-color: #50B83C;
  --theme-notification-error-color: #C8164B;
  --theme-notification-info-color: #007ACE;
  --theme-notification-neutral-color: #121416;
}

.woocommerce-notices-wrapper {
  position: relative;
  margin-top: var(--theme-spacing-medium);

  --theme-notification-color: var(--theme-notification-neutral-color);
  --theme-notification-opacity: 0.04;

  color: var(--current-dark-primary);

  > div {
    &:first-child {
      background-color: transparent;
      z-index: 1;

      &:after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--theme-notification-color);
        opacity: var(--theme-notification-opacity);
        z-index: -1;
      }
    }
  }
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  border: 0;

  padding-left: 1em;

  color: inherit;

  --theme-notification-icon-width: 1em;
  --theme-notification-icon-height: 1em;

  &:before {
    position: relative;
    top: unset;
    left: unset;

    content: '';

    margin-right: calc( 2.3em - var( --theme-notification-icon-width ) );

    border: 0;

    width: var(--theme-notification-icon-width);
    height: var(--theme-notification-icon-height);
  }

  a {
    @include below(tablet) {
      flex-basis: 100%;
      padding-left: 2.3em;
    }
  }
}

.woocommerce-error {
  flex-wrap: wrap;
}

.woocommerce-error {
  > li {
    flex-basis: 100%;
    padding-left: 2.3em !important;

    &:first-child {
      flex-basis: auto;
      padding-left: 0 !important;
    }
  }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {

  background-color: transparent;
  z-index: 1;

  border-radius: 4px;

  &:before {
    color: currentColor;
    background-color: currentColor;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-notification-color);
    opacity: var(--theme-notification-opacity);
    border-radius: 4px;
    z-index: -1;
  }
}

.woocommerce-message {
  --theme-notification-color: var(--theme-notification-succes-color);
  --theme-notification-opacity: 0.15;

  &:before {
    mask: url($icon-check-path) no-repeat 50% 50%;
    mask-size: contain;
    -webkit-mask:url($icon-info-path) no-repeat 50% 50%;
    -webkit-mask-size: contain;
  }
}

.woocommerce-info {
  --theme-notification-color: var(--theme-notification-info-color);
  --theme-notification-opacity: 0.15;

  &:before {
    mask: url($icon-info-path) no-repeat 50% 50%;
    mask-size: contain;
    -webkit-mask:url($icon-info-path) no-repeat 50% 50%;
    -webkit-mask-size: contain;
  }
}


.woocommerce-error {
  --theme-notification-color: var(--theme-notification-error-color);
  --theme-notification-opacity: 0.15;

  &:before {
    mask: url($icon-not-allowed-path) no-repeat 50% 50%;
    mask-size: contain;
    -webkit-mask:url($icon-not-allowed-path) no-repeat 50% 50%;
    -webkit-mask-size: contain;
  }
}
