// Keep this as tidy as possible

/* Embeds */
.fb_iframe_widget > span {
    display: block;
    max-width: 100%;
}

iframe.instagram-media {
    max-width: 100% !important;
    min-width: 0 !important;
    margin-right: 0 !important;
}

.novablocks-media__inner-container {

    .wp-block-separator + * {
        --element-spacing: var(--theme-spacing);
    }
}

.novablocks-hero__inner-container {

    > :not(:first-child) {
        --element-spacing: var(--theme-spacing);
    }

    > .wp-block-separator:not(:first-child),
    > .wp-block-separator + * {
        --element-spacing: var(--theme-spacing-normal);
    }
}

.is-style-lead {
    @include apply-font(lead);
}
