:root {
    --content-width-normal: 900px;
    --content-width-wide: 1200px;

    --nova-spacing-unit: 2px;
    --content-side-spacing: calc( 7 * var(--nova-spacing-unit) );

    @include above(tablet) {
        --nova-spacing-unit: 4px;
    }

    @include above(desktop) {
        --nova-spacing-unit: 8px;
    }
}
