@import "setup";

@import "blocks/editor";

@import "theme/editor";

/* Layout */
.editor-block-list__layout {

    > :not([data-align="wide"]):not([data-align="full"]) {
        max-width: var(--theme-content-width-normal);
    }

    > [data-align="wide"] {
        max-width: var(--theme-content-width-wide);
    }

    > [data-align="full"] {
        max-width: none;
    }
}

/* Typography */
.editor-styles-wrapper {

    // increased specificity selector to overwrite default styles
    &[class] {
        @include nova-container-colors;
        @include nova-container-font(var(--theme-content-font-size));

        //@import "elements/forms";
        @import "elements/headings";
        @import "elements/iframe";
        @import "elements/media";
        @import "elements/lists";
        @import "elements/pre";
        @import "elements/tables";
    }

    @import "elements/links";

    @import "components/alignment";

    blockquote {
        margin: 0;
    }
}


.editor-styles-wrapper[class] {
    @import "blocks/helpers";
}

/* Post Title Block */
.editor-post-title__block {
    max-width: var(--theme-content-width-normal);

    .editor-post-title__input {
        @include apply-font(heading-1);
        text-align: center;
    }
}

/* Hide Text Settings Panel */
.blocks-font-size {
    display: none;

    &:first-child + .components-panel__body {
        margin-top: 16px;
    }
}

/* Hide Useless Heading Values */
.components-toolbar {
    [aria-label="Heading 4"],
    [aria-label="Heading 5"],
    [aria-label="Heading 6"] {
        display: none;
    }
}
