@import "mixins";
@import "variables";

$wide-content-selector: unquote('[data-align=wide]') !default;
$full-content-selector: unquote('[data-align=full]') !default;

@import "typography";

@import "blocks/core/button";

.editor-block-list__layout,
[class*="__inner-container"] {

    > :not([data-align="wide"]):not([data-align="full"]) {
        max-width: var(--content-width-normal);
    }

    > [data-align="wide"] {
        max-width: var(--content-width-wide);
    }

    > [data-align="full"] {
        max-width: none;
    }
}
