@import "setup";

@import "woocommerce/archive";
@import "woocommerce/product";
@import "woocommerce/cart";
@import "woocommerce/single-product";
@import "woocommerce/checkout";
@import "woocommerce/mini-cart";


/*
 * Blocks
 */

@import "woocommerce/blocks/style";

.woocommerce {
  --theme-content-width-normal: var(--theme-content-width-wide);

  td,
  th {
    border: 0;
  }
}

.wc-block-grid__products {
  list-style: none !important;
}
