/* Button CSS Custom Properties */
:root {
  --theme-button-background-color: var(--theme-sm-dark-1);
  --theme-button-color: var(--theme-sm-light-1);
  --theme-button-border-color: transparent;

  --theme-button-hover-background-color: var(--theme-sm-color-1);
  --theme-button-hover-color: var(--theme-sm-light-1);
  --theme-button-hover-border-color: transparent;

  --theme-button-border-width: 2px;
  --theme-button-border-radius: 999em;

  --theme-button-y-padding: 0.75em;
  --theme-button-x-padding: 1.5em;
  --theme-button-padding: var(--theme-button-y-padding) var(--theme-button-x-padding);

  --theme-button-transition-duration: .4s;
  --theme-button-transition-easing: #{$ease};

  --theme-button-transition:
      color var(--theme-button-transition-duration) var(--theme-button-transition-easing),
      background-position var(--theme-button-transition-duration) var(--theme-button-transition-easing),
      background-color 0s var(--theme-button-transition-duration) var(--theme-button-transition-easing);

  --theme-button-hover-transition:
      color var(--theme-button-transition-duration) var(--theme-button-transition-easing),
      background-position var(--theme-button-transition-duration) var(--theme-button-transition-easing);

  --theme-button-arrow-size: 1.15em;
}

@mixin button-base {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

@mixin button-box {
  padding: var(--theme-button-padding);
  border: var(--theme-button-border-width) solid var(--theme-button-border-color);
  border-radius: var(--theme-button-border-radius);

  &:hover {
    --theme-button-border-color: var(--theme-button-hover-border-color);
  }
}

@mixin button-background {
  background-color: var(--theme-button-background-color);

  &:hover {
    background-color: var(--theme-button-hover-background-color);
    border-color: var(--theme-button-hover-border-color);
  }
}

@mixin button-color {
  color: var(--theme-button-color);

  &:hover {
    color: var(--theme-button-hover-color);
  }
}

@mixin button-transition {
  transition: var(--theme-button-transition);

  &:hover {
    transition: var(--theme-button-hover-transition);
  }
}

@mixin button-fill {
  --theme-button-transition-duration: .4s;

  background-image: linear-gradient(to right, var(--theme-button-hover-background-color) 50%, var(--theme-button-background-color) 50%);
  background-size: calc( 200% + 4 * var(--theme-button-border-width) ) calc( 100% + 4 * var(--theme-button-border-width) );
  background-position: calc( 100% + var(--theme-button-border-width) ) calc( -1 * var(--theme-button-border-width) );

  border: var(--theme-button-border-width) solid var(--theme-button-border-color);
  border-radius: 0;
}

@mixin button-fill-background-left {
  @include button-fill;

  &:hover {
    background-position: calc( -1 * var(--theme-button-border-width) ) calc( -1 * var(--theme-button-border-width) );
  }
}

@mixin button-fill-background-right {
  @include button-fill;

  &:hover {
    background-position: calc( -1 * var(--theme-button-border-width) ) calc( -1 * var(--theme-button-border-width) );
  }
}

@mixin button-reset {
  padding: 0;
  background: none;
  border-width: 0;
}

@mixin button-with-arrow {
  position: relative;
  padding-right: var(--theme-button-arrow-size);
  margin-right: calc( -1 * var(--theme-button-arrow-size) );
  padding-bottom: .3em;
  margin-bottom: -.3em;

  &:before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: calc(100% - var(--theme-button-arrow-size));
    height: .1em;

    background: currentColor;
    transition: var(--theme-button-transition);
    transition-property: transform;
    transform-origin: 100% 50%;
  }

  &:hover:before {
    transform: scaleX(0);
  }

  &:after {
    content: '';

    position: absolute;
    top: calc(50% - .1em);
    right: 0;

    display: inline-block;
    width: var(--theme-button-arrow-size);
    height: var(--theme-button-arrow-size);

    -webkit-mask: url('assets/images/icon-arrow.svg') no-repeat 50% 50%;
    mask: url('assets/images/icon-arrow.svg') no-repeat 50% 50%;
    mask-size: cover;
    background-color: currentColor;
    vertical-align: text-bottom;

    opacity: 0;
    transform: translate(0, -50%) scale(-1,1);

    transition: var(--theme-button-transition);
    transition-property: opacity, transform;
  }

  &:hover:after {
    opacity: 1;
    transform: translate(.4em, -50%) cale(-1,1);
  }
}

@mixin button-theme {
  @extend %button-theme !optional;
}

@mixin primary-button-settings {
  --theme-button-background-color: var(--theme-sm-dark-1);
  --theme-button-color: var(--theme-sm-light-1);
  --theme-button-border-color: var(--theme-sm-dark-1);
  --theme-button-hover-color: var(--theme-sm-dark-1);
  --theme-button-hover-background-color: transparent;
  --theme-button-hover-border-color: var(--theme-sm-dark-1);
}

@mixin primary-button-settings-inverted {
  --theme-button-background-color: var(--theme-sm-light-1);
  --theme-button-color: var(--theme-sm-dark-1);
  --theme-button-border-color: var(--theme-sm-light-1);
  --theme-button-hover-color: var(--theme-sm-light-1);
  --theme-button-hover-background-color: transparent;
  --theme-button-hover-border-color: var(--theme-sm-light-1);
}

@mixin secondary-button-settings {
  --theme-button-background-color: transparent;
  --theme-button-color: var(--theme-sm-dark-1);
  --theme-button-border-color: var(--theme-sm-dark-1);
  --theme-button-hover-color: var(--theme-sm-light-1);
  --theme-button-hover-background-color: transparent;
  --theme-button-hover-border-color: var(--theme-sm-dark-1);
}

@mixin secondary-button-settings-inverted {
  --theme-button-background-color: transparent;
  --theme-button-color: var(--theme-sm-light-1);
  --theme-button-border-color: var(--theme-sm-light-1);
  --theme-button-hover-color: var(--theme-sm-dark-1);
  --theme-button-hover-background-color: transparent;
  --theme-button-hover-border-color: var(--theme-sm-light-1);
}

@mixin text-button-settings {
  --theme-button-color: var(--theme-sm-color-1);
  --theme-button-background-color: transparent;
  --theme-button-hover-color: var(--theme-sm-color-1);
  --theme-button-hover-background-color: transparent;
  --theme-button-border-radius: 0;
}

@mixin button {
  @include button-base;
  @include button-box;
  @include button-background;
  @include button-color;
  @include button-transition;
  @include button-theme;
}
