/* Button CSS Custom Properties */
@mixin vars-theme-button {
  --theme-button-background-color: var(--theme-sm-dark-1);
  --theme-button-text-color: var(--theme-sm-light-1);
  --theme-button-border-color: transparent;

  --theme-button-hover-background-color: var(--theme-sm-color-1);
  --theme-button-hover-text-color: var(--theme-sm-light-1);
  --theme-button-hover-border-color: transparent;

  --theme-button-border-width: 2px;
  --theme-button-border-radius: 0;

  --theme-button-y-padding: 0.75em;
  --theme-button-x-padding: 1.5em;
  --theme-button-padding: var(--theme-button-y-padding) var(--theme-button-x-padding);

  --theme-button-transition-duration: .4s;
  --theme-button-transition-easing: #{$ease};

  --theme-button-transition: all var(--theme-button-transition-duration) var(--theme-button-transition-easing);
  --theme-button-hover-transition: var(--theme-button-transition);
}

@mixin vars-current-button {
  --current-button-background-color: var(--theme-button-background-color);
  --current-button-border-color: var(--theme-button-border-color);
  --current-button-text-color: var(--theme-button-text-color);
  --current-button-transition: var(--theme-button-transition);
}

@mixin vars-current-button-hover {
  --current-button-background-color: var(--theme-button-hover-background-color);
  --current-button-border-color: var(--theme-button-hover-border-color);
  --current-button-text-color: var(--theme-button-hover-text-color);
  --current-button-transition: var(--theme-button-hover-transition);
}

@mixin button-base {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  @include vars-theme-button;
  @include vars-current-button;

  &:hover {
    @include vars-current-button-hover;
  }
}

@mixin button-box {
  padding: var(--theme-button-padding);
  border: var(--theme-button-border-width) solid transparent;
  border-radius: var(--theme-button-border-radius);
}

@mixin button-border-color {
  border-color: var(--current-button-border-color);
}

@mixin button-background {
  background-color: var(--current-button-background-color);
}

@mixin button-color {
  color: var(--current-button-text-color);
}

@mixin button-transition {
  transition: var(--current-button-transition);
}

@mixin button-fill-base {
  --theme-button-transition-duration: .4s;

  background-color: transparent;
  background-size: calc( 200% + 4 * var(--theme-button-border-width) ) calc( 100% + 4 * var(--theme-button-border-width) );
  background-position: calc( 100% + var(--theme-button-border-width) ) calc( -1 * var(--theme-button-border-width) );

  border: var(--theme-button-border-width) solid var(--theme-button-border-color);
  border-radius: 0;

  &:hover {
    background-position: calc( -1 * var(--theme-button-border-width) ) calc( -1 * var(--theme-button-border-width) );
  }
}

@mixin button-fill {
  @include button-fill-base;
  background-image: linear-gradient(to right, var(--theme-button-hover-background-color) 50%, var(--theme-button-background-color) 50%);
}

@mixin button-fill-reverse {
  @include button-fill-base;
  --current-button-text-color: var(--theme-button-hover-text-color);
  background-image: linear-gradient(to left, var(--theme-button-hover-background-color) 50%, var(--theme-button-background-color) 50%);

  &:hover {
    --current-button-text-color: var(--theme-button-text-color);
  }
}

@mixin button-reset {
  padding: 0;
  background: none;
  border-width: 0;
}

@mixin button-with-arrow {
  --theme-button-text-color: var(--theme-sm-color-1);
  --theme-button-hover-text-color: var(--theme-sm-color-1);
  --theme-button-arrow-size: 1.15em;

  position: relative;
  padding-right: var(--theme-button-arrow-size);
  padding-bottom: .3em;
  margin-right: calc( -1 * var(--theme-button-arrow-size) );
  margin-bottom: -.3em;

  &:before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: calc(100% - var(--theme-button-arrow-size));
    height: .1em;

    background: currentColor;
    transition: var(--theme-button-transition);
    transition-property: transform;
    transform-origin: 100% 50%;
  }

  &:after {
    content: '';

    position: absolute;
    top: calc(50% - .1em);
    right: 0;

    display: inline-block;
    width: var(--theme-button-arrow-size);
    height: var(--theme-button-arrow-size);

    mask: url('assets/images/icon-arrow.svg') no-repeat 50% 50%;
    -webkit-mask: url('assets/images/icon-arrow.svg') no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask-size: cover;

    background-color: currentColor;
    vertical-align: text-bottom;

    opacity: 0;
    transform: translate(0, -50%) scale(-1,1);

    transition: var(--theme-button-transition);
    transition-property: opacity, transform;
  }

  &:hover {

    &:before {
      transform: scaleX(0);
    }

    &:after {
      opacity: 1;
      transform: translate(.4em, -50%) scale(-1,1);
    }
  }
}

@mixin button-theme {
  @extend %button-theme !optional;
}

@mixin button-outline-vars {
  --theme-button-text-color: var(--theme-sm-light-1);
  --theme-button-background-color: var(--theme-sm-dark-1);
  --theme-button-border-color: var(--theme-sm-dark-1);

  --theme-button-hover-text-color: var(--theme-sm-dark-1);
  --theme-button-hover-background-color: transparent;
  --theme-button-hover-border-color: var(--theme-sm-dark-1);
}

@mixin button {
  @include button-base;
  @include button-box;
  @include button-background;
  @include button-color;
  @include button-transition;
  @include button-theme;
}
