/* Button CSS Custom Properties */
:root {
    --theme-button-background-color: var(--theme-sm-dark-1);
    --theme-button-color: var(--theme-sm-light-1);
    --theme-button-border-color: transparent;

    --theme-button-hover-background-color: var(--theme-sm-color-1);
    --theme-button-hover-color: var(--theme-sm-light-1);
    --theme-button-hover-border-color: transparent;

    --theme-button-border-width: 2px;
    --theme-button-border-radius: 999em;

    --theme-button-y-padding: calc( 2 * var(--theme-spacing-unit) );
    --theme-button-x-padding: calc( 4 * var(--theme-spacing-unit) );
    --theme-button-padding: var(--theme-button-y-padding) var(--theme-button-x-padding);
}

@mixin button-base {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

@mixin button-box {
    padding: var(--theme-button-padding);
    border: var(--theme-button-border-width) solid var(--theme-button-border-color);
    border-radius: var(--theme-button-border-radius);
}

@mixin button-background {
    background-color: var(--theme-button-background-color);

    &:hover {
        background-color: var(--theme-button-hover-background-color);
    }
}

@mixin button-color {
    color: var(--theme-button-color);

    &:hover {
        color: var(--theme-button-hover-color);
    }
}

@mixin button-theme {
    @extend %button-theme !optional;
}

@mixin button {
    @include button-base;
    @include button-box;
    @include button-background;
    @include button-color;
    @include button-theme;
}
