/* Cite CSS Custom Properties */
:root {
    --theme-cite-font-family: var(--theme-headings-font-family);
    --theme-cite-font-size: 13px;
    --theme-cite-line-height: #{(16/13)};
    --theme-cite-font-weight: 700;
    --theme-cite-color: var(--current-color-primary);
}

@mixin nova-cite {
    font-family: var(--theme-cite-font-family);
    font-size: var(--theme-cite-font-size);
    line-height: var(--theme-cite-line-height);
    font-weight: var(--theme-cite-font-weight);
    color: var(--theme-cite-color);
}