@mixin nova-container-font($font-size: var(--theme-body-font-size)) {
    font-family: var(--theme-body-font-family);
    font-size: $font-size;
    line-height: 1.6;
    letter-spacing: -0.03em;
}

@mixin nova-container-colors {
    background-color: var(--theme-background-color);
    color: var(--theme-sm-dark-2);
}

@mixin nova-container {
    @include nova-container-font;
    @include nova-container-colors;
}
