:root {
    --theme-slope: 1;
    --theme-addon-multiplier: 0;

    @media only screen and (min-width: 90em) {
        --theme-slope: 0.2;
        --theme-addon-multiplier: 0.5;
    }
}

@mixin define-font($name, $config, $props: $nova-font-props) {
    $config: map_merge( (
        font-family: inherit,
        font-size: inherit,
        line-height: inherit,
        font-weight: inherit,
        letter-spacing: inherit,
        text-transform: inherit,
        text-decoration: inherit,
    ), $config );

    @at-root {

        :root {

            //@each $prop in $props {
            @each $prop in remove($props, font-size) {
                $value: map-get( $config, $prop );
                @if ( map-get( $config, $prop ) ) {
                    --theme-#{$name}-#{$prop}: #{$value};
                }
            }

            $font-size: map-get( $config, font-size );

            @if ( $font-size and $font-size != 'inherit' ) {

                $prefix: --theme-#{$name};

                #{$prefix}-initial-font-size: #{$font-size};

                #{$prefix}-x0: -1000;
                #{$prefix}-y0: 16;

                #{$prefix}-x1: 1440;
                #{$prefix}-y1: var(#{$prefix}-initial-font-size);

                // fake y0
                #{$prefix}-y0-new: calc( var(#{$prefix}-y1) - ( var(#{$prefix}-y1) - var(#{$prefix}-y0) ) * var(--theme-slope) );

                #{$prefix}-addon-unit: calc( 1vw - 1440px / 100 );
                #{$prefix}-addon-ratio: calc( var(#{$prefix}-y0) / var(#{$prefix}-y1) );
                #{$prefix}-addon: calc( var(#{$prefix}-addon-unit) * var(#{$prefix}-addon-ratio) * var(--theme-addon-multiplier) );

                #{$prefix}-x2: 100vw;

                // y = ax + b
                #{$prefix}-a: calc( ( var(#{$prefix}-y1) - var(#{$prefix}-y0-new) ) / ( var(#{$prefix}-x1) - var(#{$prefix}-x0) ) );

                #{$prefix}-b: calc( var(#{$prefix}-y0-new) - var(#{$prefix}-a) * var(#{$prefix}-x0) );
                #{$prefix}-y2: calc( var(#{$prefix}-a) * 100vw + var(#{$prefix}-b) * 1px );

                #{$prefix}-font-size: calc( var(#{$prefix}-y2) + var(#{$prefix}-addon) );
            }

            @if ( $font-size == 'inherit' ) {
                --theme-#{$name}-font-size: inherit;
            }
        }
    }
}

@mixin apply-font($name, $props: $nova-font-props) {

    @each $prop in $props {
        #{$prop}: var(--current-#{$prop});
    }

    @each $prop in $props {
        --current-#{$prop}: var(--theme-#{$name}-#{$prop});
    }
}
