:root {
    --theme-minimum-font-size: #{ strip-unit( $theme-minimum-font-size ) };

    //@include above($nova-font-size-breakpoint) {
    //    --theme-minimum-font-size: #{$nova-font-size-minimum-vw};
    //}
}

@mixin define-font($name, $config, $props: $nova-font-props) {
    $config: map_merge( (
        font-family: inherit,
        font-size: inherit,
        line-height: inherit,
        font-weight: inherit,
        letter-spacing: inherit,
        text-transform: inherit,
        text-decoration: inherit,
    ), $config );

    @at-root {

        :root {

            //@each $prop in $props {
            @each $prop in remove($props, font-size) {
                $value: map-get( $config, $prop );
                @if ( map-get( $config, $prop ) ) {
                    --theme-#{$name}-#{$prop}: #{$value};
                }
            }

            $font-size: map-get( $config, font-size );

            @if ( $font-size and $font-size != 'inherit' ) {
                --theme-#{$name}-initial-font-size: #{$font-size};
                --theme-#{$name}-font-size-diff: calc( var( --theme-#{$name}-initial-font-size ) - var( --theme-minimum-font-size ) ); // 2
                --theme-#{$name}-font-size-diff-ratio: calc( var( --theme-#{$name}-font-size-diff ) / var( --theme-minimum-font-size ) ); // 2 / 16
                --theme-#{$name}-font-size-vw-diff: calc( var( --theme-#{$name}-font-size-diff-ratio ) * 1vw );
                --theme-#{$name}-font-size-px-diff: calc( var( --theme-#{$name}-font-size-diff-ratio ) * 1440px / 100 );
                --theme-#{$name}-font-size: calc( var( --theme-#{$name}-initial-font-size ) * 1px + var( --theme-#{$name}-font-size-vw-diff ) - var( --theme-#{$name}-font-size-px-diff ) );
            }

            @if ( $font-size == 'inherit' ) {
                --theme-#{$name}-font-size: inherit;
            }
        }
    }
}

@mixin apply-font($name, $props: $nova-font-props) {

    @each $prop in $props {
        #{$prop}: var(--current-#{$prop});
    }

    @each $prop in $props {
        --current-#{$prop}: var(--theme-#{$name}-#{$prop});
    }
}
