$theme-breakpoints: (
    mobile: 480px,
    tablet: 768px,
    lap: 1000px,
    desktop: 1440px,
);

@mixin above( $value ) {
    $breakpoint: map-get( $theme-breakpoints, $value );

    @if ( $breakpoint != null ) {
        $value: $breakpoint;
    }

    @if ( unitless( $value ) == false ) {
        @media only screen and (min-width: $value) {
            @content;
        }
    }
}

@mixin below( $value ) {
    $breakpoint: map-get( $theme-breakpoints, $value );

    @if ( $breakpoint != null ) {
        $value: $breakpoint;
    }

    @if ( unitless( $value ) == false ) {
        @media not screen and (min-width: $value) {
            @content;
        }
    }
}
