@mixin space-children-y {

    > :not(:first-child) {
        margin-top: var(--element-spacing);
    }

}

@mixin space-children-x {

    > :not(:first-child) {
        margin-left: var(--element-spacing);
    }

}

@mixin space-children-xy {

    > :not(:first-child) {
        margin-top: var(--element-spacing);
        margin-left: var(--element-spacing);
    }

}
