@mixin nova-container-font($font-size: var(--nova-body-font-size)) {
    font-family: var(--nova-body-font-family);
    font-size: $font-size;
    line-height: 1.5;
}

@mixin nova-container-colors {
    color: var(--nova-dark-1);
    background-color: var(--nova-light-1);
}

@mixin nova-container {
    @include nova-container-font;
    @include nova-container-colors;
}

@mixin nova-h1-font {
    font-family: var(--nova-headings-font-family);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--nova-dark-1);
}

@mixin nova-h2-font {
    font-family: var(--nova-headings-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;

    color: var(--nova-dark-3);
}

@mixin nova-h3-font {
    font-family: var(--nova-headings-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--nova-dark-1);
}

@mixin nova-h4-font {
    font-family: var(--nova-headings-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: var(--nova-dark-1);
}

@mixin nova-h5-font {
    font-family: var(--nova-headings-font-family);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--nova-color-1);
}

@mixin nova-h6-font {
    color: var(--nova-dark-1);
}
