$destinations: color-1, color-2, color-3, dark-1, dark-2, dark-3, light-1, light-2, light-3;

$variations: (
    default: (
        color-1: color-1,
        color-2: color-2,
        color-3: color-3,
        dark-1: dark-1,
        dark-2: dark-2,
        dark-3: dark-3,
        light-1: light-1,
        light-2: light-2,
        light-3: light-3
    ),
    dark: (
        color-1: color-1,
        color-2: color-2,
        color-3: color-3,
        dark-1: light-2,
        dark-2: light-1,
        dark-3: light-3,
        light-1: dark-1,
        light-2: dark-2,
        light-3: dark-3
    ),
    darker: (
        color-1: color-1,
        color-2: color-2,
        color-3: color-3,
        dark-1: light-2,
        dark-2: light-1,
        dark-3: light-3,
        light-1: dark-3,
        light-2: dark-2,
        light-3: dark-1
    ),
    accent: (
        color-1: dark-1,
        color-2: dark-2,
        color-3: dark-3,
        dark-1: light-2,
        dark-2: light-1,
        dark-3: light-3,
        light-1: color-1,
        light-2: color-2,
        light-3: color-3
    ),
    monochrome: (
        color-1: dark-1,
        color-2: dark-2,
        color-3: dark-3,
        dark-1: dark-1,
        dark-2: dark-2,
        dark-3: dark-3,
        light-1: light-1,
        light-2: light-2,
        light-3: light-3
    ),
);

@mixin variation( $name ) {
    $variation: map-get( $variations, $name );
    @each $destination in $destinations {
        $source: map-deep-get($variations, $name, $destination);
        --theme-sm-#{$destination}: var(--sm-#{$source});
    }
}