@mixin wrapper-side-spacing {
    padding-left: var(--nova-wrapper-side-spacing);
    padding-right: var(--nova-wrapper-side-spacing);


    > .alignfull {
        margin-left: calc( -1 * var(--nova-wrapper-side-spacing) );
        margin-right: calc( -1 * var(--nova-wrapper-side-spacing) );
    }
}

@mixin wrapper {
    @include wrapper-side-spacing;

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > :not(.alignwide):not(.alignfull) {
        max-width: var(--nova-content-width-normal);
    }

    > .alignwide {
        max-width: var(--nova-content-width-wide);
    }

    > .alignfull {
        max-width: none;
    }
}