// Post Categories block
.wp-block-post-terms {
  a {
    text-decoration: none;
    color: inherit;
  }

  // Categories/Tags inside a Group/Row block
  // Overwrite general Group block rules
  :is(.wp-block-group, .specificity.x2.x3.x4) > & {
    margin: 0;
  }
}



// Post Title block

// Post Excerpt

// Meta Box

// Post Content