@import "blocks/category-featured";
@import "blocks/grid";
@import "blocks/product-categories";
@import "blocks/product-featured";
@import "blocks/reviews";
@import "blocks/product-search";
@import "blocks/cart-checkout";
