
// CSS rules needs to be very specific to overwrite any WooCommerce default styling
// @todo find a more reliable and specific selector
#html #body.woocommerce-page #page {

    .button:not(.trix-button),
    button:not([class]),
    input[type="submit"]:not(.ot-button):not(.search-submit) {
        @include button;
    }

    .customize-partial-edit-shortcut-button {
        padding: 3px;
        border: 0;
        border-radius: 50%;
    }

    .ajax_add_to_cart ~ .button {
        display: none;
    }

    a.button,
    button.button {
        @include apply-font-properties;

        &:not(:is(.alt, .checkout)) {
            @include button-fill-reverse;
        }

        &:is(.alt, .checkout) {
            @include button-fill;
        }

        &.checkout-button {
            @include button-huge;
        }
    }

    input.button,
    input[type="submit"]:not(.ot-button):not(.search-submit) {

        &:not(.alt) {
            @include button-fill-reverse(false);
        }

        &.alt {
            @include button-fill(false);
        }
    }

     @include above(tablet) {
        button[name='update_cart'] {
            float:right;
        }
    }

    .checkout-button,
    [id="place_order"] {
        @include button-huge;
        --theme-button-text-color: var(--theme-light-primary);
        --theme-button-background-color: var(--sm-current-accent-color);
        --theme-button-border-color: var(--sm-current-accent-color);
        --theme-button-hover-text-color: var(--sm-current-accent-color);
        --theme-button-hover-border-color: var(--sm-current-accent-color);
    }

    textarea {
        @include textarea;
    }

    .actions {
        .button {
            // padding: var(--theme-input-padding);
        }
    }

    #place_order {
        --theme-button-background-color: var(--sm-current-accent-color);
        --theme-button-border-color: var(--sm-current-accent-color);
        --theme-button-hover-text-color: var(--sm-current-accent-color);
        --theme-button-hover-border-color: var(--sm-current-accent-color);

        @include button-huge;
    }

    .add_to_cart_button,
    .single_add_to_cart_button {
        --theme-button-background-color: var(--sm-current-accent-color);
        --theme-button-border-color: var(--sm-current-accent-color);
        --theme-button-hover-text-color: var(--sm-current-accent-color);
        --theme-button-hover-border-color: var(--sm-current-accent-color);

        width: 100%;
    }

    .woocommerce-notices-wrapper {

        .button {
            @include specific(5) {
                @include button-fill;
                --current-button-text-color: var(--theme-button-text-color);

                &:hover {
                    --current-button-text-color: var(--theme-button-hover-text-color);
                }
            }
        }
    }

    
}

// Some elements doesn't need to be targeted overly specific
// ---
// Quantity controls appears on the following pages: single product, cart

.quantity {
    .qty_button {
        border-radius: 50%;
        color: var(--theme-input-color);

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: currentColor;
        }


        &.minus {
            &:after {
                mask-size: contain;
                mask: url($icon-minus-path) no-repeat 50% 50%;
                -webkit-mask:url($icon-minus-path) no-repeat 50% 50%;
            }
        }

        &.plus {
           &:after {
               mask-size: contain;
               mask: url($icon-plus-path) no-repeat 50% 50%;
               -webkit-mask:url($icon-plus-path) no-repeat 50% 50%;
           }
        }
    }

    .qty_button {
        // padding: 0;
        // background-color: transparent;
        // border: 0;
        // box-shadow: none;

        // color: var(--sm-current-fg2-color);
    }
}