.woocommerce-products-header__title:empty {
    display: none;
}

.woocommerce img,
.woocommerce-page img {
    width: 100%
}

.product-category {
    &:hover {
        img {
            transform: translateY(-10px);
        }

        .woocommerce-loop-category__title {
            transform: translateY(10px);
        }
    }

    img,
    .woocommerce-loop-category__title {
        transition: transform .25s $easeOutQuad;
    }
}

.woocommerce-loop-product__link {
    display: block;
    text-decoration: none;

    .wc-block-grid__product-onsale {
        @include specific(2) {
            transform: none;
        }
    }
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    @include apply-font(heading-4);
    color: var(--sm-current-darker-color);
    margin-top: var(--theme-spacing-tiny);
}
