$assets-folder-path: '../../../assets';

@import "../setup";

@import "blocks";

// Force add-to-cart button to be displayed without hover
@include specific(3) {

    .wp-block-button.wc-block-grid__product-add-to-cart {
        opacity: 1;
        transform: translateY(0);
    
        .wp-block-button__link {
            --theme-button-background-color: var(--sm-current-accent-color);
            --theme-button-border-color: var(--sm-current-accent-color);
            --theme-button-hover-text-color: var(--sm-current-accent-color);
            --theme-button-hover-border-color: var(--sm-current-accent-color);
            width: 100%;
        }
    }

    
}
