$assets-folder-path: '../../../assets';

@import "../setup";

@import "blocks";

// Force add-to-cart button to be displayed without hover
@include specific(3) {

    .wp-block-button.wc-block-grid__product-add-to-cart {
        opacity: 1;
        transform: translateY(0);
    }
}
