$assets-folder-path: '../../../assets';

@import "../setup";

@import "fields";

@import "components/mini-cart";
@import "components/notifications";

@import "pages/archive";
@import "pages/single-product";
@import "pages/cart";
@import "pages/checkout";

@import "plugins/product-addons";

@import "blocks";

@import "shame";

.woocommerce {

  td,
  th {
    border: 0;
  }
}

.woocommerce-pagination {
  @include nav-links;
  
  &[class][class][class] {
    margin-bottom: var(--theme-spacing-larger);
  }
}

.wc-block-grid__products {
  list-style: none !important;
}

.woocommerce-Reviews {
  @include space-children-y(var(--theme-spacing-normal));

  > [id="comments"] {
    @include space-children-y(var(--theme-spacing));
  }
}

.woocommerce #review_form #respond [id="commentform"] {
  @include space-children-y(var(--theme-spacing));

  > p {
    margin-bottom: 0;
  }

  > .form-submit {
    margin-left: auto;
  }
}

.comment-form-rating .stars > span {
  display: flex;
}

.woocommerce form .form-row label {
  line-height: inherit;
}

.woocommerce {
  .star-rating {
    float: none;

    span {  
      font: inherit;

      &:before {
        color: var(--sm-current-accent-color);
      }
    }
  }

    .wc-block-grid__product-title + .star-rating {
      margin-top: var(--theme-spacing-smallest);
    }
}



// Set the page content alignment to Wide
.woocommerce-page {
  
  .entry-content, // <- @todo: check if this class is still used
  .wc-block-grid.alignwide {
    
    @include specific(4) {
      --block-content-start: ws;
      --block-content-end: we;
    }
  }
  
  .entry-content [class*="__inner-container"] {
    padding-left: 0;
    padding-right: 0;
  }
}



// WooCommerce Block Grid
// Examples: archive, related products (?)
.wc-block-grid {
  .woocommerce-Price-amount {
    @include apply-font(button); // 'meta' or 'input' might work too
  }
}
