$enable-blockquote-block-styles:        true !default;

@mixin blockquote-default-padding {
    padding-left: var(--theme-spacing-fluid-small);
    @include above(tablet) { padding-right: var(--theme-spacing-fluid-small); }
}

@if $enable-blockquote-block-styles == true {
    /* Blockquote Block */
    .wp-block-quote {
        @include space-children-y( var(--theme-spacing) );
        
        @include blockquote-default-padding;

        border-left: 3px solid var(--sm-current-accent-color); 

        text-align: inherit; // reset

        blockquote {
            margin: 0; // reset
        }

        &.is-style-plain {
            border-left: none;
            padding-left: 0;
            padding-right: 0;
        }
        
        // Large / Grande Style
        &.is-style-large:not(.is-style-plain) {
            border-left: none;
            margin-bottom: 0;
            
            @include blockquote-default-padding;

            &, p {
                @include apply-font(heading-3);
                
                // Make sure to overwrite inline styles
                @extend %apply-font-properties;
            }

            cite, footer {
                text-align: inherit; // reset
                @extend %apply-font-properties;
            }
        }
    }

    .wp-block-quote > cite:not(:first-child),
    .wp-block-quote__citation {
        display: block;
        margin-top: var(--theme-spacing-fluid-smaller);

        @include apply-font(heading-6);
        @extend %apply-font-properties;
        text-align: inherit; // reset
    }
}