[class*="wp-block"] {
    @extend %wp-block;
}

@each $alignment in left, right, center, none {

    %wp-block.align#{$alignment},
    %wp-block > .align#{$alignment},
    .editor-styles-wrapper [data-align=#{$alignment}] [data-block] {

        &:not(:first-child) {
            margin-top: var(--theme-spacing-small);
        }

        &:not(:last-child) {
            margin-bottom: var(--theme-spacing-small);
        }
    }
}

@each $alignment in left, right {

    %wp-block.align#{$alignment},
    %wp-block > .align#{$alignment} {
        float: #{$alignment};
    }

    %wp-block > .align#{$alignment} {
        margin-bottom: var(--theme-spacing-small);
    }

    %wp-block.align#{$alignment},
    %wp-block > .align#{$alignment},
    .editor-block-list__block[data-align=#{$alignment}] {

        .editor-block-list__block-edit {
            max-width: 40%;
        }

        &[data-align] .block-editor-rich-text p {
            font: inherit;
        }
    }
}

%wp-block {
    clear: both;
}

%wp-block.alignright,
%wp-block > .alignright,
.editor-block-list__block[data-align=right] .editor-block-list__block-edit {
    margin-left: var(--theme-spacing-small);
}

%wp-block.alignleft,
%wp-block > .alignleft,
.editor-block-list__block[data-align=left] .editor-block-list__block-edit {
    margin-right: var(--theme-spacing-small);
}

%wp-block.aligncenter,
%wp-block > .aligncenter,
.editor-block-list__block[data-align=center] .editor-block-list__block-edit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
