.c-logo {
  position: relative;
}

.c-logo__inverted {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;

  .site-header--fixed.site-header--scrolled &,
  .site-header--fixed.site-header--normal & {
    opacity: 0;
  }
}

.c-logo__default {
  opacity: 0;
  .site-header--fixed.site-header--scrolled &,
  .site-header--fixed.site-header--normal & {
    opacity: 1;
  }
}
