.navigation {
    --theme-wrapper-side-spacing: var(--theme-spacing-fluid-normal);
    padding-left: var(--theme-wrapper-side-spacing);
    padding-right: var(--theme-wrapper-side-spacing);

    .nav-links {
        max-width: var(--theme-content-width-wide);
        margin-left: auto;
        margin-right: auto;
    }
}
