:root {
    --theme-navigation-sides-spacing: var(--theme-spacing-fluid-normal);
    --theme-navigation-width: var(--theme-content-width-normal);
}

.navigation {
    padding-left: var(--theme-navigation-sides-spacing);
    padding-right: var(--theme-navigation-sides-spacing);

    .nav-links {
        max-width: var(--theme-navigation-width);
        margin-left: auto;
        margin-right: auto;
    }
}
