// page numbers
@mixin pagination {
    position: relative;

    &:before,
    &:after {
        content: '';

        position: absolute;
        top: 50%;
        z-index: 100;

        color: inherit;
        transition-property: transform;
    }

    // The stick
    &:before {
        width: .75em;
        height: .0625em;

        background-color: currentColor;
    }

    // The arrow
    &:after {
        display: block;
        width: .45em;
        height: .45em;

        border: .0625em solid transparent;
    }
}

@mixin pagination--left {
    padding-left: 1.55em;

    &:before {
        left: 0;
    }

    &:after {
        left: 0;
        border-top-color: currentColor;
        border-left-color: currentColor;
        transform: translate(0, calc(0.5px - 50%)) rotate(-45deg);
    }
}

@mixin pagination--right {
    padding-right: 1.55em;

    &:before {
        right: 0;
    }

    &:after {
        right: 0;
        border-top-color: currentColor;
        border-right-color: currentColor;
        transform: translate(0, calc(0.5px - 50%)) rotate(45deg);
    }
}

// SINGLE NAVIGATION
.post-navigation {

    --theme-content-width-wide: var(--theme-content-width-normal);

    .nav-links {
        display: block;

        @include above(tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        > * {
            position: relative;
            flex: 1;
        }

        [class*="title"] a {
            color: inherit;
            text-decoration: underline;
            text-decoration-color: transparent;

            &:hover,
            &:focus {
                text-decoration-color: var(--current-color-primary);
            }
        }

        a {
            text-decoration: underline;
            text-decoration-color: transparent;
        }
    }

    .nav-title {
        display: block;
    }

    .nav-next {
        text-align: right;
    }

    @include below(tablet) {

        .nav-next,
        .nav-previous { text-align: center; }

        .nav-links__label { margin-bottom: 0; }

        .nav-title { padding-top: 0; }
    }
}

.nav-links__label {
    @include apply-font(heading-5);
    color: var(--current-color-primary);
}

.nav-title {
    @include apply-font(heading-4);
}

.post-navigation {
    .nav-links {
        &__label {

            position: relative;

            border: 0;

            background-color: transparent;

            font-weight: normal;
            letter-spacing: .1em;
            text-transform: uppercase;

            transition: all .5s cubic-bezier(.18, .61, .43, .99);
            will-change: transform;

            &:before {
                width: 20px;
                height: 3px;
                background-color: currentColor;
            }

            &:after {
                display: block;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                transform: translate(0, calc(1px - 50%));
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                z-index: 100;
                color: inherit;
                transition: transform 0.5s cubic-bezier(0.18, 0.61, 0.43, 0.99),
                            opacity 0.5s cubic-bezier(0.18, 0.61, 0.43, 0.99);
                will-change: transform, opacity;
            }

            &.nav-links__label {
                margin-bottom: 0;
            }

            &--previous {
                padding-left: 31px;

                &:after {
                    left: 0;
                    border-right: 8px solid currentColor;
                }

                &:before {
                    left: 8px;
                }
            }

            &--next {
                padding-right: 31px;
                text-align: left;

                &:after {
                    right: 0;
                    border-left: 8px solid currentColor;
                }

                &:before {
                    right: 8px;
                }
            }
        }

        .nav-title[class] {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.nav-links__label {
    padding-top: 0.6em;
    padding-bottom: 0.5em;
}

.post-navigation {
    .nav-previous {
        text-align: left;

        &:hover {

            .nav-title {
                transform: translateX(-10px);
            }

            .nav-links__label {
                padding-left: 0;
                transform: translateX(-10px);

                &:before,
                &:after {
                    transform: translateX(-100%) translateY(-50%);
                    opacity: 0;
                }
            }
        }
    }

    .nav-next {
        text-align: right;

        &:hover {
            .nav-title {
                transform: translateX(10px);
            }

            .nav-links__label {
                padding-right: 0;
                transform: translateX(10px);

                &:before,
                &:after {
                    transform: translateX(100%) translateY(-50%);
                    opacity: 0;
                }
            }
        }
    }

    .nav-title {
        transition: transform 0.5s cubic-bezier(0.18, 0.61, 0.43, 0.99);
        will-change: transform;
    }
}

