// page numbers
@mixin pagination {
    position: relative;

    &:before,
    &:after {
        content: '';

        position: absolute;
        top: 50%;
        z-index: 100;

        color: inherit;
        transition-property: transform;
    }

    // The stick
    &:before {
        width: .75em;
        height: .0625em;

        background-color: currentColor;
    }

    // The arrow
    &:after {
        display: block;
        width: .45em;
        height: .45em;

        border: .0625em solid transparent;
    }
}

@mixin pagination--left {
    padding-left: 1.55em;

    &:before {
        left: 0;
    }

    &:after {
        left: 0;
        border-top-color: currentColor;
        border-left-color: currentColor;
        transform: translate(0, calc(0.5px - 50%)) rotate(-45deg);
    }
}

@mixin pagination--right {
    padding-right: 1.55em;

    &:before {
        right: 0;
    }

    &:after {
        right: 0;
        border-top-color: currentColor;
        border-right-color: currentColor;
        transform: translate(0, calc(0.5px - 50%)) rotate(45deg);
    }
}

@mixin post-navigation__links {

    @include above(tablet) {
        display: flex;
        flex-wrap: wrap;

        > * {
            flex: 1;
        }
    }
}


// SINGLE NAVIGATION
.post-navigation {
    --current-arrow-padding: calc(.4em + #{$theme-button-text-arrow-size});

    .nav-links {
        @include post-navigation__links;
    }

    a {
        text-decoration: none;

        &:after {
            content: "";
            @include cover;
        }
    }
}

.post-navigation__post-title {
    @include apply-font(heading-4);
}

.post-navigation__post-title,
.post-navigation__link-label {
    display: block;
}

.post-navigation__link {
    position: relative;

    @include below(tablet) {
        text-align: center;
    }
}

.post-navigation__link-label {
    position: relative;
    color: var(--current-color-primary);
    @include apply-font(button);
    transition: var(--theme-transition);
    transition-property: transform;

    &:after {
        content: '';
        @include button-text-arrow;
        transform: translate(0, -50%) scale(-1, 1);
        transition: var(--theme-transition);
        transition-property: opacity;

        .post-navigation__link:hover & {
            opacity: 0;
        }
    }
}

.post-navigation__link--previous {
    text-align: left;
}

.post-navigation__link-label--previous {
    padding-left: var(--current-arrow-padding);

    &:after {
        right: auto;
        left: 0;
        transform: translate(0, -50%);
    }

    .post-navigation__link:hover & {
        transform: translateX( calc( -1 * var(--current-arrow-padding) ) );
    }
}

.post-navigation__link--next {
    text-align: right;
}

.post-navigation__link-label--next {
    padding-right: var(--current-arrow-padding);

    .post-navigation__link:hover & {
        transform: translateX( var(--current-arrow-padding) );
    }
}
