.site-footer {
    padding-top: var(--theme-y-spacing);
    padding-bottom: var(--theme-y-spacing);

    color: var(--theme-sm-light-1);
    background-color: var(--theme-sm-dark-1);

    a {
        color: var(--theme-sm-light-2);
        text-decoration: none;

        &:hover {
            color: var(--theme-sm-light-1);
        }
    }
}
