.site-footer {
    padding-top: var(--theme-spacing-normal);
    padding-bottom: var(--theme-spacing-normal);

    color: var(--current-light-primary);
    background-color: var(--current-dark-primary);

    a {
        color: var(--current-light-secondary);
        text-decoration: none;

        &:hover {
            color: var(--current-light-primary);
        }
    }
}
