.site-branding {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.site-logo {
    img {
        display: block;
    }
}

.site-logo + .site-info {
    margin-left: 1em;
}

.c-logo {
    position: relative;
}

.c-logo__inverted {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;

    .site-header--fixed.site-header--scrolled &,
    .site-header--fixed.site-header--normal & {
        opacity: 0;
    }
}

.c-logo__default {
    opacity: 0;
   .site-header--fixed.site-header--scrolled &,
   .site-header--fixed.site-header--normal & {
       opacity: 1;
   }
}
