$enable-categories-block-styles:        true !default;

@if $enable-categories-block-styles == true {
    .wp-block-categories {
        @include archives;
    }
}



/* 
 * Temporary styles for Category Widget,
 * until we make transition to Full Site Editing 
 */
.widget_categories {
    
    ul {
        list-style: none;
        padding-left: 0;
        
        color: var(--sm-current-accent-color);
    }
    
    a {
        text-decoration: none;
    }
    
    ul ul {
        counter-reset: submenu;
        > li > a:before {
            content: "-" counters(submenu, "- ", none);
            counter-increment: submenu;
        }
    }
}
