.nova-food-menu {
  --block-content-start: ws;
  --block-content-end:we;
}

.nova-food-menu__header .section-title {
  margin-bottom: var(--theme-spacing);
}

.nova-food-menu__section:not(:first-child) {
  margin-top: var(--theme-spacing-small);
}

.nova-food-menu-item__title {
  --theme-heading-5-font-weight: 700;

  .item-title {
    color: inherit;
    @include apply-font(heading-4);
    padding-right: var(--theme-spacing-tiny);
  }

  &:before {
    bottom: 0.5em;
  }
}

.nova-food-menu-item__prices {
  padding-left: var(--theme-spacing-tiny);

  font-feature-settings: 'tnum' on, 'lnum' on;
}

.nova-food-menu__header .section-title {
  @include apply-font(heading-2);
}

.nova-food-menu-item__title {
  font-size: var(--theme-heading-4-font-size);

  &:before {
    border-width: .15em;
  }
}
.nova-food-menu-item {
  .item-title {
    background-color: var(--sm-current-bg-color);
  }
}

.wp-block-novablocks-menu-food-item.is-style-rounded {
  --item-border-radius: 0.4em;
}

.nova-food-menu-item--highlighted {
  --item-padding: var( --theme-spacing-tiny );

  @include above(tablet) {
    --item-padding: var( --theme-spacing );
  }
}
