@include define-font(button, (
    font-family: unquote('Archivo, sans-serif'),
    font-size: 12px,
    font-weight: 700,
    line-height: 2,
    letter-spacing: 0.03em,
    text-transform: uppercase,
));

:root {
    --theme-button-padding: 0.55em 0.75em 0.55em 0.85em;
    --theme-button-border-radius: 0.2em;
}

.wp-block-button:not(.is-style-text) {

    .wp-block-button__link {
        @include button-base;
        @include button-theme;

        &:not(.has-background) {
            @include button-background;
        }

        &:not(.has-text-color) {
            @include button-color;
        }
    }
}

.is-style-primary {
    --theme-button-background-color: var(--theme-sm-color-1);
    --theme-button-hover-background-color: var(--theme-sm-dark-1);
}

.is-style-text {
    --theme-button-color: var(--theme-sm-color-1);
    --theme-button-background-color: transparent;
    --theme-button-hover-color: var(--theme-sm-color-1);
    --theme-button-hover-background-color: transparent;
    --theme-button-border-radius: 0;

    .wp-block-button__link {
        padding: 0 !important;
        background: none !important;

        border-width: 0;
        border-bottom: 0.1em solid;
    }
}

.novablocks-hero {
    --theme-button-background-color: var(--theme-sm-light-1);
    --theme-button-color: var(--theme-sm-dark-1);
    --theme-button-hover-background-color: var(--theme-sm-color-1);
    --theme-button-hover-color: var(--theme-sm-dark-1);

    .is-style-primary {
        --theme-button-background-color: var(--theme-sm-color-1);
        --theme-button-color: var(--theme-sm-dark-1);
        --theme-button-hover-background-color: var(--theme-sm-light-1);
        --theme-button-hover-color: var(--theme-sm-dark-1);
    }
}