@include define-font(button, (
    font-family: unquote('Reforma2018, sans-serif'),
    font-size: 17,
    font-weight: 500,
    line-height: 1.2,
    letter-spacing: 0.03em,
    text-transform: capitalize,
));

.wp-block-button__link {
    @include button-transition;
}

.wp-block-button {

    &:not(.is-style-text) .wp-block-button__link {
        @include button-base;
        @include button-theme;

        &:not(.has-background) {
            @include button-background;
        }

        &:not(.has-text-color) {
            @include button-color;
        }
    }

    &:not([class*="is-style"]) .wp-block-button__link {
        &:not(.has-background) {
            @include button-fill;
        }
    }

    &.is-style-primary .wp-block-button__link[class] {
        @include button-outline-vars;
        @include button-fill;
    }

    &.is-style-secondary .wp-block-button__link[class] {
        @include button-outline-vars;
        @include button-fill-reverse;
    }
}

.is-style-text {

    .wp-block-button__link {
        @include button-reset;
        @include button-text;
    }
}
