@include define-font(body, (
    font-family: unquote('Reforma1969, sans-serif'),
));

@include define-font(content, (
    font-size: 18px,
));

@include define-font(display, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 100px,
    line-height: 1.03,
    font-weight: 700,
    letter-spacing: -0.03em,
));

@include define-font(heading-1, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 60px,
    line-height: 1.1,
    font-weight: 700,
    letter-spacing: -0.03em,
));

@include define-font(heading-2, (
    font-family: unquote('Reforma1918, sans-serif'),
    font-size: 40px,
    font-weight: 700,
    line-height: 1.2,
    letter-spacing: -0.02em,
));

@include define-font(heading-3, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 32px,
    font-weight: 700,
    line-height: 1.2,
    letter-spacing: -0.02em,
));

@include define-font(heading-4, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 24px,
    font-weight: 700,
    line-height: 1.2,
    letter-spacing: -0.02em,
));

@include define-font(heading-5, (
    font-family: unquote('Reforma2018, sans-serif'),
    font-size: 17px,
    font-weight: 400,
    line-height: 1.5,
));

@include define-font(intro, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 24px,
    letter-spacing: -0.02em,
));

%h0-font {
    @include apply-font(display);
}

%h1-font {
    @include apply-font(heading-1);
}

%h2-font {
    @include apply-font(heading-2);
}

%h3-font {
    @include apply-font(heading-3);
}

%h4-font {
    @include apply-font(heading-4);
}

%h5-font,
%h6-font {
    @include apply-font(heading-5);
}
