// Body
@include define-font(body, (
    font-family: var(--theme-body-font-family),
    font-size: 16,
    line-height: 1.7,
    font-weight: 400,
    letter-spacing: -0.03em
));

@include define-font(content, (
    font-family: var(--theme-body-font-family),
    font-size: 18,
    line-height: 1.6,
    letter-spacing: -0.03em,
));

@include define-font(lead, (
    font-family: var(--theme-body-font-family),
    font-size: 24,
    line-height: 1.6,
    letter-spacing: -0.02em,
));

// Headings
@include define-font(display, (
    font-family: var(--theme-primary-font-family),
    font-size: 115,
    line-height: 1.03,
    font-weight: 700,
    letter-spacing: -0.03em,
));

@include define-font(heading-1, (
    font-family: var(--theme-primary-font-family),
    font-size: 66,
    line-height: 1.1,
    font-weight: 700,
    letter-spacing: -0.03em,
));

@include define-font(heading-2, (
    font-family: var(--theme-primary-font-family),
    font-size: 40,
    font-weight: 700,
    line-height: 1.2,
    letter-spacing: -0.02em,
));

@include define-font(heading-3, (
    font-family: var(--theme-primary-font-family),
    font-size: 32,
    font-weight: 700,
    line-height: 1.2,
    letter-spacing: -0.02em,
));

@include define-font(heading-4, (
    font-family: var(--theme-primary-font-family),
    font-size: 24,
    font-weight: 700,
    line-height: 1.2,
    letter-spacing: -0.02em,
));

@include define-font(heading-5, (
    font-family: var(--theme-secondary-font-family),
    font-size: 17,
    font-weight: 500,
    line-height: 1.5,
));

@include define-font(heading-6, (
    font-family: var(--theme-secondary-font-family),
    font-size: 17,
    font-weight: 500,
    line-height: 1.5,
));

@include define-font(navigation, (
    font-family: var(--theme-secondary-font-family),
    font-size: 17,
    font-weight: 500,
    line-height: 1.5,
));

@include define-font(meta, (
    font-family: var(--theme-secondary-font-family),
    font-size: 17,
    font-weight: 500,
    line-height: 1.5,
));

@include define-font(button, (
    font-family: var(--theme-secondary-font-family),
    font-size: 17,
    font-weight: 500,
    line-height: 1.2,
    letter-spacing: 0.03em,
    text-transform: capitalize,
));

%h0-font {
    @include apply-font(display);
}

%h1-font {
    @include apply-font(heading-1);
}

%h2-font {
    @include apply-font(heading-2);
}

%h3-font {
    @include apply-font(heading-3);
}

%h4-font {
    @include apply-font(heading-4);
}

%h5-font {
    @include apply-font(heading-5);
}

%h6-font {
    @include apply-font(heading-6);
}
