@import "buttons";
@import "headings";
@import "headline";
@import "main";

.avatar {
    display: block;
    border-radius: 50%;
}

.comment__header {
    a {
        text-decoration: none;
    }
}

.post-navigation {

    .nav-links {
        @include apply-font(heading-5);
    }

    a {
        text-decoration: none;
    }
}

.entry-header {
    @include space-children-y(1em);

    a {
        text-decoration: none;
    }
}

.entry-title {
    a {
        color: inherit;
    }
}

.site-title {
    @include apply-font(heading-4);
}
