@import "buttons";
@import "fonts";
@import "headline";
@import "main";
@import "separator";

.avatar {
    display: block;
    border-radius: 50%;
}

.comment__header {
    a {
        text-decoration: none;
    }
}

.post-navigation {

    .nav-links {
        @include apply-font(heading-4);
    }

    a {
        text-decoration: none;
    }
}

.entry-title,
.entry-meta {

    a {
        color: inherit;
        text-decoration: none;
    }
}

.site-title {
    @include apply-font(heading-4);
}
