@include define-font(body, (
    font-family: unquote('Reforma1969, sans-serif'),
));

@include define-font(content, (
    font-size: 18px,
));

@include define-font(display, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 82px,
    line-height: 1.03,
    font-weight: 700,
    letter-spacing: 0.1em,
));

@include define-font(heading-1, (
    font-family: unquote('Reforma1969, sans-serif'),
    font-size: 66px,
    line-height: 1.03,
    font-weight: 700,
    letter-spacing: 0.1em,
));

@include define-font(heading-2, (
    font-family: unquote('Reforma1918, sans-serif'),
    font-size: 40px,
    font-weight: 700,
    line-height: 1.13,
    letter-spacing: -0.02em,
));

@include define-font(heading-3, (
    font-family: unquote('Reforma1918, sans-serif'),
    font-size: 32px,
    font-weight: 700,
    line-height: 1.13,
    letter-spacing: -0.02em,
));

@include define-font(heading-4, (
    font-family: unquote('Reforma1918, sans-serif'),
    font-size: 24px,
    font-weight: 700,
    line-height: 1.13,
    letter-spacing: -0.02em,
));

@include define-font(heading-5, (
    font-family: unquote('Archivo, sans-serif'),
    font-size: 12px,
    font-weight: 600,
    line-height: 2,
    letter-spacing: 0.3em,
    text-transform: uppercase,
));

@include define-font(intro, (
    font-family: var(--theme-headings-font-family),
    font-size: 26px,
));

%display {
    @include apply-font(display);
    color: var(--theme-sm-dark-1),
}

%h1-font {
    @include apply-font(heading-1);
    color: var(--theme-sm-dark-1),
}

%h2-font {
    @include apply-font(heading-2);
    color: var(--theme-sm-dark-1),
}

%h3-font {
    @include apply-font(heading-3);
    color: var(--theme-sm-dark-1),
}

%h4-font {
    @include apply-font(heading-4);
    color: var(--theme-sm-dark-1),
}

%h5-font,
%h6-font {
    @include apply-font(heading-5);
    color: var(--theme-sm-dark-1),
}

h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
        margin-top: 1em;
    }

    &:not(:last-child) {
        margin-bottom: 0.25em;
    }
}

h1.entry-title {
    @include apply-font(display);
}
