@import "headings";

%button-theme {
    @include apply-font(heading-3);
}

pre,
code {
    border: 1px solid;
    border-radius: 0.2em;
    background: var(--nova-light-2);
}

pre {
    padding: 1em;
}

code {
    padding: 0.1em;
}

pre code {
    background: transparent;
}

.wp-block-cover-text {
    @include apply-font(heading-2);
}

h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
        margin-top: 1em;
    }

    &:not(:last-child) {
        margin-bottom: 0.25em;
    }
}

//.wp-block-columns {
//    --theme-column-spacing: 12px;
//}
//
//.wp-block-column {
//    padding: 12px;
//    background: #EFEFEF;
//}