@import "headings";

%button-theme {
    @include apply-font(heading-3);
}

figure {
    @include space-children-y( calc( var(--nova-element-spacing) / 4 ) );
}

figcaption {
    @include caption;
}

pre,
code {
    border: 1px solid;
    border-radius: 0.2em;
    background: var(--nova-light-2);
}

pre {
    padding: 1em;
}

code {
    padding: 0.1em;
}

pre code {
    background: transparent;
}

blockquote {

}

cite {
    @include apply-font(normal, font-size);
}

.wp-block-cover-text {
    @include apply-font(medium, font-size);
}
