$fonts-folder-path: 'assets/fonts/' !default;

@font-face {
    font-family: 'Billy Ohio';
    src:
        url('#{$fonts-folder-path}billy-ohio/billy-ohio-webfont.woff2') format('woff2'),
        url('#{$fonts-folder-path}billy-ohio/billy-ohio-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}