$fonts-folder-path: 'assets/fonts/' !default;

@font-face {
    font-family: 'Reforma1969';
    src:
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Blanca.woff2') format('woff2'), /* /* Super Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Blanca.woff') format('woff'), /* Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Blanca.eot') format('woff'),
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Blanca.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Reforma1969';
    src:
        url('#{$fonts-folder-path}reforma1969/Reforma1969-BlancaItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-BlancaItalica.woff') format('woff'), /* Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-BlancaItalica.eot') format('woff'),
        url('#{$fonts-folder-path}reforma1969/Reforma1969-BlancaItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Reforma1969';
    src:
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Gris.woff2') format('woff2'), /* /* Super Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Gris.woff') format('woff'), /* Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Gris.eot') format('woff'),
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Gris.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Reforma1969';
    src:
        url('#{$fonts-folder-path}reforma1969/Reforma1969-GrisItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-GrisItalica.woff') format('woff'), /* Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-GrisItalica.eot') format('woff'),
        url('#{$fonts-folder-path}reforma1969/Reforma1969-GrisItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Reforma1969';
    src:
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Negra.woff2') format('woff2'), /* /* Super Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Negra.woff') format('woff'), /* Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Negra.eot') format('woff'),
        url('#{$fonts-folder-path}reforma1969/Reforma1969-Negra.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Reforma1969';
    src:
        url('#{$fonts-folder-path}reforma1969/Reforma1969-NegraItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-NegraItalica.woff') format('woff'), /* Modern Browsers */
        url('#{$fonts-folder-path}reforma1969/Reforma1969-NegraItalica.eot') format('woff'),
        url('#{$fonts-folder-path}reforma1969/Reforma1969-NegraItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}