$enable-latest-comments-block-styles:   true !default;

@if $enable-latest-comments-block-styles == true {
	/* Latest Comments Block */
	.wp-block-latest-comments {
		@include space-children-y( var(--theme-spacing-small) );

		* {
			@include apply-font(body);
			--font-size-modifier: 0.9;	
		}

		> * { margin-bottom: 0; }
	
		// Align avatar and content with flex (ignore 'float' from core as it's not working yet)
		&.has-avatars  .wp-block-latest-comments__comment {
			display: flex;
			align-items: flex-start;

			article > * {
				margin-left: 0;
			}
		}
	}

	.wp-block-latest-comments__comment-date {
		--font-size-modifier: 0.8;	
	}

	.wp-block-latest-comments__comment-excerpt p,
	.wp-block-latest-comments__comment-date {
		@extend %apply-font-properties;
	}

	.wp-block-latest-comments__comment-excerpt p {
		margin-bottom: 0;
	}

	.wp-block-latest-comments__comment-meta {
	    > * {
			opacity: 0.6;
	    }

		.wp-block-latest-comments__comment-author {
			font-weight: bold;
			color: var(--sm-current-accent-color);
			opacity: 1;
		}

		.wp-block-latest-comments__comment-link {
			color: var(--sm-current-fg1-color);
		}

		a {
			text-decoration: none;
			opacity: 1;
		}
	}
}