.novablocks-content,
.novablocks-sidebar,
.entry-content > .wp-block-group:not(.align-full) {
	
	> * {
		
		&:not(.align-full) {
			
			@include below(lap) {
				padding-left: var(--theme-wrapper-sides-spacing);
				padding-right: var(--theme-wrapper-sides-spacing);
			}
		}
	}
}

.novablocks-layout .novablocks-layout {
	@include below(lap) {
		padding-left: 0;
		padding-right: 0;
	}
}
