:root {
    --theme-button-border-width: 2px;
    --theme-button-border-style: solid;
    --theme-button-border-radius: 0;

    --theme-button-x-padding: 1.5em;
    --theme-button-y-padding: .75em;
    --theme-button-padding: var(--theme-button-y-padding) var(--theme-button-x-padding);

    --theme-button-transition-duration: var(--theme-transition-duration);
    --theme-button-transition-easing: var(--theme-transition-easing);
    --theme-button-transition: all var(--theme-button-transition-duration) var(--theme-button-transition-easing);
    --theme-button-hover-transition: var(--theme-button-transition);
}