:root {
  --theme-input-padding: #{$input-padding-mobiles};

  @include above(tablet) {
    --theme-input-padding: #{$input-padding};
  }

  --theme-input-color: #{$input-color};
  --theme-input-error-color: #{$color-error};
  --theme-input-background-color: #{$input-background-color};
  --theme-input-box-shadow:   0px 0px 0px 1px rgba(var(--opacity-color), 0.70),
                              0px 0px 0px 1px var(--current-dark-primary);

  --theme-input-border-color: #{$input-border-color};
  --theme-input-error-border-color: #{$input-error-border-color};
  --theme-input-border-radius: #{$input-border-radius};

  --theme-input-focus-box-shadow: 0px 0px 0px 2px rgba(var(--opacity-color), 0.40),
  0px 0px 0px 2px var(--current-color-primary),
  0px 0px 27px 5px var(--current-light-primary),
  0px 0px 10px 0px var(--current-color-primary);

  --theme-input-hover-box-shadow: 0px 0px 0px 1px rgba(var(--opacity-color), 0.30),
  0px 0px 0px 1px var(--current-dark-primary);

  --theme-input-error-box-shadow: 0px 0px 0px 1px var(--theme-input-error-color);

  --theme-input-placeholder-color: #{$input-placeholder-color};
  --theme-input-placeholder-opacity: #{$input-placeholder-opacity};

  --opacity-color: 255, 255, 255;
}
