:root {
    --theme-input-x-padding: 1em;
    --theme-input-y-padding: .75em;
    --theme-input-padding: var(--theme-input-y-padding) var(--theme-input-x-padding);

    --theme-input-color: var(--current-dark-secondary);
    --theme-input-background-color: var(--current-light-tertiary);

    --theme-input-border-width: 1px;
    --theme-input-border-style: solid;
    --theme-input-border-color: var(--current-light-secondary);
    --theme-input-border-radius: 0;
    --theme-input-border: var(--theme-input-border-width) var(--theme-input-border-style) var(--theme-input-border-color);

    --theme-input-focus-border-color: var(--current-dark-primary);

    --theme-input-disabled-background-color: var(--current-dark-secondary);
    --theme-input-disabled-border-color: var(--current-dark-secondary);

    --theme-checkbox-border-color: var(--current-dark-secondary);
    --theme-checkbox-background-color: var(--current-light-primary);

    --theme-checkbox-width: 1.5rem;
    --theme-checkbox-height: 1.5rem;

    --theme-input-vertical-spacing: var(--theme-spacing-tiny);
    --theme-input-horizontal-spacing: var(--theme-spacing-tiny);

    --theme-input-label-color: var(--current-dark-secondary);
    --theme-input-legend-color: var(--current-dark-secondary);
}