:root {
  --theme-input-padding: .35em;
  
  @include above(tablet) {
    --theme-input-padding: .833em;
  }
  
  --theme-input-color: var(--current-dark-secondary);
  --theme-input-error-color: var(--theme-error-color);
  --theme-input-background-color: var(--current-light-primary);
  --theme-input-disabled-background-color: var(--current-dark-secondary);
  
  --theme-input-overlay-shadow: inset 0px 0px 0px 1px rgba(var(--opacity-color), 0.70);
  --theme-input-colored-shadow: inset 0px 0px 0px 1px var(--current-dark-primary);
  
  --theme-input-box-shadow:   var(--theme-input-overlay-shadow),
  var(--theme-input-colored-shadow);
  
  --theme-input-border-color:  var(--current-light-tertiary);
  --theme-input-error-border-color: var(--theme-input-error-color);
  --theme-input-disabled-border-color: var(--current-dark-secondary);
  --theme-input-border-radius: 0px;
  
  --theme-input-focus-overlay-shadow: inset 0px 0px 0px 2px rgba(var(--opacity-color), 0.40);
  --theme-input-focus-colored-shadow:  inset 0px 0px 0px 2px var(--current-color-primary);
  --theme-input-focus-shadow: 0 0 9px -3px var(--current-color-primary);
  
  --theme-input-focus-box-shadow: var(--theme-input-focus-overlay-shadow),
  var(--theme-input-focus-colored-shadow),
  var(--theme-input-focus-shadow);
  
  --theme-input-hover-overlay-shadow: inset 0px 0px 0px 1px rgba(var(--opacity-color), 0.30);
  --theme-input-hover-colored-shadow: inset 0px 0px 0px 1px var(--current-dark-primary);
  
  --theme-input-hover-box-shadow: var(--theme-input-hover-overlay-shadow),
  var(--theme-input-hover-colored-shadow);
  
  --theme-input-error-focus-overlay-shadow: 0px 0px 0px 2px rgba(var(--opacity-color), 0.40);
  --theme-input-error-focus-colored-shadow:  0px 0px 0px 2px var(--theme-input-error-color);
  --theme-input-error-focus-shadow: 0 0 9px -3px var(--theme-input-error-color);
  
  --theme-input-error-box-shadow: 0px 0px 0px 1px var(--theme-input-error-color);
  --theme-input-focus-error-box-shadow: var(--theme-input-error-focus-overlay-shadow),
  var(--theme-input-error-focus-colored-shadow),
  var(--theme-input-error-focus-shadow);
  
  --theme-input-placeholder-color: var(--curent-dark-primary);
  --theme-input-placeholder-opacity: .5;
  
  --theme-checkbox-width: 1.25rem;
  --theme-checkbox-height: 1.25rem;
  
  --theme-input-label-color: var(--current-dark-secondary);
  --theme-input-legend-color: var(--current-dark-secondary);
  
  --theme-input-vertical-spacing: var(--theme-spacing-tiny);
  --theme-input-horizontal-spacing: var(--theme-spacing-tiny);
  
  --opacity-color: 255, 255, 255;
}
