
// ATTENTION!
// This file shouldn't be modified. Proceed with caution!

:root {
    --theme-content-width-normal-initial: 40; // em
    --theme-content-width-wide-addon: 32; // em
    --theme-content-width-wide-initial: calc(var(--theme-content-width-normal-initial) + var(--theme-content-width-wide-addon));
    --theme-content-width-normal: calc(var(--theme-content-width-normal-initial) * var(--theme-body-final-font-size));
    --theme-content-width-wide: calc(var(--theme-content-width-wide-initial) * var(--theme-body-final-font-size));
    --theme-content-spacing: var(--theme-spacing-fluid-small);

    --theme-wrapper-sides-spacing: var(--theme-spacing-fluid-small);
}
