
// ATTENTION!
// This file shouldn't be modified. Proceed with caution!

:root {
    --theme-content-width-wide-addon: var(--sm-site-container-width, 75); // em
    --theme-content-width-wide: calc(var(--theme-content-width-wide-addon) * var(--theme-body-final-font-size));

    --theme-content-spacing: var(--theme-spacing-fluid-normal);
    --theme-wrapper-sides-spacing: var(--theme-spacing-fluid-normal);
}
