:root {
    --theme-links-transition-property: text-decoration-color;
    --theme-links-transition-duration: .25s;
    --theme-links-transition-easing: #{ $easeInOut };
    --theme-links-transition: var(--theme-links-transition-property) var(--theme-links-transition-duration) var(--theme-links-transition-easing);
}
