
// ATTENTION!
// This file shouldn't be modified. Proceed with caution!

:root {
    --theme-spacing-ratio: 1;

    --theme-spacing:                calc( var( --theme-body-font-size ) * 1px * var( --theme-spacing-ratio ) );
    --theme-spacing-fluid:          calc( var( --theme-body-final-font-size ) * var( --theme-spacing-ratio ) );

    @each $name, $value in $theme-spacing-modifiers {
        --theme-spacing-#{$name}:          calc( var( --theme-spacing ) * #{$value} );
        --theme-spacing-fluid-#{$name}:    calc( var( --theme-spacing-fluid ) * #{$value} );
    }
}
