.novablocks-hero {

    [class*="novablocks-u-content"] {
        z-index: 10;
    }
}

.novablocks-hero__inner-container {

    > .c-headline {

        .c-headline__primary,
        .c-headline__secondary {
            opacity: 0;
        }
    }

    > .c-headline + .c-headline {

        .c-headline__primary,
        .c-headline__secondary {
            opacity: 1;
        }
    }

    > :not(.c-headline) {
        opacity: 0;
    }

    .c-separator__symbol {
        color: var(--sm-current-accent-color);
    }

    > .wp-block-separator:not(:first-child),
    > .wp-block-separator[class] + * {
        --nb-element-spacing-multiplier: 1;
    }
}

.novablocks-hero__indicator--middle {
    
    &[class] {
        background-color: transparent;
        color: inherit;
    }
    
    svg {
        opacity: 0;
    }
}

.novablocks-hero__indicator:not(.novablocks-hero__indicator--middle) {
    width: 160px;
    height: 50px;
    top: 100%;
    color: var(--sm-current-bg-color);
    background: none;

    z-index: 1;

    &:after {
        color: var(--sm-current-fg2-color);
    }
}

@include below(lap) {
    .c-bully {
        display: none;
    }
}
