.novablocks-hero {

    [class*="novablocks-u-content"] {
        z-index: 10;
    }
}

.novablocks-hero__inner-container {

    > .c-headline {

        .c-headline__primary,
        .c-headline__secondary {
            opacity: 0;
        }
    }

    > .c-headline + .c-headline {

        .c-headline__primary,
        .c-headline__secondary {
            opacity: 1;
        }
    }

    > :not(.c-headline) {
        opacity: 0;
    }

    .c-separator__symbol {
        color: var(--sm-current-accent-color);
    }

    > .wp-block-separator:not(:first-child),
    > .wp-block-separator[class] + * {
        --nb-element-spacing-multiplier: 1;
    }
}



// Hero bullets
.c-bully {
    // Connect bullets to the theme font-size system
    --font-size-base: 12px; 

    @include below(lap) {
        display: none;
    }
}
