.novablocks-hero {

    .novablocks-u-content-padding {
        @include below(tablet) {
            padding-top: var(--theme-spacing-xxl);
            padding-bottom: var(--theme-spacing-xxl);
        }
    }

    body.has-hero &:first-child:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 2.22%,
            rgba(0, 0, 0, 0.05) 84.86%,
            rgba(0, 0, 0, 0.058563) calc(100% - calc(var(--theme-header-height) + var(--theme-header-offset))),
            rgba(0, 0, 0, 0.4) 100%);
    }

    [class*="novablocks-u-content"] {
        z-index: 10;
    }
}

.novablocks-hero__inner-container {

    > .c-headline {
        .c-headline__primary,
        .c-headline__secondary {
            opacity: 0;
        }
    }

    > .c-headline + .c-headline {
        .c-headline__primary,
        .c-headline__secondary {
            opacity: 1;
        }
    }

    > :not(.c-headline) {
        opacity: 0;
    }

    .c-separator__symbol {
        color: var(--current-color-primary);
    }

    > .wp-block-separator:not(:first-child),
    > .wp-block-separator[class] + * {
        --novablocks-element-spacing-multiplier: 1;
    }
}

.novablocks-hero__indicator--middle svg {
    opacity: 0;
}

.novablocks-hero__indicator:not(.novablocks-hero__indicator--middle) {
    width: 160px;
    height: 50px;
    top: 100%;
    color: var(--current-light-primary);

    z-index: 1;

    &:after {
        color: var(--current-dark-primary);
    }

    .has-moderate-media-card-after-hero & {
        color: var(--current-light-tertiary);
    }
}
