@import "../setup/mixins/forms";

@include placeholder() {
    color: $placeholder-color;
    opacity: .6;
    font-style: italic;
}

input {
    &[type="text"],
    &[type="tel"],
    &[type="number"],
    &[type="date"],
    &[type="email"],
    &[type="password"],
    &[type="url"],
    &[type="search"] {
        @include input;
    }
}

input[type="checkbox"] {
    @include checkbox;

}

input[type="radio"] {
    @include radio;
}

input[type="submit"],
input[type="button"],
button[type="submit"],
button[type="reset"] {
    @include button;
    @include button-fill(false);
}

input[type="file"] {
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    display: block;
    margin-bottom: 0 !important;
    padding: .75em 1.75em;
    border: 0 solid transparent;
    border-right-width: 1em;
    background-clip: padding-box;
    overflow: visible;

    font-weight: 600;
    text-align: center;

    color: $button-color;
    background-color: $button-background-color;

    vertical-align: middle;
    cursor: pointer;

    &:focus, &:active {
        outline: 0;
        box-shadow: none;
        background-color: $button-background-color;
    }

    &:hover {
        background-color: $color-dark;
    }
}

input.disabled,
input[disabled="disabled"],
input[disabled] {
    background: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
}

textarea {
    @include textarea;
}

select {
    @include select;

    &[multiple] {
        background: none;
        padding-right: .8125em;
    }
}

fieldset {
    border: 0;

    legend {
        color: $legend-color;
        padding: 0 !important;
    }

    > div {
        margin-top: $input-vertical-spacing;
    }
}

// Helper Classes for Humans & Nature
// <div class="form-inline">  <input> <input type="submit">  </div>
.form-inline {
    display: flex;

    input[type="submit"],
    input[type="button"],
    button[type="submit"],
    button[type="reset"] {
        flex-shrink: 0;
        margin-top: 0;
    }
}

.select2-container--default .select2-selection--single {
    border: 0;
    border-radius: $input-border-radius;
    height: auto;

    .select2-selection__rendered {
        padding: $input-padding;
        color: $input-color;

        background-color: $input-background-color;
    }

    .select2-selection__placeholder {
        display: block;
    }

    .select2-selection__arrow {
        top: 50%;
        right: 1.18em;
        transform: translate(50%, -50%);
    }
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: $input-border-color;
}

.select2-dropdown {
    background-color: $input-background-color;

    .select2-search__field {
        background-color: var(--current-light-secondary);
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--current-color-primary);
    color: var(--current-dark-primary);
}
