/* Media */
img,
video {
    max-width: 100%;
    height: auto;
}

img {
    transition: var(--theme-transition);
    transition-property: opacity;
}

.gm-style img {
    opacity: 1;
}


figure {
    margin: 0;
}
