/* Media */
img,
video {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

/* Iframes */
iframe {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

/* Preformatted */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

/* Links */
a {
    color: var(--theme-sm-color-1);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 { @extend %h1-font !optional }
h2 { @extend %h2-font !optional }
h3 { @extend %h3-font !optional }
h4 { @extend %h4-font !optional }
h5 { @extend %h5-font !optional }
h6 { @extend %h6-font !optional }

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 0.5em;
}
