.nb-collection__layout--carousel {

	.slick-arrow:before {
		mask: url($icon-arrow-svg-path) no-repeat 50% 50%;
		mask-size: cover;
		-webkit-mask: url($icon-arrow-svg-path) no-repeat 50% 50%;
		-webkit-mask-size: cover;
		background-color: var(--sm-current-fg1-color);
	}

	.slick-prev:before {
		transform: translate(-50%, -50%);
	}

	.slick-next:before {
		transform: translate(-50%, -50%) rotate(180deg);
	}

	.slick-arrow:after {
		content: "";

		display: block;
		width: 100%;
		height: 100%;

		margin-top: 0;
		border: 0;
		border-radius: 50%;

		background-color: var(--sm-current-bg-color);
		opacity: 0;

		transition: opacity 0.15s ease-in;
		transform: none;
	}
}