.nb-collection__layout--carousel[class] {

	// Arrow Icon
	.slick-arrow:before {
		content: '';
		mask: url($icon-arrow-svg-path) no-repeat 50% 50%;
		mask-size: cover;
		-webkit-mask: url($icon-arrow-svg-path) no-repeat 50% 50%;
		-webkit-mask-size: cover;
		background-color: var(--sm-current-fg1-color);
	}

	.slick-prev:before {
		transform: translate(-50%, -50%);
	}

	.slick-next:before {
		transform: translate(-50%, -50%) rotate(180deg);
	}

	// Arrow Background
	.slick-arrow:after {
		background-color: var(--sm-current-bg-color);
	}

	// Pagination
	.slick-dots {
		li {
			&.slick-active {
				color: var(--sm-current-accent-color);
			}
		}
		button {
			@include apply-font(heading-5);
		}
	}
}