.novablocks-navigation {
  --novablocks-navigation-item-padding-y: .75em; }
  .novablocks-navigation ul.menu,
  .novablocks-navigation .menu > ul {
    margin-left: calc( -1 * var(--novablocks-navigation-item-spacing) * var(--novablocks-navigation-item-spacing-multiplier, 1)); }
    .novablocks-navigation ul.menu > li,
    .novablocks-navigation .menu > ul > li {
      margin-left: calc( var(--novablocks-navigation-item-spacing) * var(--novablocks-navigation-item-spacing-multiplier, 1)); }
  .novablocks-navigation ul.menu,
  .novablocks-navigation .menu > ul,
  .novablocks-navigation ul.sub-menu,
  .novablocks-navigation ul.children {
    padding-left: 0;
    list-style: none; }
  @media only screen and (min-width: 1024px) {
    .novablocks-navigation ul.menu,
    .novablocks-navigation .menu > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .novablocks-navigation ul.menu a,
  .novablocks-navigation .menu > ul a {
    display: block;
    padding-top: var(--novablocks-navigation-item-padding-y);
    padding-bottom: var(--novablocks-navigation-item-padding-y);
    color: inherit;
    text-decoration: none; }
  .novablocks-navigation .menu-item-has-children,
  .novablocks-navigation .page_item_has_children {
    position: relative; }
    .novablocks-navigation .menu-item-has-children[class] > a,
    .novablocks-navigation .page_item_has_children[class] > a {
      display: block; }
      .novablocks-navigation .menu-item-has-children[class] > a:after,
      .novablocks-navigation .page_item_has_children[class] > a:after {
        content: "";
        display: inline-block;
        width: var(--dropdown-icon-size);
        height: var(--dropdown-icon-size);
        -webkit-mask: url("./arrow-down.svg") no-repeat 50% 50%;
                mask: url("./arrow-down.svg") no-repeat 50% 50%;
        -webkit-mask-size: contain;
                mask-size: contain;
        -webkit-mask-position: center;
                mask-position: center;
        background-color: currentColor;
        margin-left: 0.75em;
        opacity: .5; }
    @media only screen and (min-width: 1024px) {
      .novablocks-navigation .menu-item-has-children.hover > .sub-menu,
      .novablocks-navigation .menu-item-has-children.hover > .children,
      .novablocks-navigation .page_item_has_children.hover > .sub-menu,
      .novablocks-navigation .page_item_has_children.hover > .children {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        pointer-events: auto; }
      .novablocks-navigation .menu-item-has-children:focus-within > .sub-menu,
      .novablocks-navigation .menu-item-has-children:focus-within > .children,
      .novablocks-navigation .page_item_has_children:focus-within > .sub-menu,
      .novablocks-navigation .page_item_has_children:focus-within > .children {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        pointer-events: auto; } }
    @media not screen and (min-width: 1024px) {
      .novablocks-navigation .menu-item-has-children:not(.hover) > .sub-menu,
      .novablocks-navigation .menu-item-has-children:not(.hover) > .children,
      .novablocks-navigation .page_item_has_children:not(.hover) > .sub-menu,
      .novablocks-navigation .page_item_has_children:not(.hover) > .children {
        display: none; }
      .novablocks-navigation .menu-item-has-children > .sub-menu,
      .novablocks-navigation .menu-item-has-children > .children,
      .novablocks-navigation .page_item_has_children > .sub-menu,
      .novablocks-navigation .page_item_has_children > .children {
        position: relative; }
        .novablocks-navigation .menu-item-has-children > .sub-menu:before,
        .novablocks-navigation .menu-item-has-children > .children:before,
        .novablocks-navigation .page_item_has_children > .sub-menu:before,
        .novablocks-navigation .page_item_has_children > .children:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--sm-current-fg1-color);
          opacity: 0.2;
          pointer-events: none; } }
  @media only screen and (min-width: 1024px) {
    .novablocks-navigation .sub-menu,
    .novablocks-navigation .children {
      position: absolute;
      top: 100%;
      left: 0;
      width: 10em;
      background: var(--novablocks-fg2-color);
      color: var(--novablocks-bg-color); }
      .novablocks-navigation .sub-menu .sub-menu,
      .novablocks-navigation .sub-menu .children,
      .novablocks-navigation .children .sub-menu,
      .novablocks-navigation .children .children {
        top: 0;
        left: 100%; }
      .novablocks-navigation .sub-menu .sub-menu .menu-item-has-children > a:after,
      .novablocks-navigation .sub-menu .children .page_item_has_children > a:after,
      .novablocks-navigation .children .sub-menu .menu-item-has-children > a:after,
      .novablocks-navigation .children .children .page_item_has_children > a:after {
        -webkit-transform: translateY(-10%) rotate(-45deg);
                transform: translateY(-10%) rotate(-45deg); }
    .novablocks-navigation .sub-menu .sub-menu,
    .novablocks-navigation .children .children {
      top: 0;
      left: 100%; }
    .novablocks-navigation :not(:hover) > .sub-menu,
    .novablocks-navigation :not(:hover) > .children {
      display: none; }
    .novablocks-navigation .menu-item-has-children .menu-item:after,
    .novablocks-navigation .page_item_has_children .menu-item:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: currentColor;
      opacity: 0; }
    .novablocks-navigation .menu-item-has-children .menu-item:hover:after, .novablocks-navigation .menu-item-has-children .menu-item:focus-within:after,
    .novablocks-navigation .page_item_has_children .menu-item:hover:after,
    .novablocks-navigation .page_item_has_children .menu-item:focus-within:after {
      opacity: .05; }
    .novablocks-navigation .sub-menu,
    .novablocks-navigation .children {
      -webkit-transform: translate3d(0, -0.75em, 0);
              transform: translate3d(0, -0.75em, 0);
      opacity: 0;
      width: 15.625em;
      padding: .75em 0;
      background-color: var(--novablocks-bg-color);
      color: var(--novablocks-fg2-color);
      border-radius: 0.1875em;
      -webkit-box-shadow: 0 0.25em 2em rgba(0, 0, 0, 0.1), 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
              box-shadow: 0 0.25em 2em rgba(0, 0, 0, 0.1), 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
      -webkit-transition: var(--novablocks-transition);
      transition: var(--novablocks-transition);
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: opacity, transform;
      transition-property: opacity, transform, -webkit-transform;
      z-index: 100;
      pointer-events: none; }
      .novablocks-navigation .sub-menu a,
      .novablocks-navigation .children a {
        position: relative;
        padding-left: 1.25em;
        padding-right: 1.875em; }
        .novablocks-navigation .sub-menu a:after,
        .novablocks-navigation .children a:after {
          position: absolute;
          right: 1em; }
    .novablocks-navigation .has-submenu-left > .sub-menu,
    .novablocks-navigation .has-submenu-left > .children {
      left: auto;
      right: 0; }
    .novablocks-navigation .sub-menu .menu-item-has-children > a:after,
    .novablocks-navigation .children .page_item_has_children > a:after {
      position: absolute;
      right: 1.25em;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-90deg);
              transform: translateY(-50%) rotate(-90deg); }
    .novablocks-navigation .sub-menu .menu-item-has-children .sub-menu,
    .novablocks-navigation .sub-menu .menu-item-has-children .children,
    .novablocks-navigation .children .page_item_has_children .sub-menu,
    .novablocks-navigation .children .page_item_has_children .children {
      top: -.75em;
      left: calc(100% - .625em); }
    .novablocks-navigation .sub-menu .menu-item-has-children.has-submenu-left .sub-menu,
    .novablocks-navigation .sub-menu .menu-item-has-children.has-submenu-left .children,
    .novablocks-navigation .children .page_item_has_children.has-submenu-left .sub-menu,
    .novablocks-navigation .children .page_item_has_children.has-submenu-left .children {
      left: auto;
      right: calc(100% - .625em); }
    .novablocks-navigation :not(:hover) > .sub-menu,
    .novablocks-navigation :not(:hover) > .children {
      display: block; }
    .novablocks-navigation .sub-menu .sub-menu[class] .menu-item-has-children > a:after {
      position: absolute;
      right: 1.25em;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-90deg);
              transform: translateY(-50%) rotate(-90deg); } }
  .novablocks-navigation .menu-item {
    margin-top: 0;
    position: relative;
    --dropdown-icon-size: 0.75em; }
    .novablocks-navigation .menu-item .menu-description {
      display: block;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      font-size: 0.75em;
      color: var(--current-dark-primary);
      opacity: .5;
      line-height: 1.5;
      font-weight: 400;
      padding-right: var(--dropdown-icon-size); }
      @media not screen and (min-width: 1024px) {
        .novablocks-navigation .menu-item .menu-description {
          width: 100%; } }
