// hack to contain negative margin-top of .novablocks-media__layout
.novablocks-media > .wp-block-group__inner-container {
    padding-top: 1px;
}

.novablocks-media__content {
    max-width: 100%;
    @include apply-font(body);

    &[class] {
        min-width: 0;
    }
}

.novablocks-media__image {
    position: relative;

    a {
        @include cover;
    }

    img,
    svg {
        @include image-cover;
    }

    svg {
        object-fit: contain;
    }
}

.novablocks-block__content {

    @include above(tablet) {
        --novablocks-block-content-padding: var(--novablocks-spacing);
    }
}

.novablocks-media--blog[class] {
    --block-top-spacing: 2;
    --block-bottom-spacing: 2;

    &:first-child {
        --block-top-spacing: 0;
    }

    --novablocks-block-background-color: var(--current-light-tertiary);

    .novablocks-media__content {
        flex-basis: calc(50% - var(--novablocks-media-spacing));
    }

    .novablocks-media__aside {
        // 0.5px to help Edge resolve the calc
        flex-basis: calc(50% + var(--novablocks-media-spacing) - 0.5px);
    }

    .novablocks-media__layout {
        align-items: stretch;
    }

    .novablocks-media__image {
        height: 100%;
        min-height: 400px;
    }
}
