.novablocks-media {

    &.novablocks-media--no-thumbnail {

        .novablocks-media__image {
            display: flex;
            align-items: center;
            justify-content: center;

            path {
                fill: var(--sm-current-accent-color);
            }
        }
    }

    // hack to contain negative margin-top of .novablocks-media__layout
    > .wp-block-group__inner-container {
        padding-top: 1px;
    }
}

.novablocks-media__inner-container {

    @include below(tablet) {
        @include specific(3) {
            padding: 0;
        }
    }

    .wp-block-separator {
        width: 100%;
    }
}

.novablocks-media__content {
    max-width: 100%;
    @include apply-font(body);

    &[class] {
        min-width: 0;
    }
}

.novablocks-media__image {
    position: relative;

    a {
        @include cover;
    }

    img,
    svg {
        @include image-cover;
        // Tricky way to fix weird image width
        // in Google Chrome.
        
        // See issue: https://github.com/pixelgrade/anima/issues/223
        min-height: auto;
    }

    svg {
        object-fit: contain;
    }
}

.novablocks-media--blog[class] {

    .novablocks-media__content {
        flex-basis: calc(50% - var(--nb-media-spacing));
    }

    .novablocks-media__aside {
        // 0.5px to help Edge resolve the calc
        flex-basis: calc(50% + var(--nb-media-spacing) - 0.5px);
    }

    .novablocks-media__layout {
        align-items: stretch;
    }

    .novablocks-media__image {
        height: 100%;
        min-height: 400px;
    }
}
