$enable-latest-posts-block-styles:      true !default;
$latest-posts--title-selector: '.wp-block-latest-posts__post-title' !default;

@if $enable-latest-posts-block-styles == true {
    .wp-block-latest-posts[class] {
        * {
            @include apply-font(body);
            // --font-size-modifier: 0.9;  
        }

        a {
            text-decoration: none;
        }
        
        &.wp-block-latest-posts__list {
            list-style:none;
            padding-left: 0;

            @include space-children-y( var(--theme-spacing-small) );
        }

        #{$latest-posts--title-selector} {
            @include apply-font(heading-4);
        }
    }

    
    .wp-block-latest-posts[class][class] {
        
        li a:hover {
            color: var(--sm-current-accent-color);
            text-decoration: underline;
        }
        
        // A custom style available by adding `.style--alt` class
        &.style--alt {
            
            > li:not(:last-child) {
                padding-bottom: 1em;
                border-bottom: 1px solid #DFDFDF;
            }
        }
    }

    
    .wp-block-latest-posts__post-author[class],
    .wp-block-latest-posts__post-date[class] {
        @extend %apply-font-properties;
        --font-size-modifier: 0.85;
        opacity: 0.6;
    }
    
    .wp-block-latest-posts__post-excerpt[class] {
        @extend %apply-font-properties;
        --font-size-modifier: 0.9;
    }
}
