/* Global CSS Custom Properties */
:root {

    // LAYOUT
    //--theme-content-width-normal: calc(37 * var(--theme-body-font-size));
    //--theme-content-width-wide: calc(65 * var(--theme-body-font-size));
    --theme-content-width-normal: 37em;
    --theme-content-width-wide: 65em;

    // spacing unit
    --theme-spacing-unit: 8px;

    //
    --theme-wrapper-side-spacing: 24px;

    @include above(lap) {
        --theme-wrapper-side-spacing: 48px;
    }

    //
    --theme-x-spacing: calc( 7 * var(--theme-spacing-unit) );
    --theme-y-spacing: calc( 7 * var(--theme-spacing-unit) );

    // ===========================================
    //     COLORS
    // -------------------------------------------
    --theme-sm-color-1: #{$theme-sm-color-1};
    --theme-sm-color-2: #{$theme-sm-color-2};
    --theme-sm-color-3: #{$theme-sm-color-3};
    --theme-sm-dark-1: #{$theme-sm-dark-1};
    --theme-sm-dark-2: #{$theme-sm-dark-2};
    --theme-sm-dark-3: #{$theme-sm-dark-3};
    --theme-sm-light-1: #{$theme-sm-light-1};
    --theme-sm-light-2: #{$theme-sm-light-2};
    --theme-sm-light-3: #{$theme-sm-light-3};

    --theme-background-color: var(--theme-sm-light-1);
    --theme-text-color: var(--theme-sm-dark-2);

    // ===========================================
    //     TYPOGRAPHY
    // -------------------------------------------

    //     font families
    // -------------------------------------------
    --theme-body-font-family: #{$theme-body-font-family};
    --theme-headings-font-family: #{$theme-headings-font-family};
    --theme-headings-alt-font-family: #{$theme-headings-alt-font-family};

    //     font sizes
    // -------------------------------------------
    --theme-body-font-size: #{$theme-minimum-font-size};
    --theme-content-font-size: #{$theme-content-font-size};
    // ===========================================

    // -------------------------------------------
    //     element spacing
    // -------------------------------------------
    --theme-element-spacing: var(--theme-element-spacing-normal);

    --theme-element-spacing-normal: calc( 0.5 * var(--theme-body-font-size) );
    --theme-element-spacing-large: calc( 2.5 * var(--theme-body-font-size) );
    // ===========================================
}
