/* Global CSS Custom Properties */
:root {
    // ===========================================
    //     COLORS
    // -------------------------------------------
    --theme-color-primary: #{$theme-sm-color-1};
    --theme-color-secondary: #{$theme-sm-color-2};
    --theme-color-tertiary: #{$theme-sm-color-3};
    --theme-dark-primary: #{$theme-sm-dark-1};
    --theme-dark-secondary: #{$theme-sm-dark-2};
    --theme-dark-tertiary: #{$theme-sm-dark-3};
    --theme-light-primary: #{$theme-sm-light-1};
    --theme-light-secondary: #{$theme-sm-light-2};
    --theme-light-tertiary: #{$theme-sm-light-3};

    // ===========================================
    //     TYPOGRAPHY
    // -------------------------------------------

    //     font sizes
    // -------------------------------------------
    --theme-body-font-size: #{$theme-minimum-font-size};
    --theme-content-font-size: #{$theme-content-font-size};
    // ===========================================

    // LAYOUT
    --theme-content-width-normal: calc(38 * var(--theme-content-final-font-size));
    --theme-content-width-wide: calc(65 * var(--theme-content-final-font-size));

    // SPACING
    --theme-spacing: 1rem;

    --theme-spacing-micro:  calc( var( --theme-spacing ) / 4 );
    --theme-spacing-tiny:   calc( var( --theme-spacing ) / 2 );
    --theme-spacing-small:  calc( var( --theme-spacing ) * 2 );
    --theme-spacing-normal: calc( var( --theme-spacing ) * 3 );
    --theme-spacing-large:  calc( var( --theme-spacing ) * 4 );
    --theme-spacing-huge:   calc( var( --theme-spacing ) * 5 );

    @include fluid(--theme-spacing-fluid, 20rem, 0.2rem, 80rem, 1rem );

    --theme-spacing-fluid-micro:  calc( var( --theme-spacing-fluid ) / 4 );
    --theme-spacing-fluid-tiny:   calc( var( --theme-spacing-fluid ) / 2 );
    --theme-spacing-fluid-small:  calc( var( --theme-spacing-fluid ) * 2 );
    --theme-spacing-fluid-normal: calc( var( --theme-spacing-fluid ) * 3 );
    --theme-spacing-fluid-large:  calc( var( --theme-spacing-fluid ) * 4 );
    --theme-spacing-fluid-huge:   calc( var( --theme-spacing-fluid ) * 5 );
}
