/* Global CSS Custom Properties */
:root {

    // LAYOUT
    --theme-content-width-normal: calc(40 * var(--theme-body-font-size));
    --theme-content-width-wide: calc(60 * var(--theme-body-font-size));

    --theme-background-color: var(--sm-light-1);

    // spacing unit
    @include fluid(--theme-spacing, 320px, 0.3rem, $nova-font-size-breakpoint, 0.8rem );

    --theme-spacing-micro:  calc( var( --theme-spacing ) / 4 );
    --theme-spacing-tiny:   calc( var( --theme-spacing ) / 2 );
    --theme-spacing-small:  calc( var( --theme-spacing ) * 2 );
    --theme-spacing-normal: calc( var( --theme-spacing ) * 3 );
    --theme-spacing-large:  calc( var( --theme-spacing ) * 4 );
    --theme-spacing-huge:   calc( var( --theme-spacing ) * 5 );

    // wrapper-side-spacing mixin custom properties
    --theme-wrapper-side-spacing: var( --theme-spacing-normal );

    // ===========================================
    //     COLORS
    // -------------------------------------------
    --sm-color-1: #{$theme-sm-color-1};
    --sm-color-2: #{$theme-sm-color-2};
    --sm-color-3: #{$theme-sm-color-3};
    --sm-dark-1: #{$theme-sm-dark-1};
    --sm-dark-2: #{$theme-sm-dark-2};
    --sm-dark-3: #{$theme-sm-dark-3};
    --sm-light-1: #{$theme-sm-light-1};
    --sm-light-2: #{$theme-sm-light-2};
    --sm-light-3: #{$theme-sm-light-3};

    // ===========================================
    //     TYPOGRAPHY
    // -------------------------------------------

    //     font families
    // -------------------------------------------
    --theme-body-font-family: #{$theme-body-font-family};
    --theme-headings-font-family: #{$theme-headings-font-family};
    --theme-headings-alt-font-family: #{$theme-headings-alt-font-family};

    //     font sizes
    // -------------------------------------------
    --theme-body-font-size: #{$theme-minimum-font-size};
    --theme-content-font-size: #{$theme-content-font-size};
    // ===========================================
}
