/* Global CSS Custom Properties */
:root {
    --content-width-normal: 900px;
    --content-width-wide: 1200px;

    --nova-spacing-unit: 2px;
    --content-side-spacing: calc( 7 * var(--nova-spacing-unit) );

    --nova-y-spacing:  calc( 7 * var(--nova-spacing-unit) );

    --nova-typography-spacing: calc( 3 * var(--nova-spacing-unit) );

    --nova-system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --nova-default-font-family: adelle-sans, sans-serif;
    --nova-body-font-family: var(--nova-default-font-family);
    --nova-headings-font-family: var(--nova-default-font-family);
    --nova-alt-font-family: var(--nova-default-font-family);

    --nova-body-font-size: 16px;
    --nova-content-font-size: 18px;

    @include above(tablet) {
        --nova-spacing-unit: 4px;
    }

    @include above(desktop) {
        --nova-spacing-unit: 8px;
    }
}
