

/* Global CSS Custom Properties */
:root {

    // LAYOUT

    // spacing unit
    --nova-spacing-unit: 8px;

    // content width
    --nova-content-width-normal: 900px;
    --nova-content-width-wide: 1200px;

    //
    --nova-wrapper-side-spacing: calc( 7 * var(--nova-spacing-unit) );

    //
    --nova-x-spacing: calc( 7 * var(--nova-spacing-unit) );
    --nova-y-spacing: calc( 7 * var(--nova-spacing-unit) );


    // TYPOGRAPHY

    // font families
    --nova-body-font-family: adelle-sans, sans-serif;
    --nova-headings-font-family: adelle-sans, sans-serif;

    // font sizes
    --nova-body-font-size: 16px;
    --nova-content-font-size: 18px;

    // element spacing
    --nova-element-spacing-normal: calc( 3 * var(--nova-spacing-unit) );
    --nova-element-spacing-large: calc( 6 * var(--nova-spacing-unit) );

    --nova-element-spacing: var(--nova-element-spacing-normal);
}
