// COLORS
$theme-sm-color-1: #DDAB5D;
$theme-sm-color-2: #39497C;
$theme-sm-color-3: #B12C4A;

$theme-sm-dark-1: #212B49;
$theme-sm-dark-2: #34394B;
$theme-sm-dark-3: #141928;

$theme-sm-light-1: #FFFFFF;
$theme-sm-light-2: #CCCCCC;
$theme-sm-light-3: #EEEFF2;

// TYPOGRAPHY

// font families
$theme-sm-font-body: Reforma1969, sans-serif;
$theme-sm-font-primary: Reforma1969, sans-serif;
$theme-sm-font-secondary: Reforma2018, sans-serif;
$theme-sm-font-accent: Billy Ohio, sans-serif;

// fluid typography settings

// these variables must be set in px
$theme-minimum-font-size: 8px;
$nova-font-size-breakpoint: 1440px;
$nova-font-size-minimum-value-breakpoint: 320px;

// use the --theme-font-size-slope-adjust variable to alter the slope of the resulted function
// in such a way that when this variable equals 0, the slope of the function results to also 0
// and the font sizes stay the same no matter the viewport
$theme-font-size-slope-adjust: 0.4;
$theme-font-size-slope-adjust-desktop: 0.6;

// use a multiplier variable to control how much of that unit is added to the font size at any given time
// on mobile devices the font size addon is set to 0 by default 0 so nothing is added to the resulted font sizes
$theme-font-size-addon-multiplier-desktop: 0.4;

// LAYOUT

// these variables must be set in em
$theme-content-width-normal: 38em;
$theme-content-width-wide: 65em;

// BUTTONS
$theme-button-x-padding: 1.5em;
$theme-button-y-padding: 0.75em;

$theme-button-transition-duration: .4s;
$theme-button-transition-easing: $ease;

$theme-button-border-width: 2px;
$theme-button-border-style: solid;
$theme-button-border-radius: 0;

$theme-button-text-color: var(--current-light-primary);
$theme-button-background-color: var(--current-dark-primary);
$theme-button-border-color: var(--current-dark-primary);

$theme-button-hover-text-color: var(--current-dark-primary);
$theme-button-hover-background-color: transparent;
$theme-button-hover-border-color: var(--current-dark-primary);

$theme-button-text-arrow-size: 1.15em;

// Extra
$theme-lap-breakpoint: 1000px;
