
@mixin button {
    display: inline-block;
    padding: var(--nova-button-padding);

    border: var(--nova-button-border-width) solid var(--nova-button-border-color);
    border-radius: var(--nova-button-border-radius);

    @include nova-h5-font;

    &:not(.has-background) {
        background-color: var(--nova-button-background-color);

        &:hover {
            background-color: var(--nova-button-hover-background-color);
        }
    }

    &:not(.has-text-color) {
        color: var(--nova-button-color);

        &:hover {
            color: var(--nova-button-hover-color);
        }
    }
}

.wp-block-button__link {
    @include button;
}

.wp-block-button {
    --nova-button-background-color: var(--nova-color-2);
    --nova-button-color: var(--nova-dark-3);
    --nova-button-border-color: var(--nova-color-2);

    --nova-button-hover-background-color: var(--nova-color-2);
    --nova-button-hover-color: var(--nova-dark-3);
    --nova-button-hover-border-color: var(--nova-color-2);

    --nova-button-border-width: 2px;
    --nova-button-border-radius: 999em;

    --nova-button-y-padding: calc( 2 * var(--nova-spacing-unit) );
    --nova-button-x-padding: calc( 4 * var(--nova-spacing-unit) );
    --nova-button-padding: var(--nova-button-y-padding) var(--nova-button-x-padding);

    &.is-style-squared {
        --nova-button-border-radius: 0;
    }

    &.is-style-outline {
        --nova-button-background-color: transparent;
        --nova-button-color: currentColor;
        --nova-button-border-color: currentColor;

        --nova-button-hover-background-color: transparent;
        --nova-button-hover-color: currentColor;
        --nova-button-hover-border-color: currentColor;
    }
}
