.archive,
.blog,
.search {

    .novablocks-media__inner-container {
        text-align: center;
    }

    .entry-header {
        padding-bottom: 0;
    }
}

.novablocks-media--blog {
    --novablocks-media-content-box-shadow: none;
}

.novablocks-media--no-thumbnail {
    .novablocks-media__image {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--current-light-primary);

        path {
            fill: var(--current-color-primary);
        }
    }
}
