.archive,
.blog {

    .novablocks-media__inner-container {
        text-align: center;
    }

    .entry-header {
        padding-bottom: 0;
    }
}

article {
    .wp-block-button {
        margin-bottom: 0;
    }

    .novablocks-media__inner-container {
        background-color: var(--sm-light-1);
    }

    .novablocks-media__image {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--sm-light-1);

        path {
            fill: var(--sm-color-1);
        }
    }
}
