.novablocks-sharing__overlay {
    @include variation(dark);
    @include apply-font(body);
    
    --nb-spacing: var(--theme-spacing-fluid-large);
    --novablocks-sharing-overlay-spacing: 1em;
    
    .novablocks-sharing__wrap {
        
        @include specific(3) {
            transition: all .4s cubic-bezier(.25, .1, .26, .99);
        }
    }
    
    &[class]:not(.is-visible) {
        display: block;
        pointer-events: none;
    
        visibility: hidden;
        
        .novablocks-sharing__wrap {
            opacity: 0;
            transform: translate3d(0, -0.8625em, 0);
        }
    }
    
    .novablocks-sharing__copy-input {
        transition: none;
    }
}

.novablocks-sharing__link {

    @include specific(1) {
        padding: calc( var(--theme-input-padding) / 2) calc( var(--theme-input-padding) * 3 / 4);
    }
}

.novablocks-sharing__copy-input,
.novablocks-sharing__list {

    @include specific(1) {
        border-radius: 0.25em;
    }
}

.novablocks-sharing__group-title {
    @include apply-font(body);
}

.novablocks-sharing[class] {
    background: none;
}

.novablocks-sharing__link-label {
    @include apply-font(button);
}
