.novablocks-sharing__overlay {
    @include variation(dark);
    @include apply-font(body);
    
    --novablocks-spacing: var(--theme-spacing-fluid-large);
    
    &[class] {
        z-index: 1001;
    }
    
    .novablocks-sharing__wrap {
        
        @include specific(3) {
            transition: all .4s cubic-bezier(.25, .1, .26, .99);
        }
    }
    
    &[class]:not(.is-visible) {
        display: block;
        pointer-events: none;
    
        visibility: hidden;
        
        .novablocks-sharing__wrap {
            opacity: 0;
            transform: translate3d(0, -0.8625em, 0);
        }
    }
    
    .novablocks-sharing__copy-input {
        transition: none;
    }
}

.novablocks-sharing__link {

    @include specific(1) {
        padding: calc( var(--theme-input-padding) / 2) calc( var(--theme-input-padding) * 3 / 4);
    }

    .novablocks-sharing__group--copy-link & {
        background-color: var(--sm-current-accent-color);
        color: var(--sm-current-bg-color);
    }
}

.novablocks-sharing__copy-input,
.novablocks-sharing__list {

    @include specific(1) {
        border-radius: 0.25em;
    }
}

.novablocks-sharing__copy-input {
    
    @include specific(2) {
        --theme-input-box-shadow: none;
    }
}
