html:root {
	--nb-wide-width: var(--theme-content-width-wide);
	--nb-container-spacings: var(--theme-wrapper-sides-spacing);
}

body:not(.has-sidebar) {
	--block-limit-left: cs;
	--block-limit-right: ce;
	
	.entry-content {
		
		> *:not([class*='align']) {
			--block-content-start: cs;
		}
	}
	
	.article-header {
		grid-column: var(--all-columns);
	}
}

.single.has-sidebar {
	.entry-content,
	.article-navigation,
	.article-comments {
		
		@include specific(3) {
			--block-content-start: ws;
		}
	}
}

.novablocks-sidecar {
	--sticky-element-top-spacing: calc( var(--site-header-height, 0px) + var(--admin-bar-height, 0px) )
}

.wp-block-group__inner-container {
	font-size: var(--current-font-size);
}
