html:root {
		--novablocks-wide-width: calc(var(--theme-content-width-wide));
		--novablocks-content-width: var(--theme-content-width-normal);
}

.entry-content {
	.novablocks-layout {
		
		.novablocks-sidebar--large * {
			--font-size-modifier: 0.9;
		}
		
		.novablocks-layout {
			@include below(lap) {
				padding-left: 0;
				padding-right: 0;
			}
			
			.novablocks-sidebar:not([class*='large']) * {
				--font-size-modifier: 0.75;
			}
		}
	}
}

.novablocks-content .novablocks-sidebar * {
	--font-size-modifier: 0.9;
}
