@import 'settings';

body {
	--sidebar-offset-multiplier: var(--theme-customify-fluid-unit);
	--offset-addon: var(--theme-offset-width-addon);
}

.novablocks-sidebar {
	
	* {
		font-size: var(--final-font-size);
	}
	
	.widget-area {
		@include space-children-y( var(--theme-spacing-fluid-small) );
	}
	
	.widget {
		@include space-children-y( var(--theme-spacing-fluid-small) );
	}
	
	.children {
		
		&,
		> li + li {
			--element-spacing: var(--theme-spacing-tiny);
			margin-top: var(--element-spacing);
		}
	}
	
	select {
		--font-size: 16;
	}
	
	.has-background:not([class*="wp-block-button"]) {
		padding: var(--theme-spacing-fluid-xsmall);
	}
	
	[class*="__inner-container"] {
		padding: 0;
	}
	
	label {
		flex-direction: column;
		align-items: flex-start;
	}
	
	input[type="submit"] {
		margin-top: var(--theme-spacing-default);
	}
	
	[class*='has-sm-dark'] {
		--theme-input-overlay-shadow: inset 0px 0px 0px 0px rgba(var(--opacity-color), 0.70);
	}
}


.novablocks-content {
	
	> .alignleft,
	> .alignright,
	> [data-align],
	> [class*='pull'],
	> [data-novablocks-alignment] {
		
		* {
			--font-size-modifier: 0.75;
		}
		
	}
}

.novablocks-sidebar {
	
	* {
		--font-size-modifier: 0.75;
	}
	
	form,
	input,
	button,
	select {
		--font-size-modifier: 1;
	}
}

.novablocks-sidebar--large {
	
	> .novablocks-sidebar {
		
		* {
			--font-size-modifier: 0.85;
		}
	}
}

.novablocks-sidecar {
	
	.novablocks-sidecar {
		
		.novablocks-collection {
			
			&.block-is-basic {
				
				> [class*="__inner-container"] {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}
