@import 'settings';

:root {
	--theme-content-width-wide-new: calc(var(--theme-content-width-wide-addon-new) * var(--theme-body-final-font-size));
}

.no-sidebar {
	--theme-offset-width: calc( var(--theme-offset-width-addon-new) * var(--theme-body-final-font-size));
}

.novablocks-sidebar * {
	font-size: var(--final-font-size);
}

.novablocks-sidebar {
	
	* {
		--font-size-modifier: 0.75;
	}
}

.novablocks-sidebar--large {
	
	> .novablocks-sidebar {
		
		* {
			--font-size-modifier: 0.85;
		}
	}
}

.novablocks-sidecar {
	
	.novablocks-sidecar {
		
		.novablocks-collection {
			
			&.block-is-basic {
				
				> [class*="__inner-container"] {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}
