.wp-block-novablocks-navigation[class] {

    .menu {
        padding-top: 0;

        > li {
            margin-left: 0;

            a {
                display: flex;
            }
        }
    }
}
