.wp-block-novablocks-navigation[class] {

    .menu {
        padding-top: 0;

        > li {
            margin-left: var(--theme-header-links-spacing);
            
            a {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
