.wp-block-novablocks-navigation {

    .menu {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;

        > li {
            
            a {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
