@mixin navigation-item-with-hover-animation {
    position: relative;

    > a {

        &:before {
            content: '';

            position: absolute;
            bottom: var(--nb-navigation-item-bottom-margin); // Margin bottom applied on header links

            width: 100%;
            height: var(--theme-navigation-links-border-weight);

            background: currentColor;

            transform: scale3d(0, 1, 1);
            transform-origin: right;

            transition: var(--nb-transition);
            transition-property: transform;

            will-change: transform;
            -webkit-backface-visibility: hidden;
        }

        &:hover:before {
            transform: scale3d(1, 1, 1);
            transform-origin: left;
        }
    }

    &.menu-item-has-children > a:before {
        width: calc(100% - 1.25em);
        right: 1.25em;
    }
}

@mixin navigation-item-with-active-state {

    > a {

        &:before {
            transform: scale3d(1, 1, 1);
            transform-origin: left;
        }

        &:hover:before {
            transform: scale3d(0, 1, 1);
            transform-origin: right;
        }
    }
}

@mixin navigation-item-is-external-link {
    position: relative;

    > a:after {
        content: "";
        position: absolute;
        right: auto;

        width: 0;
        height: 0;
        margin-left: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid currentColor;

        transform: rotate(45deg);
        opacity: .5;
    }
}

@mixin navigation-item-is-cta-button {
    display: flex;
    align-items: center;

    > a {
        // Apply button properties
        @include button-box;
        @include button-background;
        @include button-color;
        @include apply-font(button);
        @include button-fill;

        transition: var(--theme-button-transition);

        // Overwrite default button colors
        --current-button-background-color: var(--theme-button-background-color);
        --current-button-border-color: var(--theme-button-border-color);
        --current-button-text-color: var(--theme-button-text-color);
        --current-button-transition: var(--theme-button-transition);

        margin-bottom: 0;

        @include below(lap) {
            width: 100%;
            margin: .75em 0;

            text-align: center;
        }

        &:hover {
            // Overwrite default button hover colors
            --current-button-background-color: var(--theme-button-hover-background-color);
            --current-button-border-color: var(--theme-button-hover-border-color);
            --current-button-text-color: var(--theme-button-hover-text-color);
            --current-button-transition: var(--theme-button-hover-transition);
        }
    }
}
