.wp-block-novablocks-navigation {

    @include above(lap) {
        --font-size: 18;
        --novablocks-navigation-item-bottom-margin: .5em;

        ul.menu,
        .menu > ul {

            a {
                display: block;
                color: inherit;
                text-decoration: none;
            }

            .customize-partial-edit-shortcut + > li:not(:first-child) {
                margin-left: 0;
            }

            > li > a {
                padding-bottom: calc( var(--novablocks-navigation-item-padding-y) - var(--novablocks-navigation-item-bottom-margin) );
                margin-bottom: var(--novablocks-navigation-item-bottom-margin);
            }

            li:hover {

                > a {
                    border-color: currentColor;

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .sub-menu,
        .children {

            li a {
                border: 0;
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }
    }
}
