@import "mixins";

.novablocks-navigation {
    --theme-button-y-padding: .25em;
    --theme-button-x-padding: 1em;

    --theme-button-text-color: var(--sm-current-bg-color);
    --theme-button-background-color: var(--sm-current-fg1-color);
    --theme-button-border-color: var(--sm-current-fg1-color);

    --theme-button-hover-text-color: var(--sm-current-fg1-color);
    --theme-button-hover-background-color: transparent;
    --theme-button-hover-border-color: var(--sm-current-fg1-color);

    > ul.menu,
    > .menu > ul {

        @include above(lap) {

            > li:not(.social-menu-item):not([class*="weglot"]):not(.is-cta-button):not(.icon-only) {
                @include navigation-item-with-hover-animation;
            }

            > li[class*="current"]:not(.menu-item-home) {
                @include navigation-item-with-active-state;
            }
        }
    }
}

.novablocks-navigation {

    ul.menu,
    .menu > ul {

        // External Link
        > .is-external-link {
            @include navigation-item-is-external-link;
        }

        // CTA Button
        > .is-cta-button {
            @include navigation-item-is-cta-button;
        }
    }
}

.novablocks-navigation {

    @include below(lap) {
        --font-size: 18;
    }

    @include above(lap) {
        --novablocks-navigation-item-bottom-margin: .5em;

        ul.menu,
        .menu > ul {

            a {
                display: block;
                color: inherit;
                text-decoration: none;
            }

            .customize-partial-edit-shortcut + > li:not(:first-child) {
                margin-left: 0;
            }

            > li > a {
                padding-bottom: calc( var(--novablocks-navigation-item-padding-y) - var(--novablocks-navigation-item-bottom-margin) );
                margin-bottom: var(--novablocks-navigation-item-bottom-margin);
            }

            li:hover {

                > a {
                    border-color: currentColor;

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .sub-menu,
        .children {

            li a {
                border: 0;
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }
    }
}
