<!-- wp:template-part {"slug":"header","theme":"anima","tagName":"header"} /-->

<!-- wp:novablocks/sidecar {"blockTopSpacing":0,"emphasisTopSpacing":2,"emphasisBottomSpacing":2,"useSourceColorAsReference":true,"colorSignal":1} -->
<!-- wp:novablocks/sidecar-area -->
<!-- wp:heading {"textAlign":"center","level":1,"align":"wide","className":"has-larger-font-size","fontSize":"larger"} -->
<h1 class="alignwide has-text-align-center has-larger-font-size" id="looks-like-you-ve-stumbled-into-nowhere">Looks like you've stumbled into nowhere.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center has-normal-font-size">It seems we can’t find what you’re looking for. Perhaps searching can help.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->
<!-- /wp:novablocks/sidecar-area -->
<!-- /wp:novablocks/sidecar -->
