<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:novablocks/sidecar {blockTopSpacing":0} -->
<!-- wp:novablocks/sidecar-area -->
<!-- wp:query {"queryId":1,"query":{"perPage":6,"pages":1,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"exclude","inherit":true}} -->
<div class="wp-block-query break-align-left break-align-right"><!-- wp:novablocks/supernova {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","contentType":"auto","showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"containerHeight":45} -->
<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","defaultsGenerated":true,"lock":{"remove":true,"move":true},"showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"images":[],"stylePreset":"just-my-style","positionShift":75,"elementsDistance":40,"placementVariation":50,"containerHeight":45} /-->

<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","defaultsGenerated":true,"lock":{"remove":true,"move":true},"showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"images":[],"stylePreset":"just-my-style","positionShift":95,"elementsDistance":60,"placementVariation":50,"containerHeight":45} /-->

<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","defaultsGenerated":true,"lock":{"remove":true,"move":true},"showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"images":[],"stylePreset":"just-my-style","sizeContrast":40,"positionShift":15,"elementsDistance":80,"placementVariation":75,"containerHeight":45} /-->

<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","defaultsGenerated":true,"lock":{"remove":true,"move":true},"showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"images":[],"stylePreset":"just-my-style","positionShift":75,"placementVariation":75,"containerHeight":45} /-->

<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","defaultsGenerated":true,"lock":{"remove":true,"move":true},"showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"images":[],"stylePreset":"just-my-style","positionShift":80,"elementsDistance":100,"containerHeight":45} /-->

<!-- wp:novablocks/supernova-item {"defaultsGenerated":true,"lock":{"remove":true,"move":true},"showCollectionTitle":false,"showCollectionSubtitle":false,"showMeta":true,"contentPosition":"top left","layoutStyle":"classic","columns":3,"gridGap":60,"blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":1,"layoutGutter":10,"images":[],"stylePreset":"just-my-style","sizeContrast":80,"positionShift":50,"elementsDistance":100,"placementVariation":75,"containerHeight":45} /-->
<!-- /wp:novablocks/supernova -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query -->
<!-- /wp:novablocks/sidecar-area -->
<!-- /wp:novablocks/sidecar -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
