<!-- wp:template-part {"slug":"header","theme":"anima","tagName":"header"} /-->

<!-- wp:group {"blockTopSpacing":0,"emphasisBottomSpacing":2,"paletteVariation":2,"colorSignal":1,"contentPaletteVariation":2} -->
<div class="wp-block-group sm-palette-1 sm-variation-2 sm-color-signal-1" style="--nb-emphasis-top-spacing:0;--nb-emphasis-bottom-spacing:2;--nb-block-top-spacing:0;--nb-block-bottom-spacing:0;--nb-block-zindex:0;--nb-card-content-area-width:50%;--nb-card-media-container-height:50px;--nb-card-content-padding-multiplier:0;--nb-card-media-padding-top:100%;--nb-card-media-object-fit:cover;--nb-card-media-padding-multiplier:0;--nb-card-layout-gap-modifier:0;--nb-minimum-container-height:0vh;--nb-spacing-modifier:1;--nb-spacing-multiplier-override:1;--nb-emphasis-area:100px" data-palette="1" data-palette-variation="2" data-color-signal="1"><!-- wp:novablocks/sidecar {"sidebarPosition":"right","paletteVariation":2,"contentPaletteVariation":2} -->
		<!-- wp:novablocks/sidecar-area -->
		<!-- wp:heading {"level":3} -->
		<h3 class="has-normal-font-size" id="h-search-results">Search results</h3>
		<!-- /wp:heading -->

		<!-- wp:search {"label":"","buttonText":"Search"} /-->
		<!-- /wp:novablocks/sidecar-area -->

		<!-- wp:novablocks/sidecar-area {"areaName":"sidebar"} /-->
		<!-- /wp:novablocks/sidecar --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":1,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"exclude","inherit":true},"displayLayout":{"type":"list"},"className":"break-align-left break-align-right"} -->
<div class="wp-block-query break-align-left break-align-right"><!-- wp:novablocks/supernova {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","contentType":"auto","cardTitleLevel":2,"primaryMetadata":"date","secondaryMetadata":"reading-time","showCollectionTitle":false,"showCollectionSubtitle":false,"showMedia":false,"showButtons":false,"showMeta":true,"contentPosition":"top left","cardLayout":"horizontal","thumbnailAspectRatioString":"portrait","blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":2,"contentAreaWidth":70,"layoutGutter":50} -->
		<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","lock":{"remove":true,"move":true},"cardTitleLevel":2,"primaryMetadata":"date","secondaryMetadata":"reading-time","showCollectionTitle":false,"showCollectionSubtitle":false,"showMedia":false,"showButtons":false,"showMeta":true,"contentPosition":"top left","cardLayout":"horizontal","thumbnailAspectRatioString":"portrait","blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":2,"contentAreaWidth":70,"layoutGutter":50} /-->

		<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","lock":{"remove":true,"move":true},"cardTitleLevel":2,"primaryMetadata":"date","secondaryMetadata":"reading-time","showCollectionTitle":false,"showCollectionSubtitle":false,"showMedia":false,"showButtons":false,"showMeta":true,"contentPosition":"top left","cardLayout":"horizontal","thumbnailAspectRatioString":"portrait","blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":2,"contentAreaWidth":70,"layoutGutter":50} /-->

		<!-- wp:novablocks/supernova-item {"title":"Fresh posts from the grid","subtitle":"A collection of our latest articles.","lock":{"remove":true,"move":true},"cardTitleLevel":2,"primaryMetadata":"date","secondaryMetadata":"reading-time","showCollectionTitle":false,"showCollectionSubtitle":false,"showMedia":false,"showButtons":false,"showMeta":true,"contentPosition":"top left","cardLayout":"horizontal","thumbnailAspectRatioString":"portrait","blockTopSpacing":0,"emphasisTopSpacing":1,"emphasisBottomSpacing":2,"contentAreaWidth":70,"layoutGutter":50} /-->
		<!-- /wp:novablocks/supernova -->

		<!-- wp:query-pagination -->
		<!-- wp:query-pagination-previous /-->

		<!-- wp:query-pagination-numbers /-->

		<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"anima","tagName":"footer"} /-->
