<!-- wp:template-part {"slug":"header","theme":"anima","tagName":"header"} /-->

<!-- wp:group {"blockTopSpacing":0,"spacingMultiplierOverride":2} -->
<div class="wp-block-group sm-palette-1 sm-variation-1 sm-color-signal-0" style="--nb-emphasis-top-spacing:0;--nb-emphasis-bottom-spacing:0;--nb-block-top-spacing:0;--nb-block-bottom-spacing:0;--nb-block-zindex:0;--nb-card-content-area-width:50%;--nb-card-media-container-height:50px;--nb-card-content-padding-multiplier:0;--nb-card-media-padding-top:100%;--nb-card-media-object-fit:cover;--nb-card-media-padding-multiplier:0;--nb-card-layout-gap-modifier:0;--nb-minimum-container-height:0vh;--nb-spacing-modifier:1;--nb-spacing-multiplier-override:2;--nb-emphasis-area:100px" data-palette="1" data-palette-variation="1" data-color-signal="0"></div>
<!-- /wp:group -->

<!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->

<!-- wp:template-part {"slug":"footer","theme":"anima","tagName":"footer"} /-->