<!-- wp:template-part {"slug":"header","theme":"anima","tagName":"header"} /-->

<!-- wp:novablocks/sidecar {"sidebarWidth":"medium","sidebarPosition":"right"} -->
<!-- wp:novablocks/sidecar-area -->
<!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
<div class="wp-block-group break-align-left break-align-right sm-palette-1 sm-variation-1 sm-color-signal-0" style="--nb-emphasis-top-spacing:0;--nb-emphasis-bottom-spacing:0;--nb-block-top-spacing:1;--nb-block-bottom-spacing:0;--nb-block-zindex:0;--nb-card-content-area-width:50%;--nb-card-media-container-height:50px;--nb-card-content-padding-multiplier:0;--nb-card-media-padding-top:100%;--nb-card-media-object-fit:cover;--nb-card-media-padding-multiplier:0;--nb-card-layout-gap-modifier:0;--nb-minimum-container-height:0vh;--nb-spacing-modifier:1;--nb-emphasis-area:100px" data-palette="1" data-palette-variation="1" data-color-signal="0"><!-- wp:post-author-name /-->

<!-- wp:post-date /-->

<!-- wp:novablocks/sharing-overlay /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"align":"wide"} /-->

<!-- wp:post-content /-->

<!-- wp:comments-query-loop -->
<div class="wp-block-comments-query-loop break-align-left break-align-right"><!-- wp:comment-template -->
<!-- wp:comment-author-avatar /-->

<!-- wp:comment-author-name /-->

<!-- wp:comment-date /-->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link /-->

<!-- wp:comment-edit-link /-->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination --></div>
<!-- /wp:comments-query-loop -->
<!-- /wp:novablocks/sidecar-area -->

<!-- wp:novablocks/sidecar-area {"areaName":"sidebar"} -->
<!-- wp:search {"label":"Search","buttonText":"Search"} /-->

<!-- wp:latest-posts {"displayPostDate":true} /-->
<!-- /wp:novablocks/sidecar-area -->
<!-- /wp:novablocks/sidecar -->

<!-- wp:template-part {"slug":"footer","theme":"anima","tagName":"footer"} /-->