<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"blockTopSpacing":0,"blockBottomSpacing":-3,"emphasisBottomSpacing":3,"spacingMultiplierOverride":4,"paletteVariation":2,"colorSignal":1,"contentPaletteVariation":2} -->
<div class="wp-block-group sm-palette-1 sm-variation-2 sm-color-signal-1" style="--nb-emphasis-top-spacing:0;--nb-emphasis-bottom-spacing:3;--nb-block-top-spacing:0;--nb-block-bottom-spacing:-3;--nb-block-zindex:3px;--nb-card-content-area-width:50%;--nb-card-media-container-height:50px;--nb-card-content-padding-multiplier:0;--nb-card-media-padding-top:100%;--nb-card-media-object-fit:cover;--nb-card-media-padding-multiplier:0;--nb-card-layout-gap-modifier:0;--nb-minimum-container-height:0vh;--nb-spacing-modifier:1;--nb-spacing-multiplier-override:4;--nb-emphasis-area:100px" data-palette="1" data-palette-variation="2" data-color-signal="1"></div>
<!-- /wp:group -->

<!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_tag"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
