.woocommerce-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-left: -1.5em;
    list-style: none;

    > * {
        margin-left: 1.5em;
    }


    a {
        color: var(--sm-current-fg2-color);
        padding-bottom: .5em;
        padding-top: .5em;

        text-decoration: none;

        border-bottom: .1em solid transparent;

        &.active {
            color: var(--sm-current-accent-color);
            border-bottom: .1em solid currentColor;
        }

        &:hover {
            color: var(--sm-current-accent-color);
            border-bottom: .1em solid currentColor;
        }
    }

    li {
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.woocommerce {

    .woocommerce-ordering,
    .woocommerce-result-count {
        margin-bottom: 0;
    }
    
    .woocommerce-ordering {
        margin-top: calc( var(--nb-block-top-spacing) * var(--nb-spacing) * var(--nb-element-spacing-multiplier, 1));
    }
    
    .woocommerce-result-count {
        margin-top: auto;
    }
    
    .site {
        overflow: hidden;
    }
}

.woocommerce,
.woocommerce-page  {
    
    img {
        width: 100%
    }
}

.woocommerce-categories[class] {
    line-height: 1;
}

.woocommerce-products-header {
    margin-bottom: var(--theme-spacing-large);
    
    --block-content-start: ws !important;
    --block-content-end: we !important;
}

.woocommerce-result-count {
    --block-content-start: ws !important;
    --block-content-end: gcs !important;
    
    margin-top: auto;
}

.woocommerce-ordering {
    --block-content-start: gce !important;
    --block-content-end: we !important;
}

.woocommerce-products-header__title:empty {
    display: none;
}

.woocommerce-products-header__title {
    text-align: center;
    margin-bottom: var(--theme-spacing-normal);
}

.woocommerce-ordering {

    @include below(tablet) {
        width: 100%;
    }

    select {
        color: var(--sm-current-fg1-color);

        @include select;

        padding: var(--theme-spacing-smallest) 0;
        background-position: calc(100% - var(--select-icon-size)) center, 100% center;

        border: 0;
        border-bottom: .1875em solid currentColor;
        border-radius: 0;

        line-height: 1.3;

        width: 100%;

        box-shadow: none;

        @include below(tablet) {
            border: 1px solid var(--sm-current-bg-color);
            padding: var(--theme-spacing);
        }
    }
}

.product-category {
    &:hover {
        img {
            transform: translateY(-10px);
        }
        
        .woocommerce-loop-category__title {
            transform: translateY(10px);
        }
    }
    
    img,
    .woocommerce-loop-category__title {
        transition: transform .25s $easeOutQuad;
    }
}

.woocommerce-loop-product__link {
    display: block;
    text-decoration: none;
    
    .wc-block-grid__product-onsale {
        @include specific(2) {
            transform: none;
        }
    }
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    @include apply-font(heading-4);
    color: var(--sm-current-fg1-color);
    margin-top: var(--theme-spacing-smallest);
}

.woocommerce-result-count {
    --block-content-end: gcs;
}

.woocommerce-ordering {
    
    --block-content-start: gce;
    
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 0;
    
    select {
        width: auto;
    }
}
