.woocommerce-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-left: -1.5em;
    list-style: none;

    > * {
        margin-left: 1.5em;
    }


    a {
        color: var(--sm-current-fg2-color);
        padding-bottom: .5em;
        padding-top: .5em;

        text-decoration: none;

        border-bottom: .1em solid transparent;

        &.active {
            color: var(--sm-current-accent-color);
            border-bottom: .1em solid currentColor;
        }

        &:hover {
            color: var(--sm-current-accent-color);
            border-bottom: .1em solid currentColor;
        }
    }

    li {
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.woocommerce {

    .woocommerce-ordering,
    .woocommerce-result-count {
        margin-bottom: 0;
    }
    
    .woocommerce-ordering {
        --nb-block-top-spacing: 0;

        @include above(tablet) {
            width: auto;
        }
    }
    
    .woocommerce-result-count {
        margin-top: auto;

        padding: calc(0.833em - 0.15em) 0; // in-sync with select ordering input from the right
    }
    
    .site {
        overflow: hidden;
    }
}

.woocommerce-categories[class] {
    line-height: 1;
}

.woocommerce-products-header {
    margin-bottom: var(--theme-spacing-large);
    
    --block-content-start: ws !important;
    --block-content-end: we !important;
}



// [Results count] + [Ordering select]
.woocommerce-result-count,
.woocommerce-ordering {
    --block-content-start: ws;
    --block-content-end: we;
}

.woocommerce-result-count {
    @include apply-font(input);

    @include above(tablet) {
        --block-content-end: gcs;
    }  
}

.woocommerce-ordering {
    justify-self: flex-end;

    @include above(tablet) {
        --block-content-start: gce;
    }

    @include below(tablet) {
        width: 100%;
    }

    select {
       --theme-input-padding: calc(0.833em - 0.15em); // 0.833em is the default
    }
}



.woocommerce-products-header__title:empty {
    display: none;
}

.woocommerce-products-header__title {
    text-align: center;
    margin-bottom: var(--theme-spacing-normal);
}

.product-category {
    &:hover {
        img {
            transform: translateY(-10px);
        }
        
        .woocommerce-loop-category__title {
            transform: translateY(10px);
        }
    }
    
    img,
    .woocommerce-loop-category__title {
        transition: transform .25s $easeOutQuad;
    }
}

.woocommerce-loop-product__link {
    display: block;
    text-decoration: none;
    
    .wc-block-grid__product-onsale {
        @include specific(2) {
            transform: none;
        }
    }
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    @include apply-font(heading-4);
    color: var(--sm-current-fg1-color);
    margin-top: var(--theme-spacing-smallest);
}

.woocommerce-result-count {
    // --block-content-end: gcs;
    // @include apply-font(input);
}


