.woocommerce-cart {

  @include specific(2) {
    .entry-title {
      max-width: none;
    }

    .entry-header {
      padding-bottom: var(--theme-spacing-normal);
    }
  }

  .promo-bar {
    display: none;
  }
  
  .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td {
    text-align: left !important;
  }
  
  .nb-sidecar-area > .woocommerce {
    --block-content-start: ws !important;
    --block-content-end: we !important;
  }
}

.woocommerce table.shop_table {
  border: 0;

  th, td {
    padding: var(--theme-spacing-smaller) 0;

    @include above(tablet) {
      padding: var(--theme-spacing-small);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  td.actions {
    @include below(tablet) {
      padding-left: 0;
      padding-right: 0;
    }
    
    @include above(tablet) {
      button[name='update_cart'] {
        margin-left: var(--theme-spacing-fluid-smallest);
      }
    }
  }
}

.woocommerce-cart table.cart {
  margin-bottom: var(--theme-spacing--huge);
  
  // --current-font-family: var(--theme-heading-4-font-family);

  td.product-name {

    a {
      border-bottom: 0;
      text-decoration: none;
    }
  }

  .product-thumbnail a {
    box-shadow: none;
    border-bottom: 0;
    background: none;
  }

  .product-remove {

    a {
      width: auto;
      color: inherit !important;
      background: none;
      text-align: left;
    }
  }

  a {
    display: block;
  }

  .product-thumbnail {
    width: calc(5 * var(--theme-spacing));

    img {
      display: block;
      width: 100%;
    }
  }

  .coupon {
    // display: flex;
    // align-items: stretch;
  }
}

.shop_table {

  .woocommerce-checkout-review-order[class][class][class] & {
    tr {
      display: flex;
      justify-content: space-between;

      &:not(.order-total) {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: var(--sm-current-fg2-color);
          opacity: .2;
        }
      }
    }

    td, th {
      border: 0;
      @include above(tablet) {

        &:first-child {
          padding-left: 0;
        }
      }

      &:last-child {
        padding-right: 0;
        text-align: right;
      }
    }
  }

  td {
    white-space: inherit;
    @include below(tablet) {
      background-color: transparent !important;
    }
  }

  tr {
    border: 0;
  }

  @include specific(3) {
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    margin-bottom: 0;

    .cart-collaterals & {
      border-bottom: 0;
    }


  }

  &[class] #shipping_method li {
    margin-bottom: var(--theme-spacing);
  }

  .cart-subtotal,
  .order-total {
    td:last-child {
      text-align: right;
    }
  }

  .variation {
    font-size: .85em;

    dl, dd {
      font-size: 1em;

      p {
        font-weight: 400;
      }
    }

    dt, dl {
      font-weight: 400;
    }
  }

  &[class*="review-order-table"] {
    .variation {
      font-size: .55em;

      dd,
      dt {
        span {
          font-size: inherit;
          font-weight: inherit;
        }
      }
    }
  }
  
  .quantity label {
    display: none;
  }
}

.cart_totals .checkout-button {
  @include specific(3) {
    display: block;
  }
}

.woocommerce-cart .wc-proceed-to-checkout {
  padding: 0;
}

.woocommerce-cart #content table.cart[class] .coupon {
  .input-text {
    width: 13em;
  }
}

.shipping-calculator-button {
  opacity: 0.5;

  @include specific(2) {
    &:after {
      content: none;
    }
  }
}

.woocommerce-cart-form + .cart-collaterals {
  margin-top: var(--theme-spacing-larger);

  @include above(tablet) {
    margin-top: var(--theme-spacing-largest);
  }
}

.woocommerce-cart-form {
  @include specific(5) {
    .button:disabled {
      cursor: not-allowed;
    }

    .coupon {
      button {
        overflow: visible !important;
      }
    }
  }
  
  a {
    color: currentColor;
  }

  .quantity .quantity__wrapper {
    justify-content: flex-end;
    
    button {
      cursor: pointer;
    }
  }
  
  // Actions row: Coupon code + Apply Coupon + Update Cart
  .actions {
    
    button[type="submit"] {
      // --font-size: var(--theme-input-font-size) !important;
      // line-height: 1.15 !important;
    }
  }
}

.woocommerce-cart .actions .coupon {

  &:before, &:after {
    content: none !important;
  }

  @include specific(2) {
    display: flex;
    align-items: stretch; 
    gap: .625em;
    // margin-left: -.625em;

    > .input-text,
    > .button {
      // margin-left: .625em;
    }

    > .input-text {
      flex-grow: 1;
      margin-right: auto;
    }
  }
}

// avoid text clipping caused by explicit width set by woocommerce CSS
.woocommerce .quantity .qty {
  padding-left: 0;
  padding-right: 0;
}

.shop_table .shipping [data-title]:before {
  margin-bottom: 1.5em;

  @include below(tablet) {
    float: none;
    display: block;
    text-align: left;
    margin-bottom: 1.25em;
  }
}

.cart_list.product_list_widget {
  flex-basis: 0;
}

.menu-item--cart {

  > a {
    text-decoration: none;

    &:hover {
      .menu-item__icon {
        color: var(--sm-current-bg-color);

        &:after {
          border-width: calc( 1.75em / 2 );
          // background: var(--sm-current-accent-color);
          border-color: var(--sm-current-accent-color);
        }
      }
    }
  }

  &:not(.no-icon) > a:before {
    content: none !important;
  }

  &.no-icon .menu-item__icon,
  &.icon-only .menu-item__label {
    display: none;
  }

  &:not(.icon-only) .menu-item__label + .menu-item__icon {
    margin-left: var(--theme-spacing-smallest);
  }

  .menu-item__icon {
    position: relative;

    display: inline-block;
    width: 1.75em;

    text-align: center;
    font-feature-settings: "lnum";
    transform: translateZ(0);

    transition: all .25s $ease;

    &:after {
      content: "";

      display: block;
      width: 1.75em;
      height: 1.75em;

      border: .125em solid var(--theme-navigation-links-color);
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      z-index: -1;

      transition: all .25s $ease;
    }
  }
}

:is(#add_payment_method, .woocommerce-cart, .woocommerce-checkout) {

  table.cart td.actions .coupon .input-text {
    @include field;

    // Reset the field default 'width: 100%' so the `Apply coupon` button shares the width with the `Coupon` field  
    width: auto;

    // Remove padding so the `Coupon` input field stretch to the height of the `Apply` button
    padding-top: 0;
    padding-bottom: 0;

  }
}

.woocommerce-cart-form__contents {
  @include below(tablet) {
    .cart_item {

      margin-bottom: var(--theme-spacing-smaller);
    }

    .product-remove {
      @include specific(2) {
        border: 0;
      }
    }
  }
}
