.woocommerce-checkout:not(.woocommerce-order-received) {

  // contain order review background
  .site-main {
    overflow: hidden;
  }

  .site-content {
    margin-top: 0 !important;
    padding-bottom: 0;
  }

  .col2-set {
    width: auto;

    .col-1,
    .col-2 {
      float: none;
      width: auto;
    }
  }

  @include above(tablet) {

    .col2-set {
      float: left;
      width: 55%;
      padding-left: 5.25%;
      padding-right: 8.75%;
    }

    [id="order_review_heading"],
    .woocommerce-checkout-review-order {
      float: right;
      clear: right;
      width: 45%;
      padding-left: 3.5%;
      padding-right: 5.25%;
    }

    .woocommerce-checkout {
      position: relative;

      &:before {
        display: block;

        background-color: var(--sm-current-fg2-color);

        content: "";
        position: absolute;
        top: -9999vh;
        right: -100vw;
        bottom: -9999vh;
        left: 55%;
        pointer-events: none;

        opacity: 0.04;
      }

      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      > * {
        position: relative;
        z-index: 20;
      }
      
      a {
        color: currentColor;
        text-decoration-color: currentColor;
      }
    }
  }

  table.shop_table {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    margin: 0;

    tbody,
    tfoot,
    thead {
      border: 0;
    }

    td, th {

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        text-align: right;
      }
    }

    tbody .product-name {
      --current-font-size: 1.33em;
      --current-font-weight: bold;

      .product-quantity {
        font-size: .8em;
      }
    }
  }

  #shipping_method[id] li {
    margin-bottom: 0;

    + li {
      margin-top: 1.25em;
    }

    li {
      input {
        margin-top: .1em;
      }
    }
  }

  #payment #place_order {
    float: none;

    display: block;
    width: 100%;
    margin-top: 1.25em;
  }

  form .form-row {
    padding: 0;

    &:not(:last-child) {
      margin-bottom: var(--theme-spacing);
    }

    label {
      margin-bottom: var(--theme-spacing-tiny);
    }

    textarea {
      line-height: inherit;
    }
  }

  & form {
    margin-top: var(--theme-spacing-large);
    padding-bottom: var(--theme-spacing-large);
  }

  .woocommerce-form-coupon-toggle,
  .woocommerce-form-coupon {
    position: relative;
    z-index: 20;
  }

  .woocommerce-form-coupon-toggle {
    overflow: hidden;
  }

  .woocommerce-form-coupon {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: calc(var(--theme-spacing) * -1);
    
    .input-text {
      height: 100%;
    }

    > p:not([class]) {
      flex-basis: 100%;
      margin-bottom: var(--theme-spacing);
    }

    > p {
      width: auto;
      padding-left: var(--theme-spacing);
    }

    button {
      height: 100%;
    }

    .form-row-first {
      flex-grow: 1;
    }

    + .woocommerce-billing-fields {
      margin-top: var(--theme-spacing);
    }
  }

  .clear {
    display: none;
  }

  .woocommerce-info {
    margin-bottom: var(--theme-spacing);
  }

  @include below(lap) {
    .site-content {
      padding-top: 0;
    }
  }

  .novablocks-header,
  .entry-header,
  .site-footer,
  .entry-thumbnail,
  .novablocks-header--mobile,
  .c-menu-toggle,
  .promo-bar {
    display: none;
  }

  #page {
    padding-top: 0 !important;
  }

  .site-content {
    @include specific(3) {
      padding-top: 0;
    }
  }

  @include specific(4) {

    input[type="checkbox"] {
      margin-bottom: 0;
      margin-top: .2em;
    }
  }
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: none;
  border-radius: 0;

  ul.payment_methods {
    padding: 0;
    border: 0;
  }

  .wc_payment_method {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font: inherit;

    padding-top: 1.5em;
    padding-bottom: 1.5em;

    label {
      display: flex;
      align-items: center;

      > * {
        margin-left: .625em;
      }
    }
  }

  div.payment_box {
    flex-basis: 100%;
    margin-left: 2.375em;
    margin-bottom: 0;
    padding: 0;
    opacity: 0.8;
    background: none;

    &:before {
      content: none;
    }
  }

  .about_paypal[class] {
    line-height: inherit;
  }

  div.form-row {
    padding: 0;
  }
}

.woocommerce-terms-and-conditions-wrapper {

  @include specific(3) {
    > * {
      position: relative;
      padding-top: 1.5em;
      padding-bottom: 1.5em;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: var(--sm-current-fg2-color);
        opacity: .2;
      }
    }

    .validate-required {
      margin-bottom: 0;

      .woocommerce-form__input {
        margin-top: 0;
        margin-right: .625em;
      }
    }
  }
}

.woocommerce-checkout-title[class] {
  margin-bottom: var(--theme-spacing-tiny);

  a {
    color: inherit;
  }
}

.woocommerce-checkout-breadcrumbs {
  list-style: none;
  padding-left: 0;

  margin-bottom: var(--theme-spacing-small);

  li {
    display: inline-block;
    margin-bottom: 0;
  }
}

.woocommerce-billing-fields > h3,
.woocommerce-additional-fields > h3 {
  @include apply-font(heading-4);
  margin-bottom: var(--theme-spacing);
}

[id="order_review_heading"] {
  margin-bottom: var(--theme-spacing);
}

[id="customer_details"] .col-1 + .col-2 {
  margin-top: var(--theme-spacing);
}

#ship-to-different-address {
  margin-bottom: var(--theme-spacing);

  input[type="checkbox"] {
    margin-bottom: 0;
  }
}

[id="customer_details"] {
  margin-bottom: var(--theme-spacing-small);

  @include above(tablet) {
    margin-bottom: 0;
  }
}

[id="order_comments_field"] {
  @include specific(3) {
    margin-top: var(--theme-spacing);
  }
}

.woocommerce-shipping-fields {
  margin-top: var(--theme-spacing);
}

.woocommerce .woocommerce-customer-details address {
  padding: 0;
  border: 0;
}

ul.order_details[class] {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: calc(var(--theme-spacing-medium) * -1);
  margin-bottom: var(--theme-spacing-medium);

  > li {
    margin-top: var(--theme-spacing-medium);
    padding-left: var(--theme-spacing-medium);
    padding-right: var(--theme-spacing-medium);
    margin-right: 0;

    @include below(tablet) {
      flex: 0 0 100%;
      border-right: 0;
    }
  }
}

.woocommerce-checkout:not(.woocommerce-order-received) {
  padding-top: 0;
}

#form-coupon {
  display: none !important;
}

.checkout-button {
  width: 100%;
}

.order-total .amount {
  @include apply-font(heading-4);
}

.cart_totals  {
  h2 {
    @include apply-font(heading-3);
    margin-bottom: var(--theme-spacing-small);
  }
}

.cross-sells {
  h2 {
    @include apply-font(heading-4);
    margin-bottom: var(--theme-spacing-small);
  }
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  color: var(--sm-current-fg2-color);
}

#ship-to-different-address {
  @include apply-font(heading-4);

  .woocommerce-form__label {
    display: flex;
    align-items: center;
  }
}

.woocommerce-form-login-toggle[class][class],
.woocommerce-form-login[class][class] {
  @include above(tablet) {
    position: relative;
    z-index: 20;
    float: left;
    width: 55%;
    padding-left: 5.25%;
    padding-right: 8.75%;
    margin: 0;
    border: 0;
  }
}

.woocommerce-checkout-review-order-table {
  td {
    white-space: initial;
  }
}

.wc_payment_methods {
  .wc_payment_method:only-child {
    .payment_box {
      margin-left: 0 !important;
    }
  }
}

.woocommerce-checkout-breadcrumbs[class] li {
  + li {
    padding-left: 10px;

    &:before {
      content: "";
      position: static;
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      margin-right: 20px;
      border-right: 0.1em solid currentColor;
      border-bottom: 0.1em solid currentColor;
      border-top: 0;
      border-left: 0;
      transform: translateY(-10%) rotate(-45deg);
      transition: var(--theme-transition);
      transition-property: opacity;
      opacity: .5;
    }
  }
}

#shipping_method {
  @include specific(4) {
    li label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  }
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    border: 0;
    background-color: transparent;
    &:before {
      content: none;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;

      width: 100%;
      height: 100%;
      background-color: var(--sm-current-fg2-color);
      z-index: -1;
      opacity: .04;
    }

    a {
      padding-left: 0;
    }
  }
}

.wc_payment_methods {
  p {
    color: var(--sm-current-fg2-color);
    opacity: .6;
  }

  .woocommerce-info:before {
    content: none;
  }
}

.woocommerce-shipping-totals[class][class] {

  @include below(mobile) {
    flex-direction: column;

    td {
      padding-left: 0;
      padding-top: 0;
      background-color: transparent !important;

      @include below(tablet) {
        padding: var(--theme-spacing-default);
      }
    }
  }

  td {
    margin-right: auto;
    @include above(lap) {
      padding-left: 5em;
    }
  }
}

.woocommerce-shipping-methods {
  label {
    --current-font-weight: 400;
  }
}

.woocommerce ul#shipping_method li input,
#payment ul.payment_methods li input {
  @include specific(2) {
    margin-top: .2em;
  }
}

.woocommerce-checkout-title {
  @include apply-font(heading-2);
}

.woocommerce-checkout-breadcrumbs {
  li {
    a {
      --current-font-weight: bold;
      color: currentColor;
      text-decoration-color: currentColor;
    }
    &:last-child {
      --current-font-weight: bold;
      color: var(--sm-current-fg2-color);
      opacity: .6;
    }
  }
}

#order_review_heading {
  @include apply-font(heading-4);
}

.cart-subtotal .woocommerce-Price-amount {
  --current-font-weight: bold;
}

.payment_box {
  margin-top: 0 !important;
}

.woocommerce-shipping-destination {
  white-space: normal;
}

.woocommerce {
  .form-row {
    &.woocommerce-invalid {
      @include specific(3) {
        label {
          color: var(--theme-input-error-color);
        }
      }
    }

    .required {
      @include specific(3) {
        color: var(--theme-input-error-color);
      }
    }
  }
}

.woocommerce form .form-row.woocommerce-invalid input.input-text {
  border-color: var(--theme-input-error-color);
}

.woocommerce-invalid #terms {
  outline: 0;
}

.woocommerce-customer-details,
.woocommerce-order-details,
.woocommerce-order-downloads {

  .woocommerce-checkout & {
    margin-bottom: 0;
  }

  .woocommerce-checkout * + & {
    margin-top: var(--theme-spacing-large);
  }
}

.woocommerce-customer-details,
.woocommerce-order-details,
.woocommerce-order-downloads {
  @include specific(1) {
    margin-bottom: 0;
  }
}

.woocommerce-checkout .entry-content > .woocommerce {
  --block-top-spacing: 0;
  --block-bottom-spacing: 0;
}

.woocommerce-order-received {

  .woocommerce-customer-details .woocommerce-columns {
    margin-top: calc( var(--theme-spacing-small) * -1 );

    > * {
      margin-top: var(--theme-spacing-small);
    }
  }

  .woocommerce-column__title {
    margin-bottom: var(--theme-spacing-small);
  }
}

// Stripe Minimal Styling
.wc-stripe-elements-field {
  @include field;
  
  &.StripeElement--invalid {
    --theme-input-box-shadow: var(--theme-input-error-box-shadow);
  }
}

.stripe-source-errors {
  display: flex;
  
  &,
  * {
    width: 100%;
  }
}

.woocommerce-checkout #payment ul.payment_methods li .stripe-card-brand {
  right: var(--theme-input-padding);
}

#wc-stripe-cc-form iframe {
  font-size: 23px;
  
  html {
    font-size: inherit;
  }
}

