
// single-product - product-gallery spacing
.woocommerce-product-gallery {

  // increase specificity to override woocommerce selectors
  @include specific(3) {
    margin-bottom: 0;

    .flex-viewport + .flex-control-thumbs {
      margin-top: 0;
    }

    .flex-control-thumbs {
      margin-left: 0;
      margin-top: calc(var(--theme-spacing) * -1);

      > * {
        max-width: 116px;
        padding-top: var(--thumbnails-gap);

        @include below(lap) {
          padding-left: var(--theme-spacing);

          &:first-child {
            margin-left: calc(-1 * var(--theme-spacing));
          }
        }
      }
    }
  }
}

.single-product {

  .site-main {
    --theme-content-width-wide: 100%;
  }

  .woocommerce-message {
    .button {
      order: 2;
      margin-left: auto;
    }
  }
}

.woocommerce-product-gallery__wrapper {

  @include specific(4) {
    width: auto;
    margin-left: calc(var(--theme-spacing) * -1);

    > * {
      padding-left: var(--theme-spacing);
    }

    > .woocommerce-product-gallery__image:first-child {
      padding-left: 0;
      margin-left: var(--theme-spacing);
    }

    > :nth-child(n+2) {
      margin-top: var(--theme-spacing);
    }

    .flex-viewport[class] & {
      margin-left: 0;

      > * {
        padding-left: 0;
        margin-left: 0;
      }

      > :nth-child(n+2) {
        margin-top: 0;
      }
    }
  }
}

.woocommerce-product-gallery__image {
  a {
    display: block;
    padding: 0;
    background-color: transparent;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    max-height: 30em;
  }
}

// single product - entry-summary styling
.woocommerce div.product div.summary {
  margin-bottom: 0;
}

.woocommerce form.cart {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  @include specific(3) {

    .group_table {
      flex-basis: 100%;
      margin-bottom: var(--theme-spacing);

      tbody, td {
        display: block;
      }

      tbody {
        border: 0;
      }

      tr {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 0;
        background: none;
      }

      tr ~ tr {
        margin-top: var(--theme-spacing);
      }

      td {
        padding: 0;
      }

      td:first-child {
        display: flex;
        width: auto;
        flex-basis: 100%;

        margin-bottom: var(--theme-spacing-tiny);
      }

      .qty {
        margin-right: .25em;
      }

      .woocommerce-grouped-product-list-item__label {
        margin-right: var(--theme-spacing);

        a {
          text-decoration: none;
        }
      }

      .woocommerce-grouped-product-list-item__price {
        margin-left: auto;
      }
    }
    .reset_variations {
      font-size: 1em;
      margin-top: var(--theme-spacing);
    }
  }

  .woocommerce-grouped-product-list-item__price {
    text-align: right;
  }

  .added_to_cart {
    display: none;
  }

  .variations {
    @include specific(2) {
      margin-bottom: var(--theme-spacing-small);
    }
  }
}

.woocommerce-product-details__short-description {
  margin-bottom: var(--theme-spacing);

  > :not(:first-child) {
    --element-spacing: var(--theme-spacing-small);
    margin-top: var(--element-spacing);
  }
}

// single product - tabs styling
.c-woo-tabs {
  clear: both;
  // contain ::before margins
  overflow: hidden;
}

.wc-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-left: 0;
  list-style: none;

  margin-left: calc(var(--theme-spacing-medium) * -1);
  margin-bottom: var(--theme-spacing-medium);

  li {
    margin-top: 0;
    margin-bottom: var(--theme-spacing-tiny);
  }

  a {
    padding-bottom: var(--theme-spacing-micro);
  }

  > * {
    margin-left: var(--theme-spacing-medium);
  }

  > :not(.active) a {
    text-decoration: none;
    color: var(--current-dark-primary);

    &:hover {
      color: var(--current-color-primary);
      border-bottom: .125em solid currentColor;
    }
  }

  > .active a {
    padding-bottom: var(--theme-spacing-micro);
    color: var(--current-color-primary);

    text-decoration: none;
    border-bottom: .125em solid currentColor;
  }
}

.woocommerce-product-gallery,
.entry-summary {
  margin-bottom: var(--theme-spacing-xl);
}

.c-woo-section {

  &:not(:empty):before {
    content: "";
    display: block;
    height: .0625em;
    background: currentColor;
    opacity: .2;

    margin-top: var(--theme-spacing-xl);
    margin-bottom: var(--theme-spacing-xl);
  }

  &:last-child:after {
    content: "";
    display: block;
    margin-top: var(--theme-spacing-xl);
  }
}

.related.products > h2,
.upsells.products > h2 {
  text-align: center;
}

// unstyle price
.woocommerce[class] .product .price {
  color: var(--theme-dark-primary);

  ins {
    font-weight: inherit;
    text-decoration: none;
  }
}

// content layout adjustments
.c-product-main,
.wc-tabs-wrapper {
  margin-left: auto;
  margin-right: auto;
}

#content .c-product-main {
  position: relative;
  margin-top: var(--theme-spacing);

  @include specific(3) {

    .woocommerce-product-gallery + .entry-summary {
      margin-top: var(--theme-spacing);
    }

    @include above(lap) {
      display: flex;

      > .woocommerce-product-gallery {
        float: none;
        width: auto;
        flex: 1 1 55%;
      }

      > .entry-summary {
        float: none;
        width: auto;
        flex: 0 0 calc(35% - var(--theme-spacing-xl));
        margin-left: var(--theme-spacing-xl);
        margin-right: var(--theme-spacing-xl);
      }

      .woocommerce-product-gallery + .entry-summary {
        margin-top: 0;
      }
    }

    .variations select {
      display: block;
    }
  }

  .woocommerce-product-gallery--with-images,
  .entry-summary {
    width: 100% !important;
  }
}

.c-product-main {

  --thumbnails-gap: 10px;
  --columns-gap: calc( var(--columns-gap) * 2 );

  .product_title {
    @include apply-font(heading-3);
  }

  .price {
    margin-bottom: var(--theme-spacing-small);
  }

  span.onsale {
    position: absolute;
    min-width: auto;
    min-height: auto;

    top: var(--theme-spacing-tiny);
    left: var(--theme-spacing-tiny);
    padding: .6em 1.1em .7em 1.2em;
    background-color: var(--theme-color-primary);

    color: var(--theme-light-primary);
    text-align: center;

    border-radius: 0;
    line-height: 1;
    font-size: 1em;
  }
}

.variations {
  &,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  @include specific(5) {
    td,
    th {
      padding: 0;
      line-height: inherit;
    }
  }

  &,
  tbody,
  tr {
    border: 0;
  }

  .label {
    margin-top: .625em;
    margin-bottom: .3125em;
  }
}

.reset_variations {
  visibility: visible;
  display: none !important;
}

.woocommerce .product .cart .quantity[class] {
  display: block;

  margin-bottom: var(--theme-spacing-xsmall);
}

.add_to_cart_inline {

  .button {
    @include specific(3) {
      margin-left: var(--theme-spacing-tiny);
    }
  }

  ins {
    text-decoration: none;
  }
}

.single_variation_wrap {
  width: 100%;
}

.woocommerce-variation-price,
.woocommerce-variation-availability {
  margin-bottom: var(--theme-spacing);

  &:empty {
    display: none;
  }
}

.entry-summary {
  .button,
  .ajax_add_to_cart {
    flex-grow: 1;
  }
}

.product_meta {
  font-size: .875em;

  > span {
    display: block;

    a {
      text-decoration: none;
      opacity: .5;
    }
  }
}

.woocommerce-product-category {

  a {
    color: inherit;

    .u-underlined-links & {
      text-decoration: none;
    }
  }
}

.woocommerce-product-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: var(--theme-spacing-medium);

  &:before {
    content: "";
    flex-grow: 1;
  }

  > * + .product_title {
    @include specific(2) {
      margin-top: var(--theme-spacing-tiny);
    }
  }

  > * + .woocommerce-product-rating {
    margin-top: var(--theme-spacing-tiny);
  }

  > * + .price {
    margin-top: var(--theme-spacing-tiny);
  }
}

.entry-summary {
  display: flex;
  flex-direction: column;

  &:after {
    content: "";
    flex-grow: 1;
  }
}

.shop_attributes {

  @include specific(3) {
    max-width: 37.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 0;
    border-bottom: 0;

    tr:last-child {
      &, th, td {
        border-bottom: 0;
      }
    }

    tbody, tfoot, thead {
      border-bottom: 0;
    }

    tr {
      border-bottom-style: dashed;
    }

    th, td {
      background: none;
    }

    td {
      font: inherit;

      border: 0;
    }

    th {
      width: 40%;
      padding: .75em;

      font-size: inherit;
      line-height: inherit;
      text-align: right;

      border: 0;
    }

    td p {
      padding: 0;
    }
  }
}

.comment-form-subscriptions:empty {
  display: none;
}

.woocommerce-product-category {
  display: flex;

  li + li:before {
    content: "/";
    padding-left: .3em;
    padding-right: .3em;
  }
}

.comment-form-subscriptions:empty {
  display: none;
}

.add_to_cart_button {
  @include button;
  @include button-fill;
  text-align: center;
}


.woocommerce-breadcrumb {
  @include specific(1) {
    color: var(--current-dark-primary);
    a {
      color: var(--current-dark-primary);
      text-decoration-color: transparent;

      &:hover {
        text-decoration-color: var(--current-color-primary);
      }
    }

    span:last-child {
      opacity: .5;
    }
  }
}

.c-woo-section {
  --theme-content-width-normal: var(--theme-content-width-wide);
}

.related.products > h2,
.upsells > h2,
.wc-tabs .h3 {
  margin-bottom: var(--theme-spacing-small);
  @include apply-font(heading-4);
}

.woocommerce {

  #reviews #comments {

    ol.commentlist {
      padding-left: 0;

      li {
        position: relative;
        margin-bottom: 1.5em;

        .comment-text {
          border: 0;
          padding: 0;
          margin-left: 3em;

          p {
            margin-bottom: 0;
          }
        }

        .meta {
          color: var(--current-dark-primary);
        }

        img.avatar {
          padding: 0;
          width: 2.5em;
          height: 2.5em;
          background: transparent;
          border: 0;
          margin: 0;
          object-fit: contain;
        }

        &:not(:last-child) {
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--current-dark-primary);
            opacity: .2;
          }
        }
      }
    }
  }
}

.woocommerce-Reviews {

  .woocommerce-Reviews-title {
    margin-bottom: var(--theme-spacing-default);
  }

  .comment_container {
    padding-bottom: 1.5em;
  }

  .woocommerce-review__author {
    text-transform: capitalize;
  }
}

.zoomImg {
  transition: none !important;
}

.woocommerce-product-gallery {
  @include specific(3) {
    display: grid;
    grid-template-areas: 'thumbnails big-image';
    grid-template-columns: 5em 1fr;
    grid-column-gap: var(--columns-gap);

    @include below(lap) {
      grid-template-columns: 1fr;
      grid-template-areas: 'big-image'
                            'thumbnails';
    }

    img {
      width: auto;
    }

    > .woocommerce-product-gallery__wrapper {
      grid-column: span 2;
    }

    .flex-viewport {
      grid-area: big-image;
      max-height: 100vh;
    }

    @include above(lap) {
      .flex-control-thumbs {
        grid-area: thumbnails;

        display: flex;
        flex-direction: column;

        li {
          max-width: 100%;
          width: 100%;

          &:first-child {
            padding-top: 0;
          }
        }

        img {
          width: 100%;
        }
      }
    }

    img {
      object-fit: contain;
    }
  }
}

.variations_form {
  .variations {
    tr {
      position: relative;
      justify-content: space-between;

      padding-top: var(--theme-spacing-xsmall);
      padding-bottom: var(--theme-spacing-xsmall);

      @include above(tablet) {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 10px;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;

        background-color: var(--current-color-primary);
        opacity: .2;
      }
    }
  }
}


.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.quantity {
  align-items: center;

  @include above(tablet) {
    display: grid !important;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 10px;
    justify-content: space-between;

    .quantity__wrapper {
      width: 11.8em;
    }

  }

  width: 100%;

  .qty {
    appearance: textfield;
    box-shadow: none;

    width: 2em;

    font-feature-settings: "lnum";
  }

  label {
    margin-bottom: 0;
  }

  .qty_button {
    position: relative;
    
    background-color: transparent;
    background-image: none;
    color: var(--current-dark-primary);
    border: 0;

    width: 2em;
    height: 2em;

    padding: 0;

    font-family: system-font-sans-serif-clear, "SF Pro Display", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

    box-shadow: var(--theme-input-box-shadow);
    border-radius: 50%;

    &.button--is-disabled {
      pointer-events: none;
      opacity: .5;
    }
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid var(--current-dark-primary);
      border-radius: 50%;
      opacity: .3;

      z-index: 10;
    }
  }
}
