$enable-cover-block-styles:             true !default;

@if $enable-cover-block-styles == true {
    /* Cover Block */
    .wp-block-cover,
    .wp-block-cover-image {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2em;
        min-height: 430px;

        text-align: center;

        color: #FFFFFF;
        background-color: #000000;
        background-size: cover;

        a {
            color: inherit;
        }
    
        img.wp-block-cover__image-background,
        video.wp-block-cover__video-background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
            object-fit: cover;
            outline: none;
            border: none;
            box-shadow: none;
        
            z-index: 0;
        }
    
        &.is-position-top-left {
            align-items: flex-start;
            justify-content: flex-start;
        }
        &.is-position-top-center {
            align-items: flex-start;
            justify-content: center;
        }
        &.is-position-top-right {
            align-items: flex-start;
            justify-content: flex-end;
        }
        // Position: Center
        &.is-position-center-left {
            align-items: center;
            justify-content: flex-start;
        }
        &.is-position-center-center {
            align-items: center;
            justify-content: center;
        }
        &.is-position-center-right {
            align-items: center;
            justify-content: flex-end;
        }
        // Position: Bottom
        &.is-position-bottom-left {
            align-items: flex-end;
            justify-content: flex-start;
        }
        &.is-position-bottom-center {
            align-items: flex-end;
            justify-content: center;
        }
        &.is-position-bottom-right {
            align-items: flex-end;
            justify-content: flex-end;
        }
    
        &.has-custom-content-position.has-custom-content-position {
            .wp-block-cover__inner-container {
                margin: 0;
                width: auto;
            }
        }
    }

    .wp-block-cover-text {
        color: inherit;
    }

    //.wp-block-cover-text,
    //.wp-block-cover__inner-container,
    .wp-block-cover > * {
        position: relative;
        z-index: 300;
    }

    .wp-block-cover__video-background {
        @include cover;
        object-fit: cover;
        z-index: 100;
    }
}
