$enable-social-links-block-styles: true !default;

@if $enable-social-links-block-styles == true {
    /* Social Links Block */
    .wp-block-social-links {

        // Icon sizes.
        // Small.
        &.has-small-icon-size {
            font-size: 1em;
        }

        // Normal/default.
        &,
        &.has-normal-icon-size {
            font-size: 1.25em;
        }

        // Large.
        &.has-large-icon-size {
            font-size: 1.75em;
        }

        // Huge.
        &.has-huge-icon-size {
            font-size: 4em;
        }
    }

    .wp-social-link {
        &, :is(a, button, svg) {
            font-size: inherit !important;
        }

        transition: all 0.3s ease;

        &:hover {
            transform: scale(1);
            opacity: 0.7;
        }
    }

}
