.novablocks-slideshow {

    &[class] a {
        --theme-links-color: var(--novablocks-slideshow-text-color);
        --theme-links-hover-color: var(--novablocks-slideshow-text-color);
        --theme-links-decoration-color: var(--novablocks-slideshow-text-color);
    }
}