.novablocks-slideshow {
    
    .novablocks-u-content-padding {
        padding-left: calc(var(--theme-wrapper-sides-spacing) + 50px);
        padding-right: calc(var(--theme-wrapper-sides-spacing) + 50px);
    }
}

.novablocks-slideshow__arrow {
    width: 50px;
    height: 50px;

    background-color: transparent;
    transform: translateY(-50%);

    &:hover:after {
        opacity: .1;
    }
}

.novablocks-slideshow__arrow--prev:before,
.novablocks-slideshow__arrow--next:before {
    content: "";

    display: block;
    width: 32px;
    height: 32px;

    margin: 0;
    border: 0;
    padding: 0;

    mask: url($icon-arrow-svg-path) no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url($icon-arrow-svg-path) no-repeat 50% 50%;
    -webkit-mask-size: cover;

    background-color: var(--current-light-primary);
}

.novablocks-slideshow__arrow--prev:before {
    transform: translate(-50%, -50%);
}

.novablocks-slideshow__arrow--next:before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.novablocks-slideshow__arrow:after {
    content: "";

    display: block;
    width: 50px;
    height: 50px;

    margin-top: 0;
    border: 0;
    border-radius: 50%;

    background-color: var(--current-light-primary);
    opacity: 0;

    transition: opacity 0.15s ease-in;
    transform: none;
}
