.comment-list,
.comment-list .children {
    list-style: none;
    @include space-children-y(var(--theme-y-spacing));
}

.comment-list {
    padding-left: 0;

    .children {
        list-style: none;
        margin-top: var(--theme-y-spacing);
        padding-left: var(--theme-x-spacing);
    }
}