
.comment {
    position: relative;
}

.comment__wrapper {
    display: flex;
    align-items: flex-start;
}

.comment__avatar {
    margin-right: var(--theme-comment-avatar-spacing);
    max-width: var(--theme-comment-avatar-width);
    flex: 0 0 auto;
    overflow: hidden;
}

.comment__body {
    @include space-children-y(var(--theme-comment-body-spacing));
    flex-grow: 1;
}

.comment__edit {
    position: absolute;
    top: 0;
    right: 0;

    transition: all .5s ease;

    .comment:not(:hover) & {
        opacity: 0;
    }
}

.comment__header {
    display: flex;
}

.comment__metadata {
    margin-left: var(--theme-comment-metadata-spacing);
}

.comment__content {
    @include space-children-y(var(--theme-comment-content-spacing));
}
