.comment-form {
    @include grid;

    > * {
        @include grid-item;
    }

    > :not(.comment-form-author):not(.comment-form-email) {
        @include grid-item-count(1);
    }

    > .comment-form-author,
    > .comment-form-email {
        @include grid-item-count(2);
    }
}

.comment-notes,
.comment-form-author,
.comment-form-email,
.comment-form-url {
    order: -1;
}

.comment-form-cookies-consent {
    display: flex;
    align-items: baseline;

    > input[type="checkbox"] {
        margin-right: 1em;
    }
}
