.comment-list,
.comment-list .children {
    list-style: none;
    --element-spacing: var(--theme-spacing-normal);
    @include space-children-y;
}

.comment-list {
    padding-left: 0;

    .children {
        list-style: none;
        margin-top: var(--theme-spacing-normal);
        padding-left: var(--theme-spacing-normal);
    }
}