
.comment {
    position: relative;
}

.comment__wrapper {
    display: flex;
    align-items: flex-start;
}

.comment__avatar {
    margin-right: 20px;
    flex: 0 0 auto;
    overflow: hidden;
}

.comment__body {
    @include spacing-y(0.5rem);
    flex-grow: 1;
}

.comment__edit {
    position: absolute;
    top: 0;
    right: 0;

    transition: all .5s ease;

    .comment:not(:hover) & {
        opacity: 0;
    }
}

.comment__header {
    display: flex;
}

.comment__metadata {
    margin-left: 0.5em;
}

.comment__content {
    @include spacing-y(var(--nova-typography-spacing));
}
