@mixin spacing($prop, $value) {
    #{$prop}: $value;
}

:root {
    --nova-comment-metadata-spacing: 0.5em;
    --nova-comment-avatar-spacing: 20px;
    --nova-comment-body-spacing: 0.5rem;
    --nova-comment-content-spacing: var(--nova-element-spacing);
    --nova-comment-avatar-width: 56px;
}

@import "comments-area";
@import "comments-toggle";

@import "comment";
@import "comment-form";
@import "comment-list";
@import "comment-respond";
@import "comment-reply-title";

.bypostauthor {
    color: inherit;
}

.says {
    display: none;
}
