@import "../../../../setup/mixins/media-queries";
@import "../../../../setup/variables";
@import "../../../../setup/mixins/image-cover";

.novablocks-media__aside {

  @include above(tablet) {
    .has-image-on-the-left & {
      order: -1;
    }
  }
}

.novablocks-media__image {
  position: relative;

  img {
    @include image-cover;
  }
}

.novablocks-media__inner-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  word-break: break-word;
}

.novablocks-media__layout {
  margin-top: calc( -1 * var(--novablocks-media-gutter) );
  margin-left: calc( -1 * var(--novablocks-media-gutter) );
  pointer-events: none;

  > * {
    padding-left: var(--novablocks-media-gutter);
    margin-top: var(--novablocks-media-gutter);
    pointer-events: auto;
  }

  @include above(tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .novablocks-media__aside {
      flex: 1 1 calc( 100% - var(--novablocks-media-content-width, 50%) );
    }

    .novablocks-media__content {
      flex: 1 1 var(--novablocks-media-content-width, 50%);
    }
  }
}
