
/*.novablocks-media*/.block-is-moderate,
/*.novablocks-media*/.block-is-highlighted,
.novablocks-slideshow,
.novablocks-hero {

    & + & {
        margin-top: 0;
    }
}

// hook Nova custom properties to the theme's
:root {
    --novablocks-color-1: var(--theme-sm-color-1);
    --novablocks-color-2: var(--theme-sm-color-2);
    --novablocks-color-3: var(--theme-sm-color-3);

    --novablocks-dark-1: var(--theme-sm-dark-1);
    --novablocks-dark-2: var(--theme-sm-dark-2);
    --novablocks-dark-3: var(--theme-sm-dark-3);

    --novablocks-light-1: var(--theme-sm-light-1);
    --novablocks-light-2: var(--theme-sm-light-2);
    --novablocks-light-3: var(--theme-sm-light-3);
}
