@import "hero/common";
@import "navigation/common";
@import "slideshow/common";
@import "supernova-item/common";
@import "carousel/common";

@at-root {

    // Use a greater specificity in theme 
    // than the one in the Nova Blocks plugin
    html:root {

        --nova-food-menu-item-highlight-color: var(--sm-current-fg2-color);

        --nb-spacing: var(--theme-content-spacing);
        --nb-media-spacing: var(--theme-spacing-fluid-larger);
        --nb-sides-spacings: var(--theme-wrapper-sides-spacing);

        // --sm-site-container-width [60-100]
        --nb-container-width: calc(var(--sm-site-container-width, 67) * var(--current-font-size, 16px));

        // --sm-content-inset [100-300]
        --nb-content-inset-setting: var(--sm-content-inset, 288);

        --nb-sidecar-sticky-top: calc( var(--theme-sticky-header-height, 0px) + var(--theme-sticky-distance, 0px) + var(--nb-spacing) * var(--nb-spacing-current-multiplier, 1));

        --nb-block-content-box-shadow:
            0 32px 128px rgba(0, 0, 0, 0.1),
            0 16px 64px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .nb-list {
        --nb-list-line-height: calc(var(--current-font-size) * var(--current-line-height));
    }

    .novablocks-media-composition__grid-item-caption,
    .novablocks-media-composition__grid-item-description {
        @include caption;

        > * { font-size: inherit; }
    }

    .novablocks-media-composition__grid-item-description {
        --font-size-modifier: 0.7;
    }

    // @todo:
    // Find a better way to overwrite the 
    // default "links" rule from the Editor: 
    // ".editor-styles-wrapper a {...}"
    .novablocks-media-composition__grid-item-info {
        a {
            color: inherit !important;
            text-decoration: inherit !important;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}
