@import "hero/common";
@import "slideshow/common";

@at-root {

    // Use a greater specificity in theme 
    // than the one in the Nova Blocks plugin
    html:root {

        --nova-food-menu-item-highlight-color: var(--sm-current-fg2-color);

        --novablocks-spacing: var(--theme-spacing-fluid-large);
        --novablocks-media-spacing: var(--novablocks-spacing);
        --novablocks-sides-spacings: var(--theme-wrapper-sides-spacing);

        --novablocks-block-content-box-shadow:
            0 32px 128px rgba(0, 0, 0, 0.1),
            0 16px 64px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);
    }

    * {
        --novablocks-bg-color: var(--sm-current-bg-color);
        --novablocks-accent-color: var(--sm-current-accent-color);
        --novablocks-fg1-color: var(--sm-current-fg1-color);
        --novablocks-fg2-color: var(--sm-current-fg2-color);
    }

    .novablocks-hero__inner-container,
    .novablocks-slideshow__inner-container {
        --theme-wrapper-sides-spacing: 0;
    }

    .novablocks-u-content-width {
        --theme-content-width-normal: 100%;
    }

    .novablocks-advanced-gallery__grid-item {

        &[class] .credits[class] {
            --font-size: 12;
            font-size: var(--final-font-size);
            opacity: 0.7;
        }
    }

    // ToDO:
    // Find a better way to overwrite the 
    // default "links" rule from the Editor: 
    // ".editor-styles-wrapper a {...}"
    .novablocks-advanced-gallery__grid-item-info {
        a {
            color: inherit !important;
            text-decoration: inherit !important;
        }
    }

    .novablocks-advanced-gallery__grid-item-caption {
        font-size: 80%;
    }

    .novablocks-advanced-gallery__grid-item-description {
        font-size: 70%;
    }
}
