.novablocks-block__content {

    @include above(tablet) {
        --nb-block-content-padding: var(--nb-spacing);
    }
}

.block-is-moderate + .block-is-moderate:not(.novablocks-media--blog),
.block-is-highlighted + .block-is-highlighted[class] {
    padding-top: 0;
}

.nb-grid__column:first-child .nb-grid__area:first-child:last-child {
    top: calc( var(--nb-grid-spacing) * var(--nb-grid-spacing-modifier, 1) + var(--nb-header-height, 0) );
}

// Nova - Food Menu
@import "food-menu/style";

// Nova - Google Map
@import "google-map/style";

// Nova - Hero
@import "hero/style";

// Nova - Media
@import "media/style";

// Nova - Navigation
@import "navigation/style";

// Nova - OpenTable Reservation Form
@import "opentable-reservation/style";

// Nova - Slideshow
@import "slideshow/style";

// Nova - Cards Collection
@import "cards-collection/style";

// Nova - Sharing Overlay
@import "sharing-overlay/style";

// Nova - Sidecar
@import "sidecar/style";

// Nova - Carousel
@import "carousel/style";


// Nova - Supernova Item
@import "supernova-item/style";