.novablocks-u-content-padding {
    padding-top: calc(var(--site-header-height) + var(--novablocks-content-padding));
}

.novablocks-block__content {

    @include above(tablet) {
        --novablocks-block-content-padding: var(--novablocks-spacing);
    }
}

.block-is-moderate + .block-is-moderate:not(.novablocks-media--blog),
.block-is-highlighted + .block-is-highlighted[class] {
    padding-top: 0;
}

.novablocks-announcement-bar {

    &[class*="is-style"] {
        --novablocks-announcement-color: var(--theme-light-primary);
    }

    &:not([class*="is-style-"]),
    &.is-style-accent {
        --novablocks-announcement-background-color: var(--theme-color-primary);
    }

    &.is-style-alternative {
        --novablocks-announcement-background-color: var(--theme-color-secondary);
    }

    a:hover {
        color: currentColor;
    }
}

// Nova - Food Menu
@import "food-menu/style";

// Nova - Google Map
@import "google-map/style";

// Nova - Header
@import "header/style";

// Nova - Hero
@import "hero/style";

// Nova - Media
@import "media/style";

// Nova - Navigation
@import "navigation/style";

// Nova - OpenTable Reservation Form
@import "opentable-reservation/style";

// Nova - Slideshow
@import "slideshow/style";

// Nova - Cards Collection
@import "cards-collection/style";

// Nova - Sharing Overlay
@import "sharing-overlay/style";

// Nova - Layout
@import "sidecar/style";
