.novablocks-header-row {
    @include below(lap) {
        --sm-current-bg-color: inherit;
        --sm-current-accent-color: inherit;
        --sm-current-fg1-color: inherit;
        --sm-current-fg2-color: inherit;
    }
}