.block-is-moderate,
.block-is-highlighted {
    --nb-block-padding: var(--nb-spacing);
}

@include above(tablet) {

    .content-is-moderate  {
        --nb-block-content-padding: var(--nb-spacing);
        --nb-block-content-background-color: var(--sm-current-bg-color);
    }
}
