<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","padding":{"bottom":"2rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:2rem">
	<!-- wp:pattern {"slug":"anima-lt/hero-design-cover"} /-->

	<!-- wp:pattern {"slug":"anima-lt/journal-strip"} /-->

	<!-- wp:pattern {"slug":"anima-lt/system-band"} /-->

	<!-- wp:pattern {"slug":"anima-lt/cta-room-to-grow"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
