.novablocks-map__marker-name {
    @extend %h4-font !optional;

    position: absolute;
    top: 50%;
    left: 100%;

    padding: 0.7em 1.2em 0.7em 1em;
    border-left: 18px solid transparent;
    margin-left: -18px;
    margin-top: -6px;

    box-shadow: 0 2px 10px -5px;
    border-top-right-radius: 999em;
    border-bottom-right-radius: 999em;
    background: #FFFFFF;
    transform: translate(0, -50%);

    &[class][class][class] {
        font-size: 16px;
    }
}