$assets-folder-path: '../../../assets';

@import "../setup";

@import "main";
@import "loading";

/* Pages */
@import "pages/single";
@import "pages/blockpatterns";

.avatar {
    display: block;
    border-radius: 50%;
}

.comment__header {

    a {
        text-decoration-color: transparent;

        &:hover {
            text-decoration-color: var(--sm-current-accent-color);
        }
    }
}
