em,
i,
q,
dfn {
  font-style: italic;
}

em {
  --current-font-style: italic;
}

strong,
b {
  --current-font-weight: bold;
}



// ------ #HIGHLIGHT CONTROL
// Ignore the custom text and background color options and
// hard-code a gradient for consistency
// 
// @todo: find a way to replace the `yellow` color
//        with tokens from the Design System.
mark {
  --highlight-text-color-start: var(--sm-current-accent-color);
  --highlight-text-color-end: var(--sm-current-accent2-color);

  // 1. TEXT highlighting
  &.has-inline-color {
    color: var(--sm-current-accent-color);
    background-color: var(--sm-current-accent-color) !important;
    background-image: linear-gradient(90deg, var( --highlight-text-color-start), var( --highlight-text-color-end));

    filter: brightness(100%) saturate(150%) contrast(1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
  }
  
  // 2. BACKGROUND highlighting
  // Test when it has only the "has-inline-color" class and not
  // any other class for coloring text like "has-vivid-cyan-blue-color"
  &[class="has-inline-color"] {
    padding: 0.04em 0.5em;
    margin: 0 -0.5em;

    background: linear-gradient(90deg ,rgba(249,229,73,.25),rgba(249,229,75,.75) 29.55%,rgba(249,230,77,.1) 103.16%);
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -webkit-box-decoration-break: clone;  

    // Reset the necessary styles from TEXT highlight option
    filter: unset;
    -webkit-text-fill-color: inherit;

    // Ignore inline styles
    color: inherit !important;
    background-color: inherit !important;
  }

    // Dark mode 
    // Change color hue to blue
    :is(.is-dark, .sm-color-signal-3) &[class="has-inline-color"] {
      background: linear-gradient(90deg ,rgba(75,88,249,.25),rgba(75,88,249,.75) 29.55%,rgba(75,88,249,.1) 103.16%);
    }
}



// ------ #ACCENTUATE CONTROL
// Inline text highlighting using both methods of 
// emphasis: bold and italic altogether.
strong em,
em strong {
  @include apply-font(heading-4);
  --font-size: revert; 

  font-style: normal;
  color: var(--sm-current-accent-color);
} 


// ------ #DECORATIVE HEADINGS
// Alternative stylings for headings
// 1. Underline (Osteria)
// 2. Blocky (Bucket)

.is-style-fancy {
  
  // 1. Underline
  $underline-offset: 0.4em;

  .u-decorative-titles-underline & {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 2px;
    
    text-underline-offset: $underline-offset;
    border-bottom: $underline-offset solid transparent;
  }


  // 1. Blocky
  // Similar to Bucket theme.
  $blocky-padding: 0.25em;

  .u-decorative-titles-blocky & {
    background: var(--sm-current-accent-color);
    color: var(--sm-current-bg-color);

    display: flex;
    flex-direction: row;
    
    padding-top:    $blocky-padding * 1;
    padding-bottom: $blocky-padding * 1;

    padding-left:   $blocky-padding * 3;
    padding-right:  $blocky-padding * 3;

    &:after {
      content: " ";
      position: relative;
      border-radius: 0;

      background: var(--sm-current-fg1-color);
      height: auto;
      flex-grow: 1;

      margin-top:     $blocky-padding * -1;
      margin-bottom:  $blocky-padding * -1;

      margin-right:   $blocky-padding * -3;
      margin-left:    $blocky-padding *  3;
    }
  }
}


