html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    scroll-padding-top: var(--theme-sticky-header-height);
    --theme-body-final-font-size: var(--current-font-size);
    @include apply-font(body);
}

body {
    // We need overflow on X to be hidden,
    // because we are using a background on :before element
    // for entry-header on articles.
    overflow-x: hidden;
}
