html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    scroll-padding-top: var(--theme-header-height);
    --theme-body-final-font-size: var(--final-font-size);
    @include apply-font(body);
}
