@include placeholder() {
    color: var(--theme-input-placeholder-color);
    opacity: var(--theme-input-placeholder-opacity);
}

input {
    &:not([type]),
    &[type="text"],
    &[type="tel"],
    &[type="number"],
    &[type="date"],
    &[type="email"],
    &[type="password"],
    &[type="url"],
    &[type="search"] {
        @include input;
    }
}

input[type="checkbox"] {
    @include checkbox;

}

input[type="radio"] {
    @include radio;
}

input[type="submit"],
input[type="button"] {
    @include button;
    @include button-fill(false);
}

button[type="submit"] {
    @include button;
    @include button-fill;
}

input[type="reset"],
button[type="reset"] {
    @include button-reset;
    @include button-text;
}

input[type="file"] {
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    display: block;
    margin-bottom: 0 !important;
    padding: .75em 1.75em;
    border: 0 solid transparent;
    border-right-width: 1em;
    background-clip: padding-box;
    overflow: visible;

    font-weight: 600;
    text-align: center;

    color: var(--theme-input-color);
    background-color: var(--theme-input-background-color);

    vertical-align: middle;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
        background-color: var(--theme-input-background-color);
    }
}

textarea {
    @include textarea;
}

select {
    @include select;

    &[multiple] {
        background: none;
        padding-right: .8125em;
    }
}

fieldset {
    border: 0;

    legend {
        color: var(--theme-input-legend-color);
        padding: 0 !important;
    }

    > div {
        margin-top: var(--theme-input-vertical-spacing);
    }
}

label {
    @include label;
}

.input-normal-height {
    --theme-input-padding: .833em;
}

// Plugin: Ninja Forms
.nf-form-cont .list-radio-wrap,
.nf-form-cont .list-checkbox-wrap,
.nf-form-cont .list-image-wrap {
    .nf-field-element {
        li {
            input {
                width: var(--theme-checkbox-width) !important;
                margin-top: var(--theme-input-vertical-spacing);
                margin-right: var(--theme-input-horizontal-spacing);    
            }
        }
    }
}

.nf-form-cont .list-checkbox-wrap {
    .nf-field-element {
        li {
            input {
                margin-top: 0;
            }
        }
    }   
}
