@include placeholder() {
    color: var(--theme-input-placeholder-color);
    opacity: var(--theme-input-placeholder-opacity);
}

input {
    &:not([type]),
    &[type="text"],
    &[type="tel"],
    &[type="number"],
    &[type="date"],
    &[type="email"],
    &[type="password"],
    &[type="url"],
    &[type="search"] {
        @include input;
    }
}

input[type="checkbox"] {
    @include checkbox;

}

input[type="radio"] {
    @include radio;
}

input[type="submit"],
input[type="button"] {
    @include button;
    @include button-fill(false);
}

button[type="submit"] {
    @include button;
    @include button-fill;
}

input[type="reset"],
button[type="reset"] {
    @include button-reset;
    @include button-text;
}

input[type="file"] {
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    display: block;
    margin-bottom: 0 !important;
    padding: .75em 1.75em;
    border: 0 solid transparent;
    border-right-width: 1em;
    background-clip: padding-box;
    overflow: visible;

    font-weight: 600;
    text-align: center;

    color: var(--theme-input-color);
    background-color: var(--theme-input-background-color);

    vertical-align: middle;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
        background-color: var(--theme-input-background-color);
    }
}

textarea {
    @include textarea;
}

select {
    @include select;

    &[multiple] {
        background: none;
        padding-right: .8125em;
    }
}

fieldset {
    border: 0;

    legend {
        color: var(--theme-input-legend-color);
        padding: 0 !important;
    }

    > div {
        margin-top: var(--theme-input-vertical-spacing);
    }
}

label {
    @include label;
}

.input-normal-height {
    --theme-input-padding: .833em;
}





/*------------------------------------*\
  #PLUGIN - Ninja Forms
\*------------------------------------*/

/**
 * The Ninja Forms plugin successfully uses our Design System styling once the user disables the
 * plugin default styling.
 * 
 * It is required to set the 'Opinionated Style' option to 'None' from plugin Settings → Advanced 
 * Settings page to disable the plugin styles and use our Design System styling and tokens. 
 * @todo: it would be a great experience if we could find a way to disable it automatically.
 * 
 * Any observed issues should be overwritten and fixed using the same CSS rules structure
 * from the SASS source map files found in Chrome DevTools
 */

.nf-form-cont {
    .list-radio-wrap,
    .list-checkbox-wrap,
    .list-image-wrap {
        .nf-field-element {
            li {
                input {
                    // The default "width: auto !important" shrink and hide the fields
                    width: var(--theme-checkbox-width) !important;
                    margin-top: var(--theme-input-vertical-spacing);
                    margin-right: var(--theme-input-horizontal-spacing);    
                }
            }
        }
    }
}

.nf-form-cont .list-checkbox-wrap {
    .nf-field-element {
        li {
            input {
                margin-top: 0;
            }
        }
    }   
}

// st-label-positions.scss
.label-right {
    .checkbox-wrap {
        .nf-field-label {
            padding-left: 0;
        }

        .nf-field-element[class] {
            width: auto;
            margin-right: var(--theme-input-horizontal-spacing);
        }
    }
}   

.nf-field-label {
    .label-hidden & {
        order: 999; // move the hidden fields at the end of the list to remove the top spacing created by it
    }

    &:empty {
        display: none;
    }
}

/**
 * We rely on the plugin default inline validation for fields and
 * we could hide the required fields notices as they could divert
 * the user's attention before any interaction with the form. 
 */
.nf-form-fields-required,
.ninja-forms-req-symbol {
    display: none;
}

/**
 * Set error color to use the Design System tokens
 */
.nf-form-cont {
    .nf-error-msg, 
    .ninja-forms-req-symbol {
        color: var(--theme-input-error-color);
        font-size: 0.8rem;
    }

    .nf-error {
        .ninja-forms-field {
            --theme-input-box-shadow: var(--theme-input-error-box-shadow);
            --theme-input-color: var(--theme-input-error-color);

            border-width: 0;
        }
    }
}

.nf-error-wrap {
    margin-top: var(--theme-spacing-smallest);
}



.nf-field-description {
    margin-bottom: var(--theme-spacing-smallest);

    .label-above & {
        margin-top: calc(var(--theme-spacing-smallest) * -1);
    }

    * {
        color: var(--sm-current-fg1-color) !important;
        font-size: 0.8rem !important;
    }
}



.nf-input-limit:empty {
    display: none;
}

.field-wrap { 
    textarea {
        display: block;
    }
}

.nf-row {
    // Set the last elements align with the bottom of the container
    &:last-child .nf-field-container {
        margin-bottom: 0;
    }
}
