h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--current-font-weight);
  color: var(--current-color);
}

h1, .h1 {
  @include apply-font(heading-1);
  @include font-feature();
}

h2, .h2 {
  @include apply-font(heading-2);
  @include font-feature();
}

h3, .h3 {
  @include apply-font(heading-3);
}

h4, .h4 {
  @include apply-font(heading-4);
}

h5, .h5 {
  @include apply-font(heading-5);
}

h6, .h6 {
  @include apply-font(heading-6);
}
