// Keep this as tidy as possible

/* Embeds */
.fb_iframe_widget > span {
    display: block;
    max-width: 100%;
}

iframe.instagram-media {
    max-width: 100% !important;
    min-width: 0 !important;
    margin-right: 0 !important;
}

.is-style-lead {
    @include apply-font(lead);
}

img:not([srcset]):not(.is-loaded) {
    opacity: 0;

    .gm-style & {
        opacity: 1;
    }
}

// We need this to overwrite normalize font: inherit
// @todo: Move to a more appropriate file
button,
input,
optgroup,
select,
textarea {
    font-family: var(--current-font-family);
    text-transform: var(--current-text-transform);
    font-weight: var(--current-font-weight);
}

.has-no-padding-bottom {
    @include remove-site-content-padding-bottom;
}

.social-menu-item,
.menu-item--dark-mode,
.menu-item--search {
    --theme-header-links-spacing-multiplier: 0.5;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {

    &[class] {
        color: var(--sm-fg1-color-1);

        &:after {
            border: 1px solid var(--sm-bg-color-4);
            background-color: var(--sm-bg-color-4);
        }

        .theme-woocommerce-notice__icon {
            opacity: 1;
        }
    }
}

.sm-dark,
html.is-dark .sm-light {
    --logo-default-opacity: 0;
    --logo-inverted-opacity: 1;
}

.sm-light {
    --logo-default-opacity: 1;
    --logo-inverted-opacity: 0;
}

.sm-color-signal-0 {
    background: none;

    --sm-current-bg-color: inherit;
    --sm-current-fg1-color: inherit;
    --sm-current-fg2-color: inherit;
    --sm-current-accent-color: inherit;
}

/* Additional media query styles for Color Signal */

@include below(tablet) {
    @for $i from 1 through 12 {
        .sm-variation-#{ $i }\@below-tablet[class] {
            @include apply-variation( $i );
        }
    }
}

/* Color signal defaul styles for WooCommerce notifications */

.woocommerce-error {
    @include apply-palette(_error);
}

.woocommerce-message {
    @include apply-palette(_success);
}

.woocommerce-info {
    @include apply-palette(_info);
}

/* Fallback Styles for Color Signal */

.is-style-dark {
    @include apply-variation(9);
}

.is-style-darker {
    @include apply-variation(11);
}

.is-style-accent {
    @include apply-variation(6);
}

.novablocks-announcement-bar {

    &.is-style-accent {
        background-color: var(--sm-current-bg-color);
        @include apply-variation(6);
    }

    &.is-style-alternative {
        background-color: var(--sm-current-bg-color);
        @include apply-palette(2);
        @include apply-variation(6);
    }

    &.is-style-alert {
        background-color: var(--sm-current-bg-color);
        @include apply-palette(_error);
        @include apply-variation(7);
    }
}

.novablocks-media {

    &.has-secondary-accent-color .novablocks-block {
        @include apply-palette(2);
    }

    &.has-tertiary-accent-color .novablocks-block {
        @include apply-palette(2);
    }
    
}

.novablocks-opentable {

    &:not([class*='sm-palette-']):not([class*='sm-variation-']) {
        @include apply-variation(10);
    }
}

/* End Fallback Styles for Color Signal */

.wp-block-group__inner-container > *:not([class*='alignfull']) {
    width: 100%;
}

/* START body margin hack
contain inline margin set to #content
@todo find a better way o doing this
*/
body {
    float: left;
    width: 100%;
}

html {
    @include clearfix;
}
/* END body margin hack */

body {
    // @todo why?
    --page-background-color: var(--sm-bg-color-1);
}

/* Site Content */
.site-content {
    padding-top: var(--theme-spacing-fluid-larger);
    padding-bottom: var(--theme-spacing-fluid-larger);

    body.has-no-spacing-top & {
        padding-top: 0;
    }

    body.has-no-spacing-bottom & {
        padding-bottom: 0;
    }
}

/* Hero bullets size fix */
.c-bully {
    --current-font-size: 12px;
}

.novablocks-collection {
    position: relative;
}
