// Keep this as tidy as possible

/* Embeds */
.fb_iframe_widget > span {
    display: block;
    max-width: 100%;
}

iframe.instagram-media {
    max-width: 100% !important;
    min-width: 0 !important;
    margin-right: 0 !important;
}

.is-style-lead {
    @include apply-font(lead);
}

img:not([srcset]):not(.is-loaded) {
    opacity: 0;

    .gm-style & {
        opacity: 1;
    }
}

// We need this to overwrite normalize font: inherit
// @todo: Move to a more appropriate file
button,
input,
optgroup,
select,
textarea {
    @include apply-font-properties;
}

.has-no-padding-bottom {
    @include remove-site-content-padding-bottom;
}

.social-menu-item,
.menu-item--dark-mode,
.menu-item--search {
    --theme-header-links-spacing-multiplier: 0.5;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {

    &[class] {
        // color: var(--sm-fg1-color-1);

        &:after {
            // border: 1px solid var(--sm-bg-color-4);
            // background-color: var(--sm-bg-color-4);
        }

        .theme-woocommerce-notice__icon {
            opacity: 1;
        }
    }
}





/*------------------------------------*\
  #STYLE MANAGER STATES: DARK / LIGHT
\*------------------------------------*/

/**
 * Light and Dark classes indicates the container brightness in a binary system. 
 * Could be used to switch between black and white colors or elements visibility:
 * 1) .sm-light: the container has a lower color grade (eg. variation 1-5) usually with dark text over a light background
 * 2) .sm-dark: the container has a higher color grade (eg. variation 6-11) usually with light text over a dark background
 * 3) html.is-dark: the dark mode is active (eg. using the navigation toggle)
 */

.sm-dark,
html.is-dark .sm-light {
    --logo-default-opacity: 0;
    --logo-inverted-opacity: 1;
    // --opacity-color: 224, 103, 73;
    // --opacity-color: 0, 0, 0;
    --opacity-level: 0.3;
}

.sm-light {
    --logo-default-opacity: 1;
    --logo-inverted-opacity: 0;
    // --opacity-color: 255, 255, 255; // Default
    // --opacity-level: 0.7; // Default
}






.sm-color-signal-0 {
    background: none;

    --sm-current-bg-color: inherit;
    --sm-current-fg1-color: inherit;
    --sm-current-fg2-color: inherit;
    --sm-current-accent-color: inherit;
}

/* Additional media query styles for Color Signal */

@include below(tablet) {
    @for $i from 1 through 12 {
        .sm-variation-#{ $i }\@below-tablet[class] {
            @include apply-variation( $i );
        }
    }
}

/* Color signal defaul styles for WooCommerce notifications */

// @todo change notification classnames and add sm-palette-_error and sm-variation-1
.woocommerce-error {
    @include apply-palette(_error);
}

.woocommerce-message {
    @include apply-palette(_success);
}

.woocommerce-info {
    @include apply-palette(_info);
}

/* Fallback Styles for Color Signal */

.is-style-dark {
    @include apply-variation(9);
}

.is-style-darker {
    @include apply-variation(11);
}

.is-style-accent {
    @include apply-variation(6);
}

.novablocks-announcement-bar {

    &.is-style-accent {
        background-color: var(--sm-current-bg-color);
        @include apply-variation(6);
    }

    &.is-style-alternative {
        background-color: var(--sm-current-bg-color);
        @include apply-palette(2);
        @include apply-variation(6);
    }

    &.is-style-alert {
        background-color: var(--sm-current-bg-color);
        @include apply-palette(_error);
        @include apply-variation(7);
    }
}

.novablocks-media {

    &.has-secondary-accent-color .novablocks-block {
        @include apply-palette(2);
    }

    &.has-tertiary-accent-color .novablocks-block {
        @include apply-palette(2);
    }
    
}

.novablocks-opentable {

    &:not([class*='sm-palette-']):not([class*='sm-variation-']) {
        @include apply-variation(10);
    }
}

/* End Fallback Styles for Color Signal */

.wp-block-group__inner-container > *:not([class*='alignfull']) {
    width: 100%;
}

/* START body margin hack
contain inline margin set to #content
@todo find a better way o doing this
*/
body {
    float: left;
    width: 100%;
}

html {
    @include clearfix;
}
/* END body margin hack */


/* Site Content */
.site-content {
    padding-top: var(--theme-spacing-fluid-larger);
    padding-bottom: var(--theme-spacing-fluid-larger);

    body.has-no-spacing-top & {
        padding-top: 0;
    }

    body.has-no-spacing-bottom & {
        padding-bottom: 0;
    }
}

/* Hero bullets size fix */
.c-bully {
    --current-font-size: 12px; // @todo: not working anymore; hero bullets are large
}

.novablocks-collection {
    position: relative;
}

mark {
    background: none;
    color: inherit;
}




/*------------------------------------*\
  #BLOCK PATTERNS SHOWCASE
\*------------------------------------*/

// Page with custom `.block-patterns` CSS class
body.block-patterns {
    background: #F5F5F5;
    background: var(--sm-bg-color-2);
}

// Use a Group block with `.showcase-block-title` CSS class
// to mark the title and description for the following Block Pattern
.showcase-block-title {
    position: relative;

    * {
        font-weight: 400 !important;
        font-family: system-font-sans-serif-clear, "SF Pro Display", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif !important; 
    }

    @include above(tablet) {
        .wp-block-group__inner-container > * {
            margin-left: 7.5%;
        }

        &:before {
            content: " ";
            position: absolute;
            top: 20px;
            left: 0px;
            width: 30px;
            height: 0px;
            border-top: 2px solid var(--sm-current-fg1-color);
            border-left: 2px solid var(--sm-current-fg1-color);
        }
    }
}


// The next block after the title is considered a Block Pattern
.showcase-block-title + div {

    @include above(tablet) {
        border: 1.25px solid #E5E6E8;
        border-radius: 8px;
        overflow: hidden;
        
        // Resize the block for better overview
        transform-origin: 50% 0%;
        transform: scale(0.8);
    
        // Reset block spacing
        --nb-emphasis-top-spacing: 1 !important;
        --nb-emphasis-bottom-spacing: 1 !important;
    }

}