$assets-folder-path: '../../assets';

@import "setup";
@import "social-links";

@import "components/dark-mode-button";
@import "components/search-button";

.editor-post-title .editor-post-title__input {
    @include apply-font(heading-1);
    --current-font-weight: 800;
    --current-line-height: 1.2;
}

.wp-block:not([data-align="wide"]):not([data-align="full"]) {
    max-width: 100%;
}


/* Typography */
:root {
    --font-size: var(--theme-body-font-size);
    --theme-body-final-font-size: var(--final-font-size);
}

.editor-styles-wrapper {
    -webkit-font-smoothing: antialiased;

    @import "components/site-branding";

    // forms.scss may be needed for properly styling the input inside the novablocks sharing overlay
    @import "elements/forms";
    @import "elements/lists";

    [class*="__inner-container"] {
        @include wrapper;
    }

    // increased specificity selector to overwrite default styles
    &[class] {
        @import "elements/headings";
        @import "elements/base";
        @import "elements/iframe";
        @import "elements/pre";
        @import "elements/tables";
        @import "elements/styles";

        @include apply-font(body);

        background-color: var(--sm-current-bg-color);
        color: var(--sm-current-fg1-color);

        p {
            font: inherit;
        }

        textarea {
            min-height: 100%;
        }
    }

    @import "elements/links";
    @import "elements/media";

    blockquote {
        margin: 0;
    }

    [class*="wp-block"] {
        clear: none;
    }

    .wp-block-buttons {
        .block-list-appender {
            margin-bottom: 0;
        }
    }
}

/* Post Title Block */
.post-type-page {

    .editor-post-title__block {
        max-width: none;

        .editor-post-title__input {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            font-size: initial;
            font-weight: normal;
            line-height: 1.4;
        }

        &:not(.is-selected) .editor-post-title__input {
            border-bottom: 1px dashed rgba(123,134,162,.3);
        }
    }
}

.editor-post-title__block .editor-post-title__input {
    color: var(--sm-current-fg2-color);

    &:focus {
        color: var(--sm-current-fg2-color);
    }
}

/* Hide Text Settings Panel */
.blocks-font-size {
    display: none;

    &:first-child + .components-panel__body {
        margin-top: 16px;
    }
}

/* Hide Useless Heading Values */
.components-toolbar {

    [aria-label="Heading 4"],
    [aria-label="Heading 5"],
    [aria-label="Heading 6"] {
        display: none;
    }
}

/* Center block appender */
.block-list-appender {
    margin-left: auto;
    margin-right: auto;
}

.is-dark-theme {

    .c-logo__default {
        display: none;
    }

    .c-logo__inverted {
        display: block;
    }

}

.wp-block[data-type="core/buttons"] {

    .block-editor-inner-blocks {
        width: 100%;
    }

    &[data-align="center"] {

        .block-editor-block-list__layout {
            justify-content: center;
        }
    }

    &[data-align="right"] {

        .block-editor-block-list__layout {
            justify-content: flex-end;
        }
    }
}

.block-editor-block-list__layout {
    > &:not([data-type="novablocks/sidecar"]),
    > &:not(.alignfull),
    > &:not(.alignwide) {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.wp-block-widget-area {
    .block-editor-inner-blocks {
        .block-editor-block-list__layout {

            > :not(:first-child) {
                --element-spacing: var(--theme-spacing-fluid-small);
                margin-top: var(--element-spacing);
            }
        }
    }

    * {
        --font-size-modifier: 0.75;
    }

    form,
    input,
    button,
    select {
        --font-size-modifier: 1;
    }
}
