$assets-folder-path: '../../assets';

@import "setup";
@import "social-links";

@import "components/navigation-icons";

.block-editor-button-block-appender {
    box-shadow: inset 0 0 0 1px currentColor;
    color: inherit;
}

/* Typography */
:root {
    --font-size: var(--theme-body-font-size);
    --theme-body-final-font-size: var(--current-font-size);
}

.editor-styles-wrapper {
    -webkit-font-smoothing: antialiased;

    * {
        @include apply-font-properties;
    }

    @import "components/site-branding";

    // forms.scss may be needed for properly styling the input inside the novablocks sharing overlay
    @import "elements/forms";

    // increased specificity selector to overwrite default styles
    &[class] {
        @import "elements/headings";
        @import "elements/base";
        @import "elements/iframe";
        @import "elements/pre";
        @import "elements/dropcap";
        @import "elements/tables";
        @import "elements/styles";

        @include apply-font(body);

        background-color: var(--sm-current-bg-color);
        color: var(--sm-current-fg1-color);

        p {
            font: inherit;
        }
    }

    @import "elements/links";
    @import "elements/media";

    blockquote {
        margin-left: 0;
        margin-right: 0; 
    }

    [class*="wp-block"] {
        clear: none;
    }

    .wp-block-buttons {
        .block-list-appender {
            margin-bottom: 0;
        }
    }
}

/*------------------------------------*\
  #EDITOR TITLE
\*------------------------------------*/

// Post Type: Post
.editor-post-title .editor-post-title__input {
    @include apply-font(heading-1);
    --current-font-weight: 800;
    --current-line-height: 1.2;
}

.editor-styles-wrapper[class] {

    // GENERAL POST TYPE
    // Title is shown only within the Editor for content management purposes.
    // Give it a minimal style it so it doesn't draw attention from the main content. 
    
    .block-editor-page:not(:is(.post-type-post)) & {

        .edit-post-visual-editor__post-title-wrapper {
            max-width: none;
            margin-top: 0;
            background: white;

            :is(.editor-post-title__input, [data-rich-text-placeholder]) {
                margin: 0;

                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 1;
                letter-spacing: 0;
                text-transform: none;
                color: #1e1e1e;
            }

            .editor-post-title__input {
                min-height: 48px; // Match the right Components Panel header
                padding: 0.75em 1em; 

                display: flex;
                align-items: center;

                grid-column: var(--block-full-start)/var(--block-full-end);
            }

            [data-rich-text-placeholder] {
                font-size: revert;
            }

            &:not(.is-selected) .editor-post-title__input {
                border-bottom: 1px solid #ddd;
            }
        }
    }

    // Root blocks container
    .is-root-container {
        // Add some top spacing to the first block
        > .wp-block:first-child:not(:is(.nb-supernova, .wp-block-query)) {
            padding-top: var(--theme-content-spacing);
        }
    }


    // POSTS POST TYPE
    // Title is shown both within Editor and the Frontend.
    // Seek to match the styles and provide a consistent experience.
    .block-editor-page:is(.post-type-post) & {
        padding: var(--theme-content-spacing) 0;

        .edit-post-visual-editor__post-title-wrapper {
             margin-top: 0;

            .editor-post-title__input {
                margin: 0;

                // Align title with the content
                grid-column: var(--block-content-start)/var(--block-content-end);
            }
        }

    }
}





/* Hide Text Settings Panel */
.blocks-font-size {
    display: none;

    &:first-child + .components-panel__body {
        margin-top: 16px;
    }
}

.c-logo__inverted {
  display: none;
}

.is-dark-theme {

    .c-logo__default {
        display: none;
    }

    .c-logo__inverted {
        display: block;
    }

}

.wp-block[data-type="core/buttons"] {

    .block-editor-inner-blocks {
        width: 100%;
    }

    &[data-align="center"] {

        .block-editor-block-list__layout {
            justify-content: center;
        }
    }

    &[data-align="right"] {

        .block-editor-block-list__layout {
            justify-content: flex-end;
        }
    }
}

.wp-block-widget-area {
    .block-editor-inner-blocks {
        .block-editor-block-list__layout {

            > :not(:first-child) {
                --element-spacing: var(--theme-spacing-fluid-normal);
                margin-top: var(--element-spacing);
            }
        }
    }

    * {
        --font-size-modifier: 0.75;
    }

    form,
    input,
    button,
    select {
        --font-size-modifier: 1;
    }
}
