@import "setup";

$fontsPath: '../../assets/fonts/custom-fontawesome';

@font-face {
    font-family: 'rosa2_icons';
    src: url('#{$fontsPath}/icons.eot?kdq7n6');
    src: url('#{$fontsPath}/icons.eot?kdq7n6#iefix') format('embedded-opentype'),
    url('#{$fontsPath}/icons.ttf?kdq7n6') format('truetype'),
    url('#{$fontsPath}/icons.woff?kdq7n6') format('woff'),
    url('#{$fontsPath}/icons.svg?kdq7n6#rosa2_icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

$social-links-urls: (
    "facebook": "\f09a",
    "twitter": "\f099",
    "instagram": "\f16d",
    "youtube": "\f167",
    "pinterest": "\f0d2",
    "dropbox": "\f16b",
    "flickr": "\f16e",
    "tumblr": "\f173",
    "apple": "\f179",
    "dribbble": "\f17d",
    "skype": "\f17e",
    "foursquare": "\f180",
    "vk": "\f189",
    "reddit": "\f1a1",
    "stumbleupon": "\f1a4",
    "delicious": "\f1a5",
    "digg": "\f1a6",
    "behance": "\f1b4",
    "spotify": "\f1bc",
    "deviantart": "\f1bd",
    "soundcloud": "\f1be",
    "codepen": "\f1cb",
    "slideshare": "\f1e7",
    "twitch": "\f1e8",
    "yelp": "\f1e9",
    "medium": "\f23a",
    "tripadvisor": "\f262",
    "pocket": "\f265",
    "500px": "\f26e",
    "amazon": "\f270",
    "vimeo": "\f27d",
    "snapchat": "\f2ab",
    "bandcamp": "\f2d5",
    "etsy": "\f2d7",
    "meetup": "\f2e0",
    "tel:": "\f095",
    "mailto:": "\f0e0",
    "feed": "\f09e",
);

$social-links-selector: '';
@each $url, $content in $social-links-urls {
    @if ($social-links-selector == '') {
        $social-links-selector: '[href*="#{$url}"]';
    } @else {
        $social-links-selector: $social-links-selector + ', [href*="#{$url}"]';
    }
}

:root {
    --enable-social-icons: 1;
}

.site-header__menu {
    #{$social-links-selector} {
        --is-social: 1;
    }
}

.social-menu-item {

    > a {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 0;
        transition: var(--theme-transition);
        transition-property: opacity;

        @include above(lap) {
            margin-left: -.5rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            font-size: calc( 1.1 * var(--final-font-size) );
            vertical-align: middle;

            font-family: 'rosa2_icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        @each $url, $content in $social-links-urls {
            &[href*="#{$url}"]:before {
                content: $content;
            }
        }
    }

    @include below(lap) {
        display: inline-block;

        &:not(:last-child) {
            margin-right: var(--theme-spacing-small);
            margin-bottom: var(--theme-spacing-micro);
        }
    }
}
