/* Editor: Blank Separator style */
@mixin block-spacing-background {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAEdJREFUKFNj/M/w/z8jAyMjAxpAFwcrQBfEphluEiHFKFbiU0zQbTCnYyjE5maQGFbPYFOM4RlkdyKz8XoG2WScwYMc/iCTAaoeOQhvXNAbAAAAAElFTkSuQmCC);
}

.wp-block-separator {

    // Custom editor styling for Blank style separator
    &.is-style-blank {
        min-height: 0.2em;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            top: calc(var(--nb-block-top-spacing) * var(--nb-current-spacing) * -1);
            bottom: calc(var(--nb-block-bottom-spacing) * var(--nb-current-spacing) * -1);

            opacity: 0;
            transition: opacity 0.2s ease 0.3s;
            
            @include block-spacing-background;

        }

        &:is(:hover, :focus, .is-selected):before {
            opacity: 1;
            cursor: pointer;
        }

        .c-separator {

        }
    }
}