.ot-dtp-picker {
  &.wide {
    .ot-dtp-picker-form {
      .ot-dtp-picker-button {
        background: linear-gradient(to right, var(--theme-light-primary) 50%, var(--theme-dark-primary) 50%);
        background-size: 200% 100%;
        background-position: right bottom;

        border: 2px solid var(--theme-dark-primary);
        transition: all .4s var(--theme-button-transition-easing);

        border-radius: 0;

        &:hover {
          background-position:left bottom;
          color: var(--theme-dark-primary);
        }
      }
    }
  }

  &.standard {
    .ot-dtp-picker-form {
      .ot-dtp-picker-button {
        background: linear-gradient(to right, var(--theme-dark-primary) 50%, var(--theme-light-primary) 50%);
        background-size: 200% 100%;
        background-position:right bottom;

        border: 2px solid var(--theme-light-primary);
        transition: all .4s var(--theme-button-transition-easing);

        border-radius: 0;

        &:hover {
          background-position:left bottom;
          border-color: currentColor;
          color: var(--theme-light-primary);
        }
      }
    }
  }
}
