.ot-dtp-picker {
  &.wide {
    .ot-dtp-picker-form {
      .ot-dtp-picker-button {

        --theme-button-hover-background-color: var(--theme-light-primary);
        --theme-button-hover-text-color: var(--theme-dark-primary);
        --theme-button-background-color: var(--theme-dark-primary);
        --theme-button-border-color: var(--theme-dark-primary);
        --theme-button-text-color: var(--theme-light-primary);

        @include button-fill;
        @include button-transition;

        color: var(--theme-button-text-color);

        &:hover {
          color: var(--theme-button-hover-text-color);
        }
      }
    }
  }

  &.standard {
    .ot-dtp-picker-form {
      .ot-dtp-picker-button {

        --theme-button-hover-background-color: var(--theme-dark-primary);
        --theme-button-hover-text-color: var(--theme-lightprimary);
        --theme-button-background-color: var(--theme-light-primary);
        --theme-button-border-color: var(--theme-light-primary);
        --theme-button-text-color: var(--theme-dark-primary);

        @include button-fill;
        @include button-transition;

        color: var(--theme-button-text-color);

        &:hover {
          color: var(--theme-button-hover-text-color);
        }
      }
    }
  }
}


.novablocks-opentable {
  &.novablocks-opentable__wide[class] {
    .ot-dtp-picker-selector[class][class] {
      border-color: var(--current-dark-secondary);

      .ot-dtp-picker-selector-link {
        color: var(--current-dark-secondary);

        &:before {
          color: currentColor;
        }

        &:after {
          color: currentColor;
        }
      }
    }
  }
}
