.site-header {

    // Load default settings for buttons
    --theme-button-padding: .25em 1em;

    --theme-button-text-color: var(--sm-dark-primary);
    --theme-button-background-color: var(--sm-light-primary);
    --theme-button-border-color: var(--sm-light-primary);

    --theme-button-hover-text-color: var(--sm-light-primary);
    --theme-button-hover-background-color: transparent;
    --theme-button-hover-border-color: var(--sm-light-primary);

    &--scrolled,
    body:not(.has-no-spacing-top) & {
       @include above(lap) {
           --theme-button-text-color: var(--sm-current-background-color);
           --theme-button-background-color: var(--sm-current-darker-color);
           --theme-button-border-color: var(--sm-current-darker-color);

           --theme-button-hover-text-color: var(--sm-current-darker-color);
           --theme-button-hover-background-color: transparent;
           --theme-button-hover-border-color: var(--sm-current-darker-color);
       }
    }

    .menu-item-has-children,
    .page_item_has_children {

        &[class] > a {

            &:after {
                content: "";
                position: static;

                display: inline-block;
                width: 0.5em;
                height: 0.5em;

                border-right: 0.1em solid currentColor;
                border-bottom: 0.1em solid currentColor;

                transform: translateY(-10%) rotate(45deg);
                transition: var(--theme-transition);
                transition-property: transform, opacity;

                margin-left: 0.75em;
                opacity: .5;
            }
        }

        @media only screen and (min-width: 1000px) {

            &.hover {

                > .sub-menu,
                > .children {
                    transform: translateZ(0);
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            &:focus-within {

                > .sub-menu,
                > .children {
                    transform: translateZ(0);
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        @media not screen and (min-width: 1000px) {

            &:not(.hover) {

                > .sub-menu,
                > .children {
                    display: none;
                }
            }

            > .sub-menu,
            > .children {
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .menu-item {

        position: relative;

        &.is-external-link {
            @include header-menu-item-is-external-link;
        }

        &.is-cta-button {
            @include header-menu-item-is-cta-button;
        }
    }

    @media only screen and (min-width: 1000px) {

        .menu-item-has-children,
        .page_item_has_children {

            .menu-item {

                &:after {
                    content: '';

                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    width: 100%;
                    height: 100%;
                    background-color: currentColor;

                    opacity: 0;
                }

                &:hover:after,
                &:focus-within:after {
                    opacity: .05;
                }
            }
        }

        > ul.menu,
        > .menu > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        .sub-menu,
        .children {

            transform: translate3d(0, -.75em, 0);
            opacity: 0;

            width: 15.625em;
            padding: .75em 0;

            background-color: var(--sm-current-background-color);
            color: var(--sm-current-darker-color);

            border-radius: 0.1875em;
            box-shadow: 0 0.25em 2em rgba(0, 0, 0, 0.1), 0 0.125em 0.25em rgba(0, 0, 0, 0.1);

            transition: all .2s $easeInOut;

            z-index: 100;

            pointer-events: none;

            a {
                position: relative;
                padding-left: 1.25em;
                padding-right: 1.875em;

                &:after {
                    position: absolute;
                    right: 1em;
                }
            }
        }

        .has-submenu-left {

            > .sub-menu,
            > .children {
                left: auto;
                right: 0;
            }
        }

        .sub-menu .menu-item-has-children,
        .children .page_item_has_children {

            > a:after {
                transform: rotate(-45deg);
            }

            .sub-menu,
            .children {
                top: -.75em;
                left: calc(100% - .625em);
            }

            &.has-submenu-left {

                .sub-menu,
                .children {
                    left: auto;
                    right: calc(100% - .625em);
                }
            }
        }

        :not(:hover) > .sub-menu,
        :not(:hover) > .children {
            display: block;
        }

        .site-header__menu {

            > ul.menu,
            > .menu > ul {

                > li:not(.social-menu-item):not([class*="weglot"]):not(.is-cta-button):not(.icon-only) {
                    @include header-menu-item-with-hover-animation;
                }

                > li[class*="current"]:not(.menu-item-home) {
                    @include specific(3) {
                        @include header-menu-item-with-active-state;
                    }
                }
            }
        }
    }
}

.navigation-is-open {
    overflow: hidden;
}
