.c-menu-toggle {
    margin: 0 !important;
}

.c-menu-toggle__wrap {
    position: relative;

    padding-left: var(--theme-wrapper-sides-spacing);
}

.c-menu-toggle__slice {
    display: block;
    width: 21px; // @todo check
    height: 2px;
}

.c-menu-toggle__slice--middle {
    width: 16px;
}

.c-menu-toggle__slice--top {
    transform: translate3d(0, -7px, 0);
}

.c-menu-toggle__slice--bottom {
    transform: translate3d(0, 7px, 0);
}
