@mixin header-background {

    &:before {
        content: '';

        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background-color: var(--sm-current-background-color);
        opacity: var(--header-background-opacity, 0);

        transition: var(--theme-transition);
        transition-property: opacity;
    }
}

@mixin header-shadow {
    &:after {
        content: "";
        display: block;
        @include cover;
        box-shadow: var(--shadow-color, #000000) 0 var(--shadow-y-offset, 0.0625em) var(--shadow-blur, 0.125em);
        opacity: 0;
        pointer-events: none;
        transition: var(--theme-transition);
        transition-property: opacity;
        z-index: -1;
    }
}

@mixin header-menu-item-with-hover-animation {
    position: relative;

    > a {
        &:before {
            content: '';

            position: absolute;
            bottom: var(--header-links-bottom-spacing); // Margin bottom applied on header links

            width: 100%;
            height: 3px;

            background: currentColor;

            transform: scale3d(0, 1, 1);
            transform-origin: right;

            transition: var(--theme-transition);
            transition-property: transform;

            will-change: transform;
            -webkit-backface-visibility: hidden;
        }

        &:hover:before {
            transform: scale3d(1, 1, 1);
            transform-origin: left;
        }
    }

    &.menu-item-has-children > a:before {
        width: calc(100% - 1.25em);
        right: 1.25em;
    }
}

@mixin header-menu-item-with-active-state {
    > a {
        &:before {
            transform: scale3d(1, 1, 1);
            transform-origin: left;
        }

        &:hover:before {
            transform: scale3d(0, 1, 1);
            transform-origin: right;
        }
    }
}

@mixin header-menu-item-is-external-link {

    position: relative;

    a {

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            margin-left: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid currentColor;
            transform: rotate(45deg);
            right: auto;
            opacity: .5;
        }
    }
}

@mixin header-menu-item-is-cta-button {

    display: flex;
    align-items: center;

    a {
        // Apply button properties
        @include button-box;
        @include button-background;
        @include button-color;
        @include apply-font(button);
        @include button-fill;

        transition: var(--theme-button-transition);

        // Overwrite default button colors
        --current-button-background-color: var(--theme-button-background-color);
        --current-button-border-color: var(--theme-button-border-color);
        --current-button-text-color: var(--theme-button-text-color);
        --current-button-transition: var(--theme-button-transition);

        margin-bottom: 0;

        @include below(lap) {
            width: 100%;
            margin: .75em 0;

            text-align: center;
        }

        &:hover {
            // Overwrite default button hover colors
            --current-button-background-color: var(--theme-button-hover-background-color);
            --current-button-border-color: var(--theme-button-hover-border-color);
            --current-button-text-color: var(--theme-button-hover-text-color);
            --current-button-transition: var(--theme-button-hover-transition);
        }
    }
}
