.site-header--mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--theme-spacing-fluid-medium) var(--theme-wrapper-sides-spacing);

    --shadow-color: rgba(0, 0, 0, 0.25);
    --shadow-y-offset: 4px;
    --shadow-blur: 4px;

    .menu-item--cart {
        display: flex;

        position: absolute;
        top: 50%;
        right: calc( var(--theme-wrapper-sides-spacing) + .5em );

        transform: translateY(-50%);

        > a {
            color: currentColor;
            transition: color .3s ease-out;
        }
    }
}

.site-header {

    [class*="__inner-container"] > .alignfull {
        margin-left: 0;
        margin-right: 0;
    }
}

@include above(lap) {

    .site-header__content {
        padding-top: 0 !important;
    }

    .site-header--mobile {
        display: none;
    }
}

@include below(lap) {

    .site-header--main:before {
        opacity: 0.95;
    }

    .site-header--main .site-branding,
    .menu-item--cart {
        display: none !important;
    }

    .site-header__menu {

        .sub-menu {
            margin-left: calc(var(--theme-wrapper-sides-spacing) * -1);
            margin-right: calc(var(--theme-wrapper-sides-spacing) * -1);

            > li {
                padding-left: var(--theme-wrapper-sides-spacing);
                padding-right: var(--theme-wrapper-sides-spacing);
            }
        }
    }

    .site-header__content,
    .search-button__wrapper {

        @include specific(3) {

            .c-menu-toggle__checkbox:checked ~ .site-header & {
                opacity: 1;
                transition: opacity .1s $easeOut .25s;
            }

            .c-menu-toggle__checkbox:not(:checked) ~ .site-header & {
                opacity: 0;
                transition: opacity .075s $easeOut 0s;
            }
        }
    }
}

.has-fixed-mobile-site-header {

    .site-header {
        top: 0;
    }

    .site-header--mobile,
    .c-menu-toggle {
        transform: none !important;
    }
}

body:not(.has-fixed-mobile-site-header) {

    .site-header--mobile,
    .c-menu-toggle {
        position: absolute;
        top: var(--admin-bar-height, 0);
    }
}
