.site-header,
.c-menu-toggle__slice {
    transition: transform .3s ease-out;
}

.c-menu-toggle {
    transition: color .3s ease-out;
}

.c-menu-toggle__checkbox {

    &:not(:checked) {

        ~ .c-menu-toggle:before {
            pointer-events: none;
            opacity: 0;
        }
    }

    &:checked  {

        ~ .c-menu-toggle {
            color: var(--sm-light-primary);

            .c-menu-toggle__slice--top {
                transform: rotate(45deg);
            }

            .c-menu-toggle__slice--middle {
                opacity: 0;
            }

            .c-menu-toggle__slice--bottom {
                transform: rotate(-45deg);
            }
        }
    }
}
