.site-header-sticky {
	position: fixed;
	top: 0;
	
	width: 100%;
	z-index: 1100;
	
	padding-left: var(--theme-header-sides-spacing);
	padding-right: var(--theme-header-sides-spacing);
	
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	
	transition: opacity .3s $easeIn;
	
	&--is-visible {
		top: var(--admin-bar-height, 0);
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}
	
	--header-background-opacity: 0.95;
	
	@include header-background;
	@include header-shadow;
	
	&:after {
		opacity: 0.1;
	}
	
	.site-header__row--logo {
		margin-top: var(--theme-spacing-tiny);
		margin-bottom: var(--theme-spacing-tiny);
	}
	
	.site-header__menu--secondary,
	.site-header__menu--tertiary {
		[class*='container'] {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	
	.site-header__row--primary:only-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		padding-top: var(--theme-spacing-tiny);
		padding-bottom: var(--theme-spacing-tiny);
		
		&.is--multi-row {
			justify-content: center;
		}
	}
	
	ul.menu,
	.menu > ul {
		display: flex;
		justify-content: center;
	}
	
	.site-branding {
		justify-content: center;
	}
	
	&:hover {
		.site-header__row--primary:not(:only-child) {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
		}
	}
	
	.site-header__row--primary:not(:only-child) {
		position: absolute;
		width: 100%;
		margin-left: calc(-1 * var(--theme-header-sides-spacing));
		margin-right: calc(-1 * var(--theme-header-sides-spacing));
		transform: translateY(-100%);
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		transition: transform 0.2s ease 0s, opacity 0.1s ease 0.1s;
		
		@include header-background;
		@include header-shadow;
		
		&:after {
			opacity: 0.1;
		}
	}
}
