.site-header-sticky {
	
	padding-left: var(--theme-header-sides-spacing);
	padding-right: var(--theme-header-sides-spacing);
	
	--header-background-opacity: 0.95;
	
	@include header-background;
	@include header-shadow;
	
	&:after {
		opacity: 0.1;
	}
	
	&:hover {
		.site-header__row--primary:not(:only-child) {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
		}
	}
	
	.site-header__row--primary:not(:only-child) {
		position: absolute;
		width: 100%;
		margin-left: calc(-1 * var(--theme-header-sides-spacing));
		margin-right: calc(-1 * var(--theme-header-sides-spacing));
		transform: translateY(-100%);
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		transition: transform 0.2s ease 0s, opacity 0.1s ease 0.1s;
		
		@include header-background;
		@include header-shadow;
		
		&:after {
			opacity: 0.1;
		}
	}
	
	.site-header__row--logo {
		
		.site-logo img {
			height: calc(var(--theme-header-logo-height) * 0.35);
		}
	}
}

@include above(lap) {
	
	.site-header {
		
		&--is-sticky {
			--header-background-opacity: 1;
			
			.site-header__wrapper {
				min-height: calc( var(--theme-header-height) * var(--theme-header-scrolled-ratio, 0.75));
				
				&:after {
					opacity: 0.1;
				}
			}
		}
		
		.has-site-header-transparent & {
			position: absolute;
		}
		
		&.site-header--simple[data-sticky='primary'] {
			position: fixed;
		}
	}
}
