.site-header--single-row {
	
	.site-header--primary-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		padding-top: var(--theme-spacing-small);
		padding-bottom: var(--theme-spacing-small);
	}
	
	.site-header__wrapper {
		align-items: stretch;
	}
}
