@import "mixins";

.site-header--mobile {
    display: none;

    &.site-header--scrolled {
        color: var(--current-dark-primary);
    }
}

@media not screen and (min-width: 1000px) {
    @import "mobile";
    @import "mobile-transitions";
}

.site-header,
.site-header--mobile {
    @include wp-offset(top, 0, false);
}

.site-header__inner-container > .site-header__content.alignfull {
    margin-left: calc( -1 * var(--theme-header-sides-spacing) );
    margin-right: calc( -1 * var(--theme-header-sides-spacing) );
}


@media only screen and (min-width: 1000px) {
    .site-header__inner-container {
        transform: none !important;
    }
}