$site-header-transition-speed: .3s !default;

@media only screen and (min-width: 1000px) {

    // used pseudo element to create site header border on its bottom
    // in order to use currentColor and opacity for easier theming
    // and avoiding altering its height
    .site-header__wrapper {
        position: relative;

        display: flex;
        align-items: center;
        min-height: var(--theme-header-height);

        transition: var(--theme-transition);
        transition-property: min-height, color, background-color;
        pointer-events: auto;

        .site-header--main.site-header--sticky & {
            min-height: calc( var(--theme-header-height) * var(--theme-header-scrolled-ratio, 0.75) );
        }

        .site-header--sticky &:after {
            opacity: 0.1;
        }
    }

    .site-header--main {
        top: var(--admin-bar-height, 0);
        left: 0;
        right: 0;
        z-index: 1000;

        min-height: var(--theme-header-height);

        transition: var(--theme-transition);
        transition-property: opacity;

        will-change: transform;
        pointer-events: none;
    }



    .site-header__inner-container {
        width: 100%;
    }

    .site-header--transparent {
        --header-background-opacity: 0;
    }
}

.site-header__inner-container[class] {
    padding-left: var(--theme-header-sides-spacing);
    padding-right: var(--theme-header-sides-spacing);
}

.site-header__row {
    --block-top-spacing: 0;
}
