$site-header-transition-speed: .3s !default;

@media only screen and (min-width: 1000px) {

    .site-header--main {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        @include wp-offset(top, 0, true);

        min-height: var(--theme-header-height);

        transition: var(--theme-transition);
        transition-property: opacity;

        will-change: transform;
        pointer-events: none;
    
        .site-header__row {
        
            &--logo {
                padding-top: var(--theme-spacing-medium);
                padding-bottom: var(--theme-spacing-medium);
            }
            
            &--secondary {
                margin-top: var(--theme-spacing-default);
            }
        }
    }

    .site-header__wrapper {
        position: relative;

        display: flex;
        align-items: center;
        min-height: var(--theme-header-height);

        transition: var(--theme-transition);
        transition-property: min-height, color, background-color;
        pointer-events: auto;

        .has-site-header-fixed .site-header--scrolled &,
        .site-header--main[data-sticky="true"].site-header--sticky & {
            min-height: calc( var(--theme-header-height) * var(--theme-header-scrolled-ratio, 0.75) );
        }
    }

    .site-header__inner-container {
        width: 100%;
    }

    // used pseudo element to create site header border on its bottom
    // in order to use currentColor and opacity for easier theming
    // and avoiding altering its height
    .site-header__wrapper {
       @include header-shadow;
        
        .site-header--sticky & {
            &:after {
                opacity: 0.1;
            }
        }
    }

    .has-site-header-transparent {

        .site-header__wrapper {
            @include header-background;
        }

        &.has-site-header-fixed {
            .site-header--scrolled .site-header__wrapper {
                &:before {
                    --header-background-opacity: .95;
                }
            }
        }
    }
    
    
}

.site-header__inner-container[class] {
    padding-left: var(--theme-header-sides-spacing);
    padding-right: var(--theme-header-sides-spacing);
}

// Fixed site header styles
@media only screen and (min-width: 1000px) {

    .site-header--main:not(.site-header--ready) {
        opacity: 0;
    }

    .has-site-header-fixed .site-header--main:not(.site-header--ready),
    body:not(.has-site-header-fixed) .site-header--main {
        position: absolute;
    }
}


// Inversed site header styles
body.has-site-header-transparent  {

    @include above(lap) {

        &.has-no-spacing-top {
            //&.has-site-header-fixed .site-header:not(.site-header--scrolled) .site-header__wrapper,
            //&:not(.has-site-header-fixed) .site-header .site-header__wrapper,
            .site-header:not([class*="site-header--sticky"]) {
                color: var(--sm-light-primary);

                .c-logo__inverted {
                    opacity: 1;
                }

                .c-logo__default {
                    opacity: 0;
                }
            }

            .c-menu-toggle {
                color: var(--sm-light-primary);
            }
        }

        &.has-site-header-fixed .site-header--scrolled .site-header__wrapper {

            &:after {
                opacity: 0.1;
            }
        }
    }
}

.site-header__row {
    --block-top-spacing: 0;
    
    &--secondary {
    
    }
}
