$enable-separator-block-styles: false;

$assets-folder-path: './assets' !default;
$images-folder-path: '#{$assets-folder-path}/images' !default;

$icon-arrow-svg-path: '#{$images-folder-path}/icon-arrow.svg';
$arrow-down-svg-path: '#{$images-folder-path}/arrow-down.svg';
$caret-svg-path: '#{$images-folder-path}/arrow-caret.svg';
$checkbox-svg-path: '#{$images-folder-path}/checkbox.svg';

/*
 * INPUTS
 */

// Color
$input-color: var(--current-dark-secondary) !default;
$input-disabled-color: var(--current-dark-secondary) !default;
$color-error: #C8164B;

// Placeholder
$input-placeholder-color: var(--curent-dark-primary) !default;
$input-placeholder-opacity: .5 !default;

// Border
$input-border-radius: 0px !default;
$input-border-color: var(--current-light-tertiary) !default;
$input-error-border-color: rgba(map_get($theme_colors, color-primary), 0.5);
$input-disabled-border-color: var(--current-dark-secondary) !default;

// Background Color
$input-background-color: var(--current-light-primary) !default;
$input-disabled-background-color: var(--current-dark-secondary) !default;

// Box Shadow
$input-box-shadow-color: rgba(map_get($theme_colors, dark-primary), 0.3) !default;
$input-focus-box-shadow-color: rgba(map_get($theme_colors, color-primary), 0.5);

// Box
$input-padding: .833em !default;
$input-padding-mobiles: .35em !default;

// Label
$label-color: var(--current-dark-secondary) !default;
$legend-color: var(--current-dark-secondary) !default;

// Checkbox/Radio
$checkbox-color: var(--current-color-primary) !default;
$checkbox-background-color: var(--current-color-primary) !default;
$checkbox-width: 1.25rem !default;
$checkbox-height: 1.25rem !default;

// Input Spacing
$input-vertical-spacing: var(--theme-spacing-tiny) !default;
$input-horizontal-spacing: var(--theme-spacing-tiny) !default; // Checkboxes and Radios
