$enable-separator-block-styles: false;

$assets-folder-path: './assets' !default;
$images-folder-path: '#{$assets-folder-path}/images';

$icon-arrow-svg-path: '#{$images-folder-path}/icon-arrow.svg';
$arrow-down-svg-path: '#{$images-folder-path}/arrow-down.svg';
$caret-svg-path: '#{$images-folder-path}/arrow-caret.svg';
$checkbox-svg-path: '#{$images-folder-path}/checkbox.svg';

$icon-check-path: '#{$images-folder-path}/icon-check.svg';
$icon-info-path: '#{$images-folder-path}/icon-info.svg';
$icon-not-allowed-path: '#{$images-folder-path}/icon-not-allowed.svg';

$icon-minus-path: '#{$images-folder-path}/minus.svg';
$icon-plus-path: '#{$images-folder-path}/plus.svg';

$icon-search-path: '#{$images-folder-path}/icon-search.svg';
$icon-dark-mode-path: '#{$images-folder-path}/icon-dark-mode.svg';
