$enable-separator-block-styles: false;

$assets-folder-path: './assets' !default;
$images-folder-path: '#{$assets-folder-path}/images' !default;

$icon-arrow-svg-path: '#{$images-folder-path}/icon-arrow.svg';
$arrow-down-svg-path: '#{$images-folder-path}/arrow-down.svg';
$caret-svg-path: '#{$images-folder-path}/arrow-caret.svg';
$checkbox-svg-path: '#{$images-folder-path}/checkbox.svg';
