.novablocks-hero__inner-container {

    > .c-headline {
        .c-headline__primary,
        .c-headline__secondary {
            opacity: 0;
        }
    }

    > .c-headline + .c-headline {
        .c-headline__primary,
        .c-headline__secondary {
            opacity: 1;
        }
    }

    > :not(.c-headline) {
        opacity: 0;
    }

    .c-separator__flower {
        color: var(--theme-sm-color-1);
    }
}