.novablocks-hero {
    .wp-block-button:not(.is-style-text) .wp-block-button__link {
        --theme-button-background-color: var(--novablocks-hero-text-color);
        --theme-button-border-color: var(--novablocks-hero-text-color);

        --theme-button-hover-text-color: var(--novablocks-hero-text-color);
        --theme-button-hover-border-color: var(--novablocks-hero-text-color);
    }
}