.wp-block-group {
    --wp-block-group-padding: var(--current-element-padding, var(--theme-spacing-fluid-large));
    
    --wp-block-group-padding-top: calc(var(--novablocks-emphasis-top-spacing) * var(--novablocks-spacing));
    --wp-block-group-padding-bottom: calc(var(--novablocks-emphasis-bottom-spacing) * var(--novablocks-spacing));
    
    &,
    &[class*="is-style"]:not(.is-style-default) {
        padding-top: var(--wp-block-group-padding-top);
        padding-bottom: var(--wp-block-group-padding-bottom);
    }
}

.wp-block-group {

    // We don't need padding-left and padding-right,
    // when this block does not have background.
    &:not([class*='sm-color-signal-0']):not([class*='alignfull']) {

        > [class*="__inner-container"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
